/*@font-face {
	font-family: ngwoff;
	src: url('http://bomtalmo.com/css/font/NanumGothic.woff')
}
@font-face {
	font-family: ngeot;
	src: url('http://bomtalmo.com/css/font/NanumGothic.eot')
}
@font-face {
	font-family: ngbwoff;
	src: url('http://bomtalmo.com/css/font/NanumGothicBold.woff')
}
@font-face {
	font-family: ngbeot;
	src: url('http://bomtalmo.com/css/font/NanumGothicBold.eot')
}*/
/*
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");  */


*{margin:0; padding:0;}
body, div, ul, li, dl, dt, dd, ol, p, h1, h2, h3, h4, h5, h6, form, img, span, table, tr, td, select, input, textarea, option{margin:0; padding:0;}

body{font-size:13px; font-family:'Noto Sans KR'; color:#6a6d6f;}
/* #bbs #bwrite td .note-editor {font-family:'Noto Sans KR';} */
/* #bbs #bread td .note-editor {font-family:'Noto Sans KR';} */

 /* -----기본 링크스타일----- */
a:link{color:#6a6d6f; text-decoration:none;}  
a:visited{color:#6a6d6f;  text-decoration:none;}                                    
a:hover{color:#ff4e57; text-decoration:none;}


caption, legend{font-size:0px; width:0px; height:0px; overflow:hidden; position:absolute; visibility:hidden;}

img{border:0px; -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality;}

fieldset,img{border:0; vertical-align:top; max-width:100%}

table{border-collapse:collapse; border-spacing:0; border:0;}

input,textarea,select{font-family:inherit; font-size:inherit; font-weight:inherit;}

ul,ol,dl{list-style:none;}

textarea{overflow:auto;} 

button,label{cursor:pointer;}

.input_radio_in1{display:inline; width:13px; height:13px; margin:-5px 2px 0 5px; vertical-align:middle;}

/* h1{font-size:12px;} */
/* h2{font-size:12px;} */
/* h3{font-size:12px;} */
/* h4{font-size:12px;} */
/* h5{font-size:12px;} */
/* h6{font-size:12px;} */

.ml10{margin:-7px 0 0 10px;}


/*hr{display:none; clear:both;}*/

.skip{position:absolute; width:1px; height:1px; border:1px; top:-5000em; overflow:hidden;}
.disno{display:none;}
.hidden{display:none;}

/* 관리자 에디터에서 ol, ul 붙혔을경우 읽기페이지에서 나오기 */
.table_wrap ul{list-style:inside; padding-left:15px;}
.table_wrap ol{list-style:decimal; padding-left:15px;}