@charset "utf-8";

.colR01{color:#ea1c5b;} /*빨강*/
.colR02{color:#ff004e;} /*빨강*/
.colB01{color:#307dd4;} /*파랑*/
.colB02{color:#00aeff;} /*파랑*/
.colY01{color:#f4a100;} /*노랑*/
.colG01{color:#527c09;} /*녹색*/
.colP01{color:#7234ff;} /*보라*/
.colPi01{color:#e40aa9;} /*핑크*/
.colBl01{color:#000;} /*블랙*/


.blue_col {color:#307dd4;} /*파랑*/
.red_col {color:#ea1c5b;} /*빨강*/
.gre_col {color:#008000;} /*녹색*/
.yel_col {color:#ffa500;} /*노랑*/
.black_col {color:#222;} /*블랙*/
.blod {font-weight:700;}
.vaM {vertical-align:middle;}

.disB{display:block;}

.mt10{margin-top:10px;}
.marT05 {margin-top:5px;}

.font11{font-size:11px;}
.font12{font-size:12px;}


.typeUl{float:left;}
.typeUl li{float:left; margin:0 5px 0 0;}


.typeUl20{overflow:hidden;}
.typeUl20 li{float:left; width:20%;}

.tc{text-align:center !important;}

/*반반영역*/
.section{overflow:hidden; width:100%;}
.section .section_l{float:left; width:49%;}
.section .section_r{float:right; width:49%;}


/*리스트 위아래아이콘*/
.sort{position:absolute; right:5px; top:20%; width:13px;}/*제목이 한줄*/
.sort img {cursor:pointer; vertical-align:middle;}

.sort2{position:absolute; right:5px; top:20%; width:13px; }/*제목이 한줄 (한줄,두줄 썩여있을때)*/
.sort2 img {cursor:pointer; vertical-align:middle;}

.sort3{position:absolute; right:5px; top:20%; width:13px;}/*제목이 한줄이였다가 두줄로 바뀌면서 (한줄,두줄 썩여있을때)*/
.sort3 img {cursor:pointer; vertical-align:middle;}


select{font-size:13px; color:#2e2e2e; height:30px; border:1px solid #d4d4d4; vertical-align:middle;}
option {color:#2e2e2e;}
input[type="text"]{font-size:13px; color:#2e2e2e; height:30px; border:1px solid #d4d4d4; padding:2px 0 0 3px; box-sizing:border-box; vertical-align:middle;}
input[type="password"]{font-size:13px; color:#2e2e2e; height:30px; border:1px solid #d4d4d4; padding:2px 0 0 3px; box-sizing:border-box;}
input[type="checkbox"]{width:14px; height:14px; vertical-align:middle;}
input[type="radio"]{width:14px; height:14px; vertical-align:middle; margin:0;}
input[type="file"]{font-size:13px; color:#2e2e2e; height:30px; border:1px solid #cccccc; padding:2px 0 0 3px; background:#fff; box-sizing:border-box;}
input#id{ime-mode:inactive;}
input#name{ime-mode:active;}
input#email{ime-mode:inactive;}
input#dong{ime-mode:active;}
input#title{ime-mode:active;}
input#contents{ime-mode:active;}
input.password{ime-mode:inactive;}
textarea{border:1px solid #cccccc;}
form input[type="radio"] {margin:0;}
select#hospital_fk {width:auto;}
select#clinic_fk {width:auto;}
select#emailhistory_fk {width:auto;}

.input15p{width:15%; max-width:150px;}
.input20p{width:20%; max-width:200px;}
.input30p{width:30%; max-width:300px;}
.input40p{width:50%; max-width:400px;}
.input50p{width:50%; max-width:500px;}
.input60p{width:60%; max-width:600px;}
.input70p{width:70%; max-width:700px;}
.input80p{width:80%; max-width:800px;}
.input90p{width:92%; max-width:900px;}
.input92p{width:92%; max-width:920px;}
.input98p{width:98%; max-width:980px;}

#bbs .w1{width:1% !important; min-width:10px;}
#bbs .w2{width:2% !important; min-width:20px;}
#bbs .w3{width:3% !important; min-width:50px;}
#bbs .w4{width:4% !important;}
#bbs .w5{width:5% !important;}
#bbs .w6{width:6% !important;}
#bbs .w7{width:7% !important; min-width:70px;}
#bbs .w8{width:8% !important; min-width:80px;}
#bbs .w9{width:9% !important;}
#bbs .w10{width:10% !important; }
#bbs .w11{width:11% !important; }
#bbs .w12{width:12% !important;}
#bbs .w12.date_t{width:12% !important; min-width:145px;}
#bbs .w13{width:13% !important;}
#bbs .w14{width:14% !important;}
#bbs .w15{width:15% !important;}
#bbs .w17{width:17% !important;}
#bbs .w18{width:18% !important;}
#bbs .w19{width:19% !important;}
#bbs .w20{width:20% !important;}
#bbs .w23{width:23% !important;}
#bbs .w24{width:24% !important;}
#bbs .w25{width:25% !important;}
#bbs .w27{width:27% !important;}
#bbs .w28{width:28% !important;}
#bbs .w30{width:30% !important;}
#bbs .w32{width:32% !important;}
#bbs .w35{width:35% !important;}
#bbs .w40{width:40% !important;}
#bbs .w41{width:41% !important;}
#bbs .w43{width:43% !important;}
#bbs .w47{width:47% !important;}
#bbs .w49{width:49% !important;}
#bbs .w50{width:50% !important; min-width:250px;}
#bbs .w52{width:52% !important;}
#bbs .w55{width:55% !important;}
#bbs .w60{width:60% !important;}
#bbs .w70{width:70% !important;}
#bbs .w80{width:80% !important;}
#bbs .w85{width:85% !important;}
#bbs .w90{width:90% !important;}
#bbs .w98{width:98% !important;}
#bbs .w100{width:100% !important;} 

#bbs .w100m2{width:100% !important; max-width:200px;}
#bbs .w100m25{width:100% !important; max-width:250px;}
#bbs .w100m50{width:100% !important; max-width:500px;}
#bbs .w10m100{width:10% !important; min-width:100px;}

#bbs .minW60{min-width:60px !important;}
#bbs .minW80{min-width:80px !important;}
#bbs .minW85{min-width:85px !important;}
#bbs .minW95{min-width:95px !important;}



#bbs .upserch{width:calc(100% - 270px);}
#bbs .upserch02{width:calc(100% - 155px);}
#bbs .upserch03{width:calc(100% - 70px);}
#bbs .upserch04{width:calc(100% - 300px);}
.upserch05{width:calc(100% - 60px);}
#bbs .upserch06{width:calc(100% - 255px); min-width:17px;}

input.bor_blue{border:1px solid #307dd4;}



/* 버튼 */
.btn_in,
.btn_in *{display:inline-block;overflow:visible;position:relative;margin:0;padding:0;border:0; font-size:11px; color:#797979;text-decoration:none !important;vertical-align:top;white-space:nowrap; font-weight:bold;}
.btn_in{margin:0 4px 0 0px;}
.btn_in *{left:4px;cursor:pointer;_cursor:hand;}
.btn_in.inbtn{height:26px;line-height:26px; background-position:left 0;}
.btn_in.inbtn *{height:26px;line-height:26px; padding:0 10px;background-position:right top;font-size:11px;}
.btn_in.inbtn02 *{height:40px;line-height:40px; padding:0 10px; font-size:15px; color:#fff; background:#87888a; font-weight:300; min-width:67px;}
.btn_in.strong *{font-weight:bold !important}

/*게시판 시작 */
#bbs{position:relative; margin-bottom:50px; padding:0; width:100%;  color:#5e5e5e;}

#bbs .entered_into{width:100%; margin:0 0 20px 0; padding:13px 1%; border:1px solid #e1e3e4; background:#fcfcfc; box-sizing:border-box;}
#bbs .entered_into.up_type{font-size:16px; height:54px;}
#bbs #blist > p {font-size:14px; color:#222; margin-bottom:10px;}
#bbs #blist > p .middle {color:#e9e9e9; display:inline-block; margin: 0 5px;}
#bbs #blist .top_search table{margin:0 0 20px 0;}
#bbs #blist .top_search table{position:relative; width:100%; height:100%; border-top:2px solid #313236; border-bottom:1px solid #313236; color:#53728b; font-size:13px;}
#bbs #blist .top_search table tbody td{text-align:left;}
#bbs #blist .top_search table tbody th{background:#eeeff0;  border-bottom:1px solid #e1e3e4; color:#222; height:60px;word-break:keep-all;}
#bbs #blist .top_search table tbody td{padding:5px 10px; background:none; border-bottom:1px solid #e1e3e4;}

#bbs #blist .holiday {color:#ea1c5b;}
#bbs #blist .satur {color:#307dd4;}

/* nodata */
.nodata{width:100% !important;text-align: center;padding-top: 100px;box-sizing:border-box;font-family:'Nanum Gothic', sans-serif;}
.nodata p{font-size:18px;font-weight: bold; letter-spacing: -0.05em; color:#444;padding-top: 20px;}



/*정산관리*/
#bbs #blist table.calculateTable{position:relative; width:100%; height:100%; margin:0;}
#bbs #blist table.calculateTable tbody th{padding:5px 10px; text-align:center; background: #e7ecf2 url(/manage/img/blist_td_line.gif) repeat-y left top; border-bottom:1px solid #cccdd0; color:#7ca6de;}
#bbs #blist table.calculateTable tbody td{padding:5px 10px; text-align:center; background:url(/manage/img/blist_td_line.gif) repeat-y left top; border-bottom:1px solid #cccdd0; color:#7ca6de;}

#bbs #blist table.calculateTable_foot{border:none;}
#bbs #blist table.calculateTable_foot tbody th{padding:5px 10px; text-align:center;  background: #e7ecf2 url(/manage/img/blist_td_line.gif) repeat-y left top; border-bottom:1px solid #cccdd0; color:#e40909; }
#bbs #blist table.calculateTable_foot tbody td{padding:5px 10px; text-align:center; background:url(/manage/img/blist_td_line.gif) repeat-y left top; border-bottom:1px solid #cccdd0; color:#e40909;}


/*list ------------------------------------------------------------------------------------------------------------------------------------------------- */
#bbs #blist{width:100%; margin:10px 0; padding:0; overflow:hidden;}
#bbs h3{margin:0 0 10px 0; color:#222; font-size:18px;}

#bbs #blist table{position:relative; width:100%; height:100%; border-top:#4a4b4f 2px solid; color:#53728b; font-size:11px;}

#bbs #blist table thead {width:100%; color:#222; background:#eeeff0;}
#bbs #blist table thead th{position:relative; height:60px; border-bottom:1px solid #ccced0; border-right:1px solid #f3f4f4; font-size:14px; font-weight:500; box-sizing:border-box;}
#bbs #blist table thead th:last-of-type{border-right:0;}

#bbs #blist table tbody td{padding:10px 5px; height:50px; text-align:center; border-right:1px solid #e1e3e4; border-bottom:1px solid #e1e3e4; font-size:13px; color:#444; font-weight:400; box-sizing:border-box; word-break:break-all}
#bbs #blist table tbody td:last-of-type{border-right:0;}
#bbs #blist table tbody td.tdLine_l{padding:13px 2px; text-align:center;/*  font-weight:bold; */ background:url(/manage/img/blist_td_line.gif) repeat-y left top; border-bottom:1px solid #cccdd0;}
#bbs #blist table tbody td.title{ text-align: left; padding-left:10px;  }

#bbs #blist .noti_icon {display:inline-block; width:34px; height:22px; box-sizing:border-box; line-height:21px; font-size:11px; color:#ea1c5b; border:1px solid #ea1c5b; text-align:center; vertical-align: middle;}
#bbs #blist .new_icon {display:inline-block; width:37px; height:22px; box-sizing:border-box; line-height:21px; font-size:11px; text-align:center; font-weight:300; vertical-align: middle;}
#bbs #blist .ans_icon {display:inline-block; width:30px; height:17px; margin-right:4px; box-sizing:border-box; line-height:18px; font-size:12px; color:#fff; background:#307dd4; vertical-align:baseline; text-align:center;}
#bbs #blist .new_icon.gre {color:#99d802; border:1px solid #99d802;}
#bbs #blist table tbody tr.on td {background:#fcfcfc;}

/*통계테이블*/
#bbs #blist table.statsTable tbody th{background:#e4e4e4 url(/manage/img/blist_td_line.gif) repeat-y;  border-bottom:1px solid #cccdd0;}
#bbs #blist table.statsTable tbody th.frist{background-image:none !important; background-color:#e4e4e4;}

/*합계*/
#bbs #blist table.statsTable tbody .total{background-color:#e4e4e4;}
#bbs #blist table.statsTable tbody .totalSpot{background-color:#fbe4d5;}
#bbs #blist table.statsTable tbody .totalPart{background-color:#fff3cb;}
#bbs #blist table.statsTable tbody .totalPart th{background-color:#fff3cb;}


#bbs #blist table.statsTable tfoot th{background:#e4e4e4 url(/manage/img/blist_td_line.gif) repeat-y;  border-bottom:1px solid #cccdd0;}
#bbs #blist table.statsTable tfoot th.frist{background-image:none !important; background-color:#e4e4e4;}
#bbs #blist table.statsTable tfoot td{padding:13px 2px; text-align:center; /* font-weight:bold;  */background:url(/manage/img/blist_td_line.gif) repeat-y left top; border-bottom:1px solid #cccdd0;}
#bbs #blist table.statsTable tfoot .total{background-color:#e4e4e4;}/*합계*/
#bbs #blist table.statsTable tfoot .totalFoll{background-color:#deebf6; }
#bbs #blist table.statsTable tfoot th.totalFoll{background-color:#deebf6; }

dd{position: relative;				}

/*공지*/
/*#blist .point{ background:#f9f9f9;}
#blist .point .title{font-size:12px; font-weight:bold;}*/

/*faq 카테고리*/
#blist .faqlist{width:100%; overflow:hidden; margin:0 0 20px 0; font-size:12px;}
#blist .faqlist ul{width:96%; padding:7px 8px; float:left; border:1px solid #ebebeb;}
#blist .faqlist ul li{width:auto; float:left; margin:0 5px 0 0;}
#blist .faqlist a{display:block; /*width:130px;*/ height:39px; line-height:39px; background:#87888a; color:#fff; font-size:15px; font-weight:300; text-align:center; min-width:130px; padding:0 10px;}
#blist .faqlist a:hover,#blist .faqlist li.active a {text-decoration:none; background:#307dd4;}
/*faq 분류관리 분류명 */
#blist .faqlist fieldset{display:block; padding:8px 2%; border:1px solid #c3c7ce;}
#blist .faqlist label{font-size:15px; color:#313337; vertical-align:middle;}
/*faq 분류관리 검색 input */
#blist .faqlist input.faqcata {vertical-align:middle; width:182px; height:34px; margin:0 5px 0 10px; border:1px solid #d4d4d4; box-sizing:border-box;}
/*faq 목록형 게시판 카테고리 input*/
#blist input[type="text"].faqcatt {width:100%; box-sizing:border-box;}

/*faq - 분류별*/
#blist .faq{border-top:2px solid #c4c4c4; margin:0 0 0 0; overflow:hidden; width:100%; line-height:160%;}
#blist .faq img{position:relative; top:3px; left:8px; margin:0 10px 0 0px; float:left; /*width:17px; height:17px;*/}
#blist .faq dl{border-bottom:1px solid #dcdcdc; float:left; width:100%;}
#blist .faq dt{font-weight:bold; padding:6px 0 6px 0; float:left; width:100%; cursor:pointer;}
#blist .faq dt a{display:block; cursor:pointer;}
#blist .faq dt span{display:inline-block; width:92%; float:left; padding:3px 5px;}
#blist .faq dd{padding:6px 0 0 0; height:auto; margin:0; background:#f6f6f6; float:left; width:100%; display:none;}
#blist .faq dd span{display:inline-block; width:92%; float:left; padding:3px 5px;}
#blist .faq a:hover{text-decoration:underline;}
#blist .faq dd .video{width:100%;}

/*목록이미지, 치료정보*/
#blist .lcon dl.beafcon{overflow:hidden; margin:0 0 5px 0; padding:0 10px;}
#blist .lcon dl.beafcon dt{float:left;}
#blist .lcon dl.beafcon dd{float:left;}


/*치료사례 사진*/

/*등록된 게시물이 없을때(치료사례[before&after])*/
#blist .beafphoto .bbsno{}
#blist .beafphoto .bbsno p{padding:10px 0; text-align:center;}

/* 치료사례*/
/*#blist .beafphoto{position:relative; width:100%; height:100%; padding:18px 0 0 0; float:left; border-top:#c4c4c4 2px solid; border-bottom:1px solid #dcdcdc; color:#53728b; font-size:11px;}*/
#blist .beafphoto dl{font-size:0}
#blist .beafphoto dd{font-size:12px; color:#444;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#blist .beafphoto .photo p {position:relative; display:inline-block;}
#blist .beafphoto .photo p img {width:130px; height:130px;}
#blist .beafphoto .photo p span.lbbtn {position:absolute; display:block; z-index:2; bottom:0; left:0; width:51px; height:17px; text-align:center; line-height:17px; font-size:11px; color:#fff; background:#666;}
#blist .beafphoto .photo p span.lbbtn.no02 {background:#ea1c5b;}

#blist .beafphoto ul{margin:0; padding:30px 0 0; list-style:none; overflow:hidden; border-top:2px solid #313236; border-bottom:1px solid #e1e3e4;}
#blist .beafphoto ul li{float:left; width:360px; height:349px; margin:0 20px 30px 20px;}

/*치료전후사진*/
#blist .beafphoto ul li .bfphoto{width:100%; overflow:hidden; }
#blist .beafphoto ul li .bfphoto dt,#blist .beafphoto ul li .bfphoto dd{position:relative;  float:left; width:180px; height:180px;}
#blist .beafphoto ul li .bfphoto .photo {height:100%;}
#blist .beafphoto ul li .bfphoto .photo img {width:100%; height:100%;}
#blist .beafphoto ul li .bfphoto dt span{position:absolute; display:block; z-index:2; bottom:0; left:0; width:51px; height:17px; text-align:center; line-height:17px; font-size:11px; color:#fff; background:#666;}
#blist .beafphoto ul li .bfphoto dd span{position:absolute; display:block; z-index:2; bottom:0; left:0; width:51px; height:17px; text-align:center; line-height:17px; font-size:11px; color:#fff; background:#ea1c5b;}

/*치료전후내용*/
#blist .beafphotocc{width:100%; height:170px; padding:19px; font-size:11px; color:#2e2e2e; background:#fcfcfc; box-sizing:border-box; border:1px solid #eae8e8; border-top:0;}
#blist .beafphotocc .photoday {margin-bottom:10px;}
#blist .beafphotocc .photoday .b_nor_c {margin-right:12px;}
#blist .beafphotocc .photoday .btn_wrap span:last-of-type{margin-right:15px;}
#blist .beafphotocc .photoday .fontn {font-size:13px; color:#666; vertical-align:middle;}
#blist .beafphotocc dt{font-size:15px; margin:0 0 10px 0; color:#222; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

#blist .beafphotocc .under {margin-top:15px; font-size:12px; color:#666; vertical-align:middle;}
#blist .beafphotocc .under span {vertical-align:middle;}
#blist .beafphotocc .under span img {display:inline-block; margin-right:5px; vertical-align:initial;}
#blist .beafphotocc .under i {display:inline-block; width:1px; height:11px; background:#eaeaea; vertical-align:middle; margin:0 7px;}


/*등록된 게시물이 없을때(갤러리형)*/
#blist .gallery td {}
#blist .gallery .bbsno{}
#blist .gallery .bbsno p{padding:10px 0; text-align:center;}

/*포토갤러리*/
#blist .gallery .photo{width:280px; height:180px; background:#efefef;}
#blist .gallery .photo img {width:280px; height:180px;}
#blist .gallery .photo img.noimg {max-width:280px; max-height:180px; width:auto; height:auto;}
#blist .gallery{width:100%; padding:18px 0 18px 0; border-top:2px solid #313236; border-bottom:1px solid #dcdcdc; overflow:hidden;}
#blist .gallery ul{overflow:hidden;}
#blist .gallery ul li {width:280px; height:350px; float:left; margin:0 15px 40px 15px;}
#blist .gallery .gall_txt {width:100%; height:170px; padding:19px; font-size:11px; color:#2e2e2e; background:#fcfcfc; box-sizing:border-box; border:1px solid #eae8e8; border-top:0;}
#blist .gallery .gall_txt .photoday {margin-bottom:10px;}
#blist .gallery .gall_txt .photoday .b_nor_c {margin-right:12px;}
#blist .gallery .gall_txt .photoday .btn_wrap span:last-of-type{margin-right:15px;}
#blist .gallery .gall_txt .photoday .fontn {font-size:13px; color:#666; vertical-align:middle;}
#blist .gallery .gall_txt a {display:inline-block; font-size:15px; margin:0 0 10px 0; color:#222;max-height: 50px;overflow:hidden;}
#blist .gallery .gall_txt .under {margin-top:15px; font-size:12px; color:#666; vertical-align:middle;}
#blist .gallery .gall_txt .under span {vertical-align:middle;}
#blist .gallery .gall_txt .under span img {display:inline-block; margin-right:5px; vertical-align:initial;}
#blist .gallery .gall_txt .under i {display:inline-block; width:1px; height:11px; background:#eaeaea; vertical-align:middle; margin:0 7px;}

/*온라인예약*/
#bbs #blist span.reserFirst {color:#008000; font-weight:700;}
#bbs #blist span.reserSecond {color:#1559aa; font-weight:700;}
#bbs #blist span.resercancel {color:#ea1c5b;}
#bbs #blist span.reserconfirm {color:#307dd4;}
#bbs #blist span.reserwaiting {color:#27aa15;}
#bbs #blist span.reser1 {color:#008000;}
#bbs #blist span.roffline {color:#008000;}
#bbs #blist span.ronline {color:#ffa500;}
#bbs #blist table .date_wrap {vertical-align:middle;}
#bbs #blist table .date_wrap input[type="text"] {width:calc(50% - 64px); min-width:50px;}
#bbs table span#CalstartdayIcon {display:inline-block; vertical-align:middle;}
#bbs table span#CalenddayIcon {display:inline-block; vertical-align:middle;}
#bbs table span#CalregistdateIcon {display:inline-block; vertical-align:middle;}
.reser_wrap {width:235px; display:inline-block; margin-bottom:5px;}
.inb > a {margin-bottom:3px;}
@media all and (max-width:1518px){
	#bbs #blist table .date_wrap .inb{display:block;margin-top: 5px;}
}


/*온라인예약 팝업*/
.reserv_table .tit {background:#307dd4; color:#fff; font-size:20px; font-weight:300;}
.reserv_table .check_t {font-size:14px; color:#666; vertical-align:middle; border-bottom:1px solid #e5e5e5;} 
.reserv_table .check_t td {padding:30px 0;}
.reserv_table .check_t label.marR10 {margin-right:15px;}
.reserv_table .check_t input {vertical-align:middle; margin:0 4px 0 0;} 
.reserv_table .btnAll {text-align:center; padding:20px 0 0;}
.reserv_table .blue_btn {display:inline-block; width:auto; margin-right:15px; padding:0 14px; height:36px; color:#307dd4; font-size:14px; vertical-align:middle; text-align:center; border:1px solid #307dd4; line-height:34px; background:#fff; box-sizing:border-box;}
.reserv_table .red_btn {display:inline-block; padding:0 14px; height:36px; color:#ea1c5b; font-size:14px; vertical-align:middle; text-align:center; border:1px solid #ea1c5b; line-height:34px; background:#fff; box-sizing:border-box;}

/*온라인예약 -지점별일일예약내역*/
#bbs #blist table.hospitalDayTable{position:relative; width:100%; height:100%; border-top:#4a4b4f 2px solid; color:#53728b; font-size:11px;}

#bbs #blist table.hospitalDayTable thead{width:100%; color:#797979; background:#dddddd; color:#000;}
#bbs #blist table.hospitalDayTable thead th{position:relative; padding:13px 2px; border-bottom:1px solid #ccced0; font-size:12px; background:url(/manage/img/blist_td_line.gif) repeat-y;}
#bbs #blist table.hospitalDayTable thead th .time{background-image:none !important; background-color:#b0d5ff; color:#1559aa;}


#bbs #blist table.hospitalDayTable tbody .hourly{border-bottom:1px dashed #2d2d2d !important; } /* th 1시간마다 라인처리*/
#bbs #blist table.hospitalDayTable tbody tr.hourly td{border-bottom:1px dashed #2d2d2d !important; } /* td 1시간마다 라인처리*/

#bbs #blist table.hospitalDayTable tbody th{padding:13px 2px; text-align:center; font-weight:bold; border-bottom:1px solid #cccdd0;  background-color:#e2f0ff; }
#bbs #blist table.hospitalDayTable tbody th .memoView{background:#fff;}

#bbs #blist table.hospitalDayTable tbody{/*background-color:#f2f4f5;*/  }
#bbs #blist table.hospitalDayTable tbody td{padding:0 2px; text-align:left;  vertical-align:top; font-weight:normal; background:#f2f4f5 url(/manage/img/blist_td_line.gif) repeat-y;}
#bbs #blist table.hospitalDayTable tbody td.tdCon{padding:0px 2px 0 2px; text-align:left;vertical-align:top; font-weight:normal; background:#fff url(/manage/img/blist_td_line.gif) repeat-y;  }
#bbs #blist table.hospitalDayTable tbody td.lineNo{border-bottom:none;}

#bbs #blist table.hospitalDayTable tbody td.tdCon div.tdline{position:relative; padding:15px 0px;}
#bbs #blist table.hospitalDayTable tbody td.tdCon ul li{margin:0 0 20px 0;}

#bbs #blist table.hospitalDayTable tbody td.tdCon .memoZone{padding:20px 0 0 0; border-top:1px dotted #b3b3b3; }
#bbs #blist table.hospitalDayTable tbody td.tdCon .memoZone ul li{margin:0 0 5px 0;}
#bbs #blist table.hospitalDayTable tbody td.tdCon .memoZone ul li{margin:0 0 5px 0; }

#bbs #blist table.hospitalDayTable tbody td.tdCon .section_r ul li{margin:0 0 5px 0;}

#bbs #blist table.hospitalDayTable tbody .plusReser{position:absolute; right:0; top:2px;}
#bbs #blist table.hospitalDayTable tbody .plusMemo{position:absolute; right:0; bottom:2px; }

/* ==색 ==*/
#bbs #blist table.hospitalDayTable .black{color:#000;}
#bbs #blist table.hospitalDayTable .green{color:#02530c;}
#bbs #blist table.hospitalDayTable .blue{color:#0f24c4;}
#bbs #blist table.hospitalDayTable .sky{color:#00a2dd;}
#bbs #blist table.hospitalDayTable .red{color:#ff0000;}

option.gree {color:#008000;}

.bgBlack{display:inline-block; margin:0 1px; padding:0 1px; background:#000; color:#fff;}
.bgGreen{display:inline-block; margin:0 1px; padding:0 1px; background:#02530c; color:#fff;}
.bgYeGreen{display:inline-block; margin:0 1px; padding:0 1px; background:#018b12; color:#fff;}
.bgRed{display:inline-block; margin:0 1px; padding:0 1px; background:#ff0000; color:#fff;}
.bgBlue{display:inline-block; margin:0 1px; padding:0 1px; background:#0f24c4; color:#fff;}
.bgPink{display:inline-block; margin:0 1px; padding:0 1px; background:#e40aa9; color:#fff;}
.bgSky{display:inline-block; margin:0 1px; padding:0 1px; background:#00a2dd; color:#fff;}

/*취소선*/
.revoke{text-decoration:line-through;}

/*글씨 기울임*/
.ft_italic{font-style: italic;}    


/*read -------------------------------------------------------------------------------------------------------------------------------------------- */
#bbs #bread{position:relative; width:100%; margin:5px 0; padding:5px 0 0 0;  overflow:hidden;}

#bbs #bread .ffnor td {font-family:'Noto Sans KR';}
#bbs #bread h3.minTitle{margin:0 0 14px 0; color:#222; font-size:22px; font-weight:bold; line-height:1;}
/* #bbs #bread h3 span{font-size:10px;} */

#bbs #bread .table_wrap > table{position:relative; width:100%; height:100%; border-top:#313236 2px solid; color:#53728b; margin:0 0 20px 0;}

#bbs #bread .table_wrap > table thead th{padding:11px; background:#eeeff0; color:#222; font-size:13px; border-bottom:1px solid #e1e3e4; text-align:left;}
#bbs #bread .table_wrap > table thead th.line{background:#eeeff0 url(/manage/img/blist_td_line.gif) repeat-y left top;}

#bbs #bread .table_wrap > table tbody th{padding:11px 0 11px 25px; background:#eeeff0; color:#222; font-size:14px; border-bottom:1px solid #e1e3e4; text-align:left; font-weight:500;}
#bbs span.col01 {color:#ea1c5b; display:inline-block; margin-right:3px;}
#bbs th span.col01 {margin-left:-9px;}
#bbs #bread .table_wrap > table > tbody > tr > td{padding:11px; border-bottom:1px solid #e1e3e4; color:#656668;word-break:break-all;}
#bbs #bread .table_wrap > table > tbody > tr > td.rep_t {padding:0;}

#bbs #bread .table_wrap > table > tbody > tr > td.tc{text-align:center;}
#bbs #bread .table_wrap > table > tbody > tr > td.tr{text-align:right;}
#bbs #bread .table_wrap > table > tbody > tr > td.line{background:url(/manage/img/blist_td_line.gif) repeat-y left top;}
#bbs #bread .table_wrap > table > tfoot > tr > th{padding:11px; background:#eeeff0; color:#323337; font-size:13px; border-bottom:1px solid #bec0c4; text-align:left; text-align:center;}
#bbs #bread .table_wrap > table > tfoot > tr > td{padding:11px; border-bottom:1px solid #bec0c4; color:#656668;}
#bbs #bread .table_wrap > table > tfoot > tr > td.line{background:url(/manage/img/blist_td_line.gif) repeat-y left top;}
#bbs #bread .table_wrap > table > tfoot > tr > td.tr{text-align:right;}


#bbs td p.he_txt {font-size:13px; margin-bottom:5px; color:#444;}

/* 이메일 상세페이지 css제거 */
/*
#bbs #bread table table{position:relative; width:100%; height:100%; border-top:none; color:#53728b; margin:0 0 20px 0;}
#bbs #bread table table thead th{padding:0px; background:none; color:#323337; font-size:13px; border-bottom:none; text-align:left;}
#bbs #bread table table tbody th{padding:0px; background:none; color:#323337; font-size:13px; border-bottom:none; text-align:left;}
#bbs #bread table table tbody td{padding:0px; border-bottom:none; color:#656668;}
*/


/*답글*/
#bread .reple{position:relative; height:auto; margin:20px 0 20px 0; padding:10px 0px 10px 0px; background:#fcfcfc; font-size:11px; overflow:hidden; border:1px solid #d4d4d4;}
#bread .reple dl{position:relative; margin:0 30px; padding:13px 0px 10px 0px; border-bottom:1px solid #d4d4d4;}
#bread .reple dt{color:#444; margin:0 0 20px 0; font-size:13px;}
#bread .reple strong{color:#222;}
#bread .reple dt i {vertical-align:middle; display:inline-block; width:1px; height:11px; background:#e1e3e4; margin:0 10px;}
#bread .reple dd{color:#444; font-size:13px; line-height:1.6em;}

/*수정,삭제 버튼*/
#bread .reple .reEdit{position:absolute; top:10px; right:20px;}
#bread .reple .reEdit a{text-decoration:none; color:#2e2e2e;}
#bread .reple .reEdit a:hover{text-decoration:underline; color:#2e2e2e;}

/*답글쓰기*/
#bread .rego{position:relative; height:100%; margin:5px 0 0; padding:0px;}
#bread .rego dl{overflow:hidden; border:none 0;}
#bread .rego dt{width:100%; overflow:hidden; margin:0;}
#bread .rego dt input{width:150px; float:left; margin-right:5px;}
#bread .rego dd{width:100%; margin-top:10px; overflow:hidden; box-sizing:border-box;}
#bread .rego dd textarea{width:calc(100% - 114px); float:left; height:70px; padding:5px; border:1px solid #c6cdd8; resize:none; box-sizing:border-box;}
#bread .rego dd .btn {float:left; margin:0 0 0 10px; padding:0;}
#bread .rego dd .btn .blue_btn {width:104px; height:70px; font-size:13px; line-height:68px;}
#bread .rego .btnAll{width:85px; display:inline; margin:35px 0 0 0px; text-align:left; float:left;}

/*댓글삭제 폼*/
.box{ width:224px; height:auto; padding:3px; border:1px solid #e2e1f8;}
.in_box{position:relative; width:220px; height:50px; border:2px solid #d4d4d4;  background:#f6f6f6;}
.in_box p{position:absolute; top:-15px; right:5px;}
.in_box dl{margin:20px 0 0 0;}
.in_box dl dt{float:left; margin:0 5px 0 5px; font-weight:bold;}
.in_box dl dt dd{float:left;}

/*치료사례 사진*/

#bread .rcon .beafphoto .photo{width:284px; height:284px;}/*여기 사이즈를 바꿔주세요 (dt,dd 사이즈도 같이)*/

#bread .rcon .beafphoto{float:left; width:96%; min-height:10px; margin:0; padding:0; text-align:center;}
#bread .rcon .beafphoto dl{width:615px; height:285px; margin:0 auto; padding:10px; overflow:hidden; background:url(/manage/img/beaf_next.gif) no-repeat 50% 50%;}
#bread .rcon .beafphoto dt{position:relative; width:284px; height:284px; float:left; background:#f6f6f6;}
#bread .rcon .beafphoto dt span{position:absolute; display:block; z-index:2; bottom:0; left:0; width:51px; height:17px; text-align:center; line-height:17px; font-size:11px; color:#fff; background:#666;}
#bread .rcon .beafphoto dt span.no02 {background:#ea1c5b;}
#bread .rcon .beafphoto dd{position:relative; width:284px; height:284px; float:right; background:#f6f6f6;}
#bread .rcon .beafphoto dd span{position:absolute; display:block; z-index:2; bottom:0; left:0; width:51px; height:17px; text-align:center; line-height:17px; font-size:11px; color:#fff; background:#ea1c5b;}

/*write -------------------------------------------------------------------------------------------------------------------------------------------- */

#bbs #bwrite{position:relative; width:100%; margin:10px 0; padding:20px 0 0 0;  overflow:hidden;}
/* #bbs #bwrite h3{margin:0 0 14px 0; padding:0 0 0 13px; background:url(/manage/img/h3_bullet.gif) no-repeat left center; color:#255182; font-size:16px; font-weight:bold;} */
#bbs #bwrite .inputTitle {width:125px;}

#bbs #bwrite .table_wrap > table{position:relative; width:100%; height:100%; border-top:#313236 2px solid; color:#53728b; margin:0 0 20px 0;}
#bbs #bwrite .table_wrap > table > thead > tr > th{padding:11px; background:#eeeff0; color:#323337; font-size:13px; border-bottom:1px solid #bec0c4; text-align:center;}
#bbs #bwrite .table_wrap > table > thead > tr > th.line{background:#eeeff0 url(/manage/img/blist_td_line.gif) repeat-y left top;}
#bbs #bwrite .table_wrap > table > thead > tr > td{padding:11px; border-bottom:1px solid #bec0c4; color:#656668;}

#bbs #bwrite .table_wrap > table > tbody > tr > th{padding:11px 0 11px 25px; background:#eeeff0; color:#323337; font-size:14px; border-bottom:1px solid #e1e3e4; text-align:left; font-weight:500;}
#bbs #bwrite .table_wrap > table > tbody > tr > td{padding:11px; border-bottom:1px solid #e1e3e4; color:#656668;}
#bbs #bwrite .table_wrap > table > tbody > tr > td.tc{text-align:center;}
#bbs #bwrite .table_wrap > table > tbody > tr > td.line{background:url(/manage/img/blist_td_line.gif) repeat-y left top;}

#bbs #bwrite .table_wrap > table > tfoot > tr > th{padding:11px; background:#eeeff0; color:#323337; font-size:13px; border-bottom:1px solid #bec0c4; text-align:left; text-align:center;}
#bbs #bwrite .table_wrap > table > tfoot > tr > td{padding:11px; border-bottom:1px solid #bec0c4; color:#656668;}
#bbs #bwrite .table_wrap > table > tfoot > tr > td.line{background:url(/manage/img/blist_td_line.gif) repeat-y left top;}

#bbs #bwrite table .line_r{border-right:1px solid #bec0c4;}

#bbs #bwrite table.eail_f {border:0; margin:0;}
#bbs #bwrite table.eail_f table,
#bbs #bwrite table.eail_f td,
#bbs #bwrite table.eail_f th {border:0; margin:0; padding:0;}

#bbs td p.pre_file {margin-bottom:7px; vertical-align:middle; color:#444;}
#bbs td p.pre_file label {vertical-align:middle;}
#bbs td p.pre_file img {vertical-align:middle;}

/*통합상담-상담상태*/
.rlBox{position:relative; overflow:hidden;}
.rlBox .leftZone{position:relative; float:left;}
.rlBox .rightZone{position:relative; float:right; color:#255182;}
.counsel_state_zone .tabstyle{padding:10px 0 0 0; }
.counsel_state_zone .tabstyle ul li{ vertical-align:bottom; line-height:27px;}

/*통합상담- > 온라인예약 -두피케어*/
.scalpCare{overflow:hidden;}
.scalpCare dl{width:182px; border:1px solid #cdcdcd;}
.scalpCare dl dt{padding:5px; text-align:center; font-weight:bold; background:#eeeff0;}
.scalpCare dl dd{padding:5px; text-align:center;}
.scalpCare p{float:left; padding:0px 0 0 0;}

/*통합상담- > 온라인예약날짜선택*/
#bbs #bwrite .reserveChoice{overflow:hidden; width:100%; margin:0 0 20px 0;}
#bbs #bwrite .reserveChoice .r_day{float:left; position:relative; width:50%; box-sizing:border-box; padding:0 1.5%;}
#bbs #bwrite .reserveChoice .r_day table.calendar_top_table {position:relative; width:100%; height:100%; border-top:0; margin:0;}
#bbs #bwrite .reserveChoice .r_day table.calendar_top_table thead th{padding:20px 5px; text-align:center; background:none; border:0; font-size:24px; color:#222; font-weight:400;}
#bbs #bwrite .reserveChoice .r_day table.calendar_top_table thead th.now{font-size:15px;}
#bbs #bwrite .reserveChoice .r_day table.calendar_top_table thead th i {font-style:normal;}
#bbs #bwrite .reserveChoice .r_day table.calendar_top_table thead th i img {vertical-align:middle;}
#bbs #bwrite .reserveChoice .r_day table.calendar_top_table thead th i .firsti {margin-right:70px;}
#bbs #bwrite .reserveChoice .r_day table.calendar_top_table thead th i .lesti {margin-left:70px;}
#bbs #bwrite .reserveChoice .calendar_table {position:relative; width:100%; height:100%; border-top:0; color:#53728b; margin:0 ;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table .first{background:none;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table thead th{padding:5px; text-align:center; background:none; border-bottom:1px solid #e1e3e4; font-size:16px; font-weight:400; height:70px; box-sizing:border-box;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table thead th.sun{color:#ea1c5b;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table thead th.sat{color:#307dd4;}

#bbs #bwrite .reserveChoice .r_day table.calendar_table tbody td.first{background-image:none !important; color:#ff4836;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table tbody td{text-align:center; height:70px; padding:0; border-bottom:1px solid #e1e3e4; box-sizing:border-box; font-family:'Noto Sans KR'; font-size:18px;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table tbody td.care{padding:5px; text-align:center; background:#f6f9fd;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table tbody td.choice span{display:inline-block; background:#f6f7f7; width:48px; height:48px; border-radius:50%; line-height:48px;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table tbody td.ent {background:#f6f9fd;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table tbody td.ent span{display:inline-block; color:#fff; background:#323337; width:48px; height:48px; border-radius:50%; line-height:48px;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table tbody td.sat{color:#1559aa;}
#bbs #bwrite .reserveChoice .r_day table.calendar_table tbody td#r_click span{display:inline-block; color:#fff; background:#ea1c5b; width:48px; height:48px; border-radius:50%; line-height:48px;}

#bbs #bwrite .reserveChoice .r_Time{float:left; position:relative; width:50%; }
/*#bbs #bwrite .reserveChoice .r_Time ul{margin:0 0 10px 0; padding:10px; border:1px solid #cccccc }
#bbs #bwrite .reserveChoice .r_Time ul li{margin:0 0 5px 0;}
#bbs #bwrite .reserveChoice .r_Time ul li.ing{color:#006ecb;}
#bbs #bwrite .reserveChoice .r_Time ul li.possible{color:#484848; font-weight:bold; background:#cee8fe;}*/


.calender_wrap {border:1px solid #e1e3e4; border-radius:15px;}
.calender_wrap .under_wrap {overflow:hidden; background:#fcfcfc; border-radius:0 0 15px 15px; padding:20px 18px;}
.calender_wrap .under_wrap p {float:left; font-size:16px; color:#444; vertical-align:middle;}
.calender_wrap .under_wrap > .sr_wrap {float:right;}
.calender_wrap .under_wrap > .sr_wrap i {display:block; float:left; width:1px; height:17px; vertical-align:middle; background:#d7d7d7; margin:6px 15px 0px;}
.calender_wrap .under_wrap > .sr_wrap input {width:100px; text-align:center; border:1px solid #e1e3e4; font-size:16px; color:#ea1c5b; box-sizing:border-box; padding:0 2px; vertical-align:baseline; margin:0 3px;}
.calender_wrap .under_wrap > .sr_wrap input.no02 {width:70px;}

#bbs #bwrite .reserveChoice .possibleBox{display:inline-block; width:25px; height:25px; background:#f6f9fd; box-sizing:border-box; border:1px solid #d7d7d7; vertical-align:middle;}
#bbs #bwrite .reserveChoice .choiceBox{display:inline-block; width:10px; height:10px; background:#cee8fe;}
#bbs #bwrite .reserveChoice .closeBox{display:inline-block; width:10px; height:10px; background:#f72642;}
#bbs #bwrite span.gre {color:#008000;}
#bbs #bwrite span.yel {color:#ffa500;}
#bbs #bwrite span.blu {color:#1559aa;}


/* 예약 달력 */
#bbs #bwrite .reserveChoice .r_Time p {font-size:14px;}
#bbs #bwrite .reserveChoice .r_Time .schedule_time {overflow:hidden;}
#bbs #bwrite .reserveChoice .r_Time .schedule_time ul {float:left; width:32%; height:auto; margin-right:2%; box-sizing:border-box; border:1px solid #f0f1f1; border-radius:15px;}
#bbs #bwrite .reserveChoice .r_Time .schedule_time ul li {text-align:center; font-size:16px; color:#222; font-weight:300; line-height:1; padding:25px 0; border-bottom:1px solid #f0f1f1}
#bbs #bwrite .reserveChoice .r_Time .schedule_time ul li:last-of-type {border-bottom:0;}
#bbs #bwrite .reserveChoice .r_Time .schedule_time ul li:hover {background:#f3f8fe; color:#ea1c5b;}
#bbs #bwrite .reserveChoice .r_Time .schedule_time ul li:last-child:hover {border-radius:0 0 15px 15px;}
#bbs #bwrite .reserveChoice .r_Time .schedule_time ul li.ttit {font-size:20px; color:#222; font-weight:400;}
#bbs #bwrite .reserveChoice .r_Time .schedule_time ul li.ttit:hover {background:none;}
#bbs #bwrite .reserveChoice .r_Time .schedule_time ul:last-of-type {margin-right:0;}

/*통합상담- 비용메일보내기*/
.tabType02{overflow:hidden; width:100%; margin:0px 0 10px 0;}
.tabType02 li{_display:inline; float:left; margin-right:-1px; margin-bottom:10px; border:1px solid #7b95d6; color:#d6dbe9; background:#eeeff0; width:49.8%; min-width:95px; text-align:center;}
.tabType02 li a{display:block; _float:left; height:20px; padding:6px 7px 6px 8px; color:#666; text-decoration:none; letter-spacing:-1px; font-size:12px;}
.tabType02 li a:hover{background:#fff; color:#2c2c2c; font-weight:bold;}
.tabType02 li.selected{border-bottom:1px solid #fff; background:#fff}
.tabType02 li.selected a{color:#2c2c2c; font-weight:bold; letter-spacing:-1px}

/*처방관리- 처방popup*/
.tabType03{overflow:hidden; width:100%; margin:0px 0 10px 0;}
.tabType03 li{_display:inline; float:left; margin-right:-1px; margin-bottom:10px; border:1px solid #7b95d6; color:#d6dbe9; background:#eeeff0; width:33%; min-width:95px; text-align:center;}
.tabType03 li a{display:block; _float:left; height:20px; padding:6px 7px 6px 8px; color:#666; text-decoration:none; letter-spacing:-1px; font-size:12px;}
.tabType03 li a:hover{background:#fff; color:#2c2c2c; font-weight:bold;}
.tabType03 li.selected{border-bottom:1px solid #fff; background:#fff}
.tabType03 li.selected a{color:#2c2c2c; font-weight:bold; letter-spacing:-1px}

/*처방관리- 처방popup*/
.tabType04{overflow:hidden; width:100%; margin:0px 0 10px 0;}
.tabType04 li{_display:inline; float:left; margin-right:-1px; margin-bottom:10px; border:1px solid #7b95d6; color:#d6dbe9; background:#eeeff0; width:24.8%; min-width:95px; text-align:center;}
.tabType04 li a{display:block; _float:left; height:20px; padding:6px 7px 6px 8px; color:#666; text-decoration:none; letter-spacing:-1px; font-size:12px;}
.tabType04 li a:hover{background:#fff; color:#2c2c2c; font-weight:bold;}
.tabType04 li.selected{border-bottom:1px solid #fff; background:#fff}
.tabType04 li.selected a{color:#2c2c2c; font-weight:bold; letter-spacing:-1px}


/*목록이미지 공지/보도/동영상*/
/*#bbs .photo{width:81px; height:81px; margin:0 auto; padding:0px 0; vertical-align:middle; border:1px solid #e2e2e2;overflow:hidden;}/*기본포토중앙정렬입니다.*/*/
#bbs .photo{min-width:81px; min-height:81px; margin:0 auto; padding:0px 0; vertical-align:middle; border:1px solid #e2e2e2;overflow:hidden;}/*기본포토중앙정렬입니다.*/
#bbs .photo p{width:inherit; height:inherit; vertical-align:middle; display:block; text-align:center;}

/*노이미지*/
#bbs .photo .noimg{width:auto; height:auto;}

/* ============================================================================================================== */
/*세로 중앙정렬 (for IE6,7)*/
div.photo img{ .margin-top:expression( verticalAlign(this) ); }
/*max-width,max-height (for IE6)
가로,세로입니다. 0을 주면 자동 맞춤이 되구요.*/
*html div.photo{ width:expression( maxSize(this,0,0) ); }
/*min-height (for IE6)*/
*html div.photo{ height:expression( min_height(this,0) ); }
/* ============================================================================================================== */


/* -----버튼들----- */
a.btns{display:inline-block; min-width:67px; height:40px; padding:0 10px; line-height:40px; color:#fff !important; font-size:15px; background:#87888a; text-align:center; font-weight:300; vertical-align:top; box-sizing:border-box;}  
a.btns strong {font-weight:300;}
#useFile a.btns{display:inline-block; height:29px; padding:0 10px; line-height:29px; color:#fff !important; font-size:15px; background:#87888a; text-align:center; font-weight:300; vertical-align:top; box-sizing:border-box;}  
/*a.btns strong{display:block; padding:1px 8px 0 12px; /*background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}
*/

/* 높이 30인 버튼 설정 */
a.btns.h30 {height:30px; line-height:30px;}

/* 버튼 스타일 지정 btnLeft는 왼쪽에 위치, btnRight는 오른쪽에 위치 */
#bbs .btn {position:relative; color:#797979 !important; overflow:hidden; margin-top:10px; padding:0 0 15px;}
#bbs .btn .btnLeft {float:left;}
#bbs .btn .btnRight {float:right;}
#bbs .btn .btnRight a.btns{ min-width:67px; height:40px; padding:0 10px; line-height:40px; color:#fff !important; font-size:15px; background:#323337; font-size:15px;box-sizing:border-box; font-weight:300;} 
#bbs .btn .btnRight a.btns strong {font-weight:300;} 

/* 초록색 스타일 버튼 */
a.btns_g{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
a.btns_g strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#02530c !important;}
/* 빨간색 스타일 버튼 */
a.btns_r{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
a.btns_r strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#ff0000 !important;}
/* 파란색 스타일 버튼 */
a.btns_b{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
a.btns_b strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#0f24c4 !important;}
/* 회색 스타일 버튼*/
a.sbtn{display:inline-block; width:46px; margin:0 3px 0 0; padding:0 0 0 28px; font-family:'돋움',dotum;/* background:url(/manage/img/btn_seach.gif) no-repeat;*/ color:#797979 !important;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.sbtn strong{padding:0 10px 0 0; font-size:11px;}
a:hover.sbtn{color:#2e2e2e !important; text-decoration:none;}


/* new 삭제아이콘(회색스타일) */
#bbs .btn a.gr_btn {width:67px; height:40px; padding:0; line-height:40px; color:#fff !important; font-size:15px; background:#87888a; text-align:center; font-weight:300; vertical-align:top;}
#bbs .btn a.gr_btn strong {font-weight:300;}

/* new 쓰기버튼*/
#bbs .btn .btnRight a.wbtn{display:inline-block; width:117px; height:40px; text-align:left; padding-left:50px; background:#323337 url(/manage/img/write_icon.png) no-repeat 20px 13px; font-size:15px;color:#797979 ;line-height:40px; word-spacing:-1px; text-decoration:none !important; white-space:nowrap; color:#fff !important; box-sizing:border-box; font-weight:300;} 
#bbs .btn .btnRight a.wbtn strong {font-weight:300;} 

/* 수정버튼 스타일 */
#bbs .blue_btn,.blue_btn {display:inline-block; width:54px; padding:0 14px; height:30px; color:#307dd4; font-size:12px; vertical-align:middle; text-align:center; border:1px solid #307dd4; line-height:30px; background:#fff; box-sizing:border-box;}
#bbs .blue_btnre {display:inline-block; width:54px; padding:0 14px; height:30px; color:#fff; font-size:12px; vertical-align:middle; text-align:center; line-height:30px; background:#307dd4; box-sizing:border-box;}
#bbs a.blue_btn {color:#307dd4; font-size:12px;}
#bbs a.blue_btn.size02 {width:100px; padding:0 5px;}
.blue_btn.he34 {height:34px; line-height:32px;}

/* 삭제버튼 스타일 */
#bbs .red_btn {display:inline-block; width:54px; padding:0 14px; height:30px; color:#ea1c5b; font-size:12px; vertical-align:middle; text-align:center; border:1px solid #ea1c5b; line-height:30px; background:#fff; box-sizing:border-box;}
#bbs .red_btnre {display:inline-block; width:54px; padding:0 14px; height:30px; color:#fff; font-size:12px; vertical-align:middle; text-align:center;line-height:30px; background:#ea1c5b; box-sizing:border-box;}
#bbs a.red_btn {color:#ea1c5b; font-size:12px;}

#bbs p.blue_btn.consl {width:68px; padding:0; cursor:pointer;}
#bbs p.red_btn.endc {width:68px; padding:0; cursor:pointer;}
#bbs p.blue_btnre.consl {width:68px; padding:0; cursor:pointer;}
#bbs p.red_btnre.endc {width:68px; padding:0; cursor:pointer;}

#bbs .black_btn {display:inline-block; padding:0 14px; height:30px; color:#222; font-size:12px; vertical-align:middle; text-align:center; border:1px solid #222; line-height:30px; background:#fff; box-sizing:border-box;}
#bbs .black_btn.size02 {padding:0 3px;}
#bbs .black_btn .downl_icon {vertical-align:sub; display:inline-block; margin-right:5px;}
#bbs .black_btn.tye02 {width:54px;}
/*
#bbs .btn .btnRight{position:relative; color:#797979 !important; float:right; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:right;}
#bbs .btn .btnRight a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
#bbs .btn .btnRight a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}

/*
#bbs .btn {position:relative; color:#797979 !important; overflow:hidden;width:100%;}
#bbs .btn .btnLeft{position:relative; color:#797979 !important; float:left; padding:10px 0 0 0; overflow:hidden; font-size:11px; text-align:left; /*width:40%;*//* height:30px;}
#bbs .btn .btnLeft a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  

#bbs .btn .btnLeft a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}*/
/*
#bbs .btn .btnRight{position:relative; color:#797979 !important; float:right; padding:20px 0 0 0; overflow:hidden; font-size:11px; text-align:right;}

#bbs .btn .btnRight a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
#bbs .btn .btnRight a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}
*/
/* 일반버튼 */
/*.commonBtns {color:#797979 !important; display:inline-block; padding-right:4px; background:url(/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}
.commonBtns strong {display:block; padding:1px 8px 0 12px; background:url(/img/btn_bg.gif) no-repeat; color:#797979 !important;}*/

/*버튼 센터 */
#bbs .btnC{position:relative; text-align:center; padding:0 0; clear:both; width:100%; vertical-align:middle;}
#bbs .btnC .btnCenter{width:40%; position:relative; color:#797979 !important; float:left; padding:0px 0 0 0; overflow:hidden; font-size:11px; text-align:center;  /*width:40%;*/ height:30px;}
#bbs .btnC .btnCenter a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
#bbs .btnC .btnCenter a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}

#bbs .btnC .btnLeft{width:30%; position:relative; color:#797979 !important; float:left; padding:0px 0 0 0; overflow:hidden; font-size:11px; text-align:left; /*width:40%;*/ height:30px;}
#bbs .btnC .btnLeft a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
#bbs .btnC .btnLeft a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979 !important;}

#bbs .btnC .btnRight{width:30%;  position:relative; color:#797979 !important; float:right; padding:0px 0 0 0; overflow:hidden; font-size:11px; text-align:right; /*width:40%;*/ height:30px; *margin:-27px 0 0 0;}
#bbs .btnC .btnRight a.btns{display:inline-block; padding-right:4px; background:url(/manage/img/btn_bg.gif) no-repeat 100% 0; font-size:11px;color:#797979;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap; color:#797979 !important;}  
#bbs .btnC .btnRight a.btns strong{display:block; padding:1px 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979  !important;}  



/*#bbs .btn .btnRight a:hover.wbtn{color:#2e2e2e !important; text-decoration:none;}*/


/* -----페이징----- */
#bbs .page{position:relative; margin:10px 0 70px; width:100%; display:block; text-align:center; clear:both; color:#656668; font-size:0;}
#bbs .page a{position:relative; display:inline-block; width:34px; height:34px; text-decoration: none; color:#444; box-sizing:border-box; border:1px solid #fff; line-height:32px; font-size:15px;}
/* #bbs .page strong 페이징 active 스타일 */
#bbs .page strong{position:relative; display:inline-block; width:34px; height:34px; color:#f60029; border:1px solid #ea1c5b; line-height:32px; font-size:15px; box-sizing:border-box; font-weight:400;}
#bbs .page a:hover{background:#f3f8fe; border:1px solid #f3f8fe;}

/* 페이징 이전/다음 버튼 */
#bbs .page .next{position:relative; display:inline-block; vertical-align:top; color:#ea1c5b; font-size:11px; border:1px solid #ddd;}
#bbs .page a.next:hover {background:none; border:1px solid #ddd;}
#bbs .page .next.no02,
#bbs .page .next.no02:hover {border-right:0;}
#bbs .page .next.no03,
#bbs .page .next.no03:hover {border-left:0;}
#bbs .page .page_prev{padding:0 0 0 2px;}
#bbs .page .page_next{padding:0 2px 0 0; background:url(/manage/img/page_next_bg.gif) no-repeat right 5px;}


/* -----게시판 목록 하단 검색 부분----- */
#blist .search{position:relative; width:100%; margin:0px; padding:9px 0; text-align:center; vertical-align:middle; font-size:0;}
#blist .search input{width:280px; height:32px; border:1px solid #d4d4d4; vertical-align:middle; display:inline; box-sizing:border-box; font-size:14px;}
#blist .search select{width:150px; height:32px; border:1px solid #d4d4d4; font-size:14px; vertical-align:middle; color:#444; margin:0 5px 0 0; display:inline;}
/* 검색버튼 */
#blist .search .se_btn {width:62px; height:32px; border:1px solid #307dd4; vertical-align:top; box-sizing:border-box; background:#fff; color:#307dd4; margin-left:5px;}
#blist .search #clinicList{ display:inline;}
#color .search select{width:115px; height:20px; border:1px solid #cccccc; font-size:12px; vertical-align:middle; color:#706a5f; margin:0; display:inline;}
#color .search .sbtn{position:relative; width:53px; height:20px; top:0px; *top:-2px; left:-8px; border:none; vertical-align:bottom;}
#color .search #clinicList{ display:inline;}

#blist .answerImg{margin:0 5px 0 15px;}
#blist .closedImg{margin:3px 0 0 5px;}
#blist span.re_ing{position:relative; display:inline-block; width:54px; height:30px; color:#acacac; font-size:12px; vertical-align:middle; text-align:center; border:1px solid #cbcbcb; line-height:30px; background:#fff;}/*답변*/
#blist span.re_ok{position:relative; display:inline-block; width:54px; height:30px; color:#307dd4; font-size:12px; vertical-align:middle; text-align:center; border:1px solid #307dd4; line-height:30px; background:#fff;}/*대기*/

.mainsend {height:60px; resize:none; box-sizing:border-box;}
a.eail_lcolor {color:#e3185c;}


/*휴일지정달력테이블*/
#bbs #bread table.closed_table{position:relative; width:100%; height:100%; border-top:#255182 1px solid; color:#53728b; margin:0 0 10px 0; font-size:16px;}
#bbs #bread table.closed_table .first{background:none;}
#bbs #bread table.closed_table tbody td{padding:20px; text-align:right; color:#444; font-weight:400; border-right:1px solid #f3f4f4;}
#bbs #bread table.closed_table tbody td:last-of-type {border-right:0;}
#bbs #bread table.closed_table tbody td span{display:block; color:#222; font-weight:500;}
#bbs #bread table.closed_table .sun span{color:#ea1c5b;}
#bbs #bread table.closed_table .sat span{color:#307dd4;}


/* -----달력테이블----- */
/* calendar_top_table은 달력 맨 위 페이징부분 */
#bbs #bread table.calendar_top_table{position:relative; width:100%; height:100%; border-top:#255182 1px solid; color:#53728b; margin:0 0 0px 0; font-size:15px;}
#bbs #bread table.calendar_top_table thead th{height:60px; text-align:left; font-size:15px; text-align:center; box-sizing:border-box; font-weight:400;}
#bbs #bread table.calendar_top_table thead th img {vertical-align:sub; display:inline-block; margin:0 5px;}
#bbs #bread table.calendar_top_table thead th.now{font-size:18px;}

#bbs #bread table.calendar_table{position:relative; width:100%; height:100%; border-top:#255182 1px solid; color:#53728b; margin:0 0 10px 0; font-size:16px;}
/* 달력의 맨 첫칸 */
#bbs #bread table.calendar_table .first{background:none;}
#bbs #bread table.calendar_table thead th{padding:11px; text-align:right; border-bottom:1px solid #bec0c4; font-size:16px; font-weight:400; background:none;}
/* 일요일 색상 스타일 */
#bbs #bread table.calendar_table thead th.sun{color:#ea1c5b;}
/* 토요일 색상 스타일 */
#bbs #bread table.calendar_table thead th.sat{color:#307dd4;}

#bbs #bread table.calendar_table tbody td.first{background-image:none !important;}
#bbs #bread table.calendar_table tbody td{padding:20px; text-align:right; color:#444; font-weight:400; border-right:1px solid #f3f4f4;}
#bbs #bread table.calendar_table tbody td.care{text-align:right; background:#f6f9fd;}
#bbs #bread table.calendar_table tbody td span{display:block;}
#bbs #bread table.calendar_table tbody td span.holi{color:#ea1c5b;}
#bbs #bread table.calendar_table tbody td span.sat{color:#307dd4;}
.re_bttm {font-size:14px; color:#222;}

/* -----예약달력관리----- */
#bbs #bread table.decoction_calendar_table{position:relative; width:100%; height:100%; border-top:#255182 1px solid; color:#53728b; margin:0 0 10px 0;}
#bbs #bread table.decoction_calendar_table .first{background:none;}
#bbs #bread table.decoction_calendar_table thead th{padding:11px; text-align:center; background:#e9e9e9 url(/manage/img/blist_td_line.gif) repeat-y left top; border-bottom:1px solid #bec0c4;}
#bbs #bread table.decoction_calendar_table thead th.sun{background:#ffe7e5; color:#ff4836;}
#bbs #bread table.decoction_calendar_table thead th.sat{background:#e2f0ff url(/manage/img/blist_td_line.gif) repeat-y left top; color:#1559aa;}

#bbs #bread table.decoction_calendar_table tbody td.first{background-image:none !important;}
#bbs #bread table.decoction_calendar_table tbody td{position:relative; padding:11px; text-align:left; background:url(/manage/img/blist_td_line.gif) repeat-y left top; vertical-align:top;}
#bbs #bread table.decoction_calendar_table tbody td span.days{display:block; font-weight:bold;}
#bbs #bread table.decoction_calendar_table tbody td span.holi{display:block; color:#ff4836;}
#bbs #bread table.decoction_calendar_table tbody td span.sat{display:block; color:#1559aa;}

#bbs #bread table.decoction_calendar_table tbody td ul{width:60px;}
#bbs #bread table.decoction_calendar_table tbody td ul li span{float:right;}
#bbs #bread table.decoction_calendar_table tbody td .btn{position:absolute; right:2px; top:10px;}
#bbs #bread table.decoction_calendar_table tbody td .total{padding:0 0 0 7px; }
#bbs #bread table.decoction_calendar_table tbody td .total span{display:inline-block; padding:0 0 0 32px;}

/* 기타휴일지정 옆 빨간색 참고 표시 스타일 */
.under_f {font-size:14px; color:#ea1c5b; font-weight:400;}

#bbs #bread table tbody td.bline {padding:14px 0 0;border-bottom:2px solid #313236; }
#bbs #bwrite table tbody td.bline {padding:14px 0 0;border-bottom:2px solid #313236; }

/* -----SMS관리----- */
#sms{position:relative; width:100%;}
/* 핸드폰모양 스타일 */
#sms .sms_top{position:relative; width:100%; max-width:1450px; margin:20px auto 0; font-size:0; text-align:center;}
#sms .phone{display:inline-block; background: url(/manage/img/phone_bg.jpg) no-repeat; width:716px; height:426px; padding:50px 0 0 82px; font-size:14px; box-sizing:border-box; vertical-align:top; color:#222;}
/* .smsbox : 문자보내기 텍스트 작성 부분 */
#sms .phone .smsbox{float:left; width:290px;}
#sms .phone .smsbox textarea{padding:5px;width:100%;height:240px; resize:none; border:1px solid #307dd4; box-sizing:border-box;}
#sms .phone .smsbox input{background:#fff; color:#307dd4; width:43px; height:30px; vertical-align:middle; border:1px solid #307dd4; padding:0 0 0 10px;}
#sms .phone .smsbox dd{color:#307dd4;}
/* .smstel : 보내는사람, 받는사람 입력 작성 부분 */
#sms .phone .smstel{float:left; width:242px; text-align:left; box-sizing:border-box; padding-left:16px;}
#sms .phone .smstel textarea{width:226px; height:134px; padding:5px; resize:none; border:1px solid #307dd4; box-sizing:border-box;}
#sms .phone .smstel dl:first-of-type {margin-bottom:20px;}
#sms .phone .smstel ul{padding-top:0px;}
#sms .phone .smstel li{float:left; }
#sms .phone .smstel li label{padding-right:10px;}
#sms .phone .smstel dl{clear:both;}
#sms .phone .smstel dl dt {font-size:16px; line-height:1; margin-bottom:10px;}
#sms .phone .smstel dd input {width:100%; height:34px; border:1px solid #307dd4;}
/* smsreser 예약날짜 및 시간 */
.smsreser dt{float:left;vertical-align:middle;}
.smsreser dd{float:left;vertical-align:middle;}
#sms .phone .smstel ul {margin-top:12px; position:relative;}
#sms .phone .smstel ul:after {content:''; display:block; clear:both;}
#sms .phone .smsreser dl{position:absolute; left:0; bottom:-67px; width:226px; margin-bottom:0;}
#sms .phone .smsreser dt input{width:70px;vertical-align:middle;margin-right:26px;}
#sms .phone .smsreser dd input{width:30px;vertical-align:middle;}
/* ddright : 저장 버튼 */
#sms .phone .smsbox dd{float:left; padding:8px 0 0 0;}
#sms .phone .smsbox dd.ddright{float:right; width:54px; font-size:14px;}
#sms .phone .smsbox dd.ddright a {font-size:14px; padding:0; line-height:29px;}
/* 달력 아이콘 */
#sms .phone .smsreser dd #Caltran_ymdIcon {vertical-align:middle;}
/* 이모티콘 */
#sms .special{display:inline-block; width:656px; font-size:14px; vertical-align:top; box-sizing:border-box; margin:0 28px 0 40px;}
#sms .special p{color:#000; padding:10px 0 5px 0; text-align:left; font-size:16px;}
#sms .special ul{width:100%; overflow:hidden; border:1px solid #313236; margin:5px 0 33px;}
#sms .special li{float:left;height:55px; width:41px; text-align:center; border-bottom:1px solid #e1e3e4; border-right:1px solid #f3f4f4; box-sizing: border-box;}
#sms .special li.t{width:82px;}
/* #sms .special li:nth-of-type(n + 65) {border-bottom:0;} */
#sms .special li a {font-size:16px; color:#222; line-height:50px;}
#sms .special ul li:hover {background:#fcfcfc}
#sms .special ul li:hover a {color:#307dd4;}
#sms  p#send {width:180px; height:40px; line-height:40px; color:#fff; font-size:15px; text-align:center; background:#323337; margin:8px 52px; font-weight:300; padding:0;}
/* 저장된 메세지 */
#sms .save{clear:both; }
#sms .save > ul {border-top:2px solid #313236; padding:30px 0 0 40px; overflow:hidden;}
#sms .save li.box{float:left; margin:0 62px 30px 0; width:286px; padding:10px; box-sizing:border-box;}
/* 저장된 메시지 버튼 영역*/
#sms .savebtn{text-align:center; padding:13px 0 10px;}
#sms .savebtn ul {font-size:0; text-align:center;}
#sms .savebtn li {display:inline-block;margin:0;}
#sms .savebtn a {margin:0 2.5px;}
/* 저장된 메시지 텍스트 영역 */
#sms .savesms textarea{padding:5px; width:100%; height:212px; resize:none; box-sizing:border-box; border:1px solid #35363a; font-size:16px; color:#222;}
/* 저장된 메시지 페이징 active */
#sms .smsbox a.btns strong{display:block; padding:0 8px 0 12px; background:url(/manage/img/btn_bg.gif) no-repeat; color:#797979;}



@media handheld, only screen and (max-width: 1600px) {
	.m_disB{display:block;}
	
	.sort2{position:absolute; right:5px; top:40%; width:13px;}/*제목이 한줄이면서 (한줄,두줄 썩여있을때)*/
	.sort3{position:absolute; right:5px; top:30%; width:13px; }/*제목이 한줄이였다가 두줄로 바뀌면서 (한줄,두줄 썩여있을때)*/
}


/*이메일, 문자 발송 */
#bwrite .editfoot{padding:10px; background-color:#f7f7f7; clear:both; text-align:center;}
#bwrite .editfoot p{padding:0 0 10px 0;}
#bwrite .editfoot label{font-weight:bold; padding:0 20px 0 0;}

/*팝업*/
#pop_style {border-bottom:1px solid #e1e3e4;}
#pop_style table th {padding:8px 0; font-size:15px; border-top:1px solid #313236; color:#222; background:#eeeff0; border-bottom:1px solid #e1e3e4; font-weight:400;}
#pop_style table td {padding:8px 0; color:#444; font-size:15px;}
