@charset "utf-8";
/* CSS Document */
body{position:relative; height:100%;}


#wrap{position:relative; width:100%; height:100%;  min-width:1000px; overflow: hidden;}
#canvas{position:relative; width:100%; height:100%; z-index:100; color:#2d2f34; min-width:1000px; margin-bottom:0 0 50px 0;}


/*header*/
#header{position:relative; width:100%; min-width:1000px; line-height:100%; background:#323337; z-index:999;}
#header .header_inner{position:relative; width:100%; min-width:1000px; margin:0 auto; box-sizing:border-box;}
#header .header_inner .up_type {overflow:hidden; height:70px; padding:25px 10px 13px; box-sizing:border-box;}
#header .header_inner h1{float:left; color:#fff; font-weight:bold; font-size:28px; line-height:1; margin:0;}
#header .header_inner h1 span a{color:#c1c1c1; font-size:12px; font-weight:normal;}

#header .header_inner .login_name{position:absolute; right:10px; top:17px; color:#c1c1c1;}

#header .header_inner .site_go{position:absolute; right:0; height:26px;}
#header .header_inner .site_go ul{overflow:hidden; margin:7px 0 0 0;}
#header .header_inner .site_go ul li{float:left; width:115px; height:21px; margin:0 10px 0 0px; padding:5px 0 0 15px; color:#fff; background:url(/manage/img/link_go_bg.gif) no-repeat left center;}
#header .header_inner .site_go ul li a{color:#fff; font-size:12px;}

#header .header_inner .util {}
#header .header_inner .util ul{overflow:hidden; float:right; margin:4px 0 0 0;}
#header .header_inner .util ul li{float:left; margin:0 0px 0 5px;}
#header .header_inner .util ul li.frist{margin-left:0;}
#header .header_inner .util ul li a i {display:inline-block; width:4px; height:7px; margin:0 0 2.5px 7px; background:url('/manage/img/ut_icon_ar.png') no-repeat center top; vertical-align:middle;}
#header .header_inner .util ul li a{display:inline-block; color:#c0bebe; font-weight:300; letter-spacing:-0.025em; font-size:13px; background:#2c2d31; line-height:1; padding:8px 14px; border:1px solid #2c2d31;}
#header .header_inner .util ul li.line a{border:1px solid #515155; padding:8px 10px;}


/* menu::base========================================== */
div#menu {position:relative; width:100%; min-width:1000px;}
div#menu ul {width:100%; min-width:1000px; margin:0; padding:0;}
div#menu .menu:after {content:''; display:block; clear:both;}
div#menu li { 
	width:8.4%; 
	min-width:80px;
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    color:#dddddd;
}

div#menu li.menu05, div#menu li.menu10{ width:12%; min-width:110px; }   

div#menu li:hover>ul {
    /*left: -2px;*/
}

div#menu li div { 
    list-style: none;
    position: absolute;
    top: 46px;
    right: 0px;
	width:100%;
	min-width:150px;
    z-index: 11;
    visibility: hidden;
    background:#323337;
    margin: 0 0 0 0px;
    
}

div#menu li div.standard_left{left:0 !important;} 

div#menu li:hover>div { 
    visibility: visible;
}

div#menu li.current a {}

/* menu::level1 */
div#menu a { width:100%;
    z-index: 10;
    height:46px;
    display:block;
    line-height:45px;   
}
div#menu span { text-align:center;
    font-size:14px;
    color: #fff;
    text-transform:uppercase;
    width:100%; height:100%;
    display:block;
    cursor: pointer;
    background-repeat: no-repeat;
    border-top:1px solid #515155;
    box-sizing:border-box;
    border-right:1px solid #3c3d41;
}
div#menu ul a:hover span {
    color: #FFFFFF;
}

/* 메뉴 클릭시 현 상태 유지 */
div#menu .bg{
    color: #FFFFFF;
}

div#menu li.last span{
    border-right:0;
}

/* menu::level2 */
div#menu ul ul li {
   
    background: url(/manage/img/nav_dropdown_sep.gif) left bottom repeat-x;
    padding: 0px 0;
    z-index: 9;	
}
div#menu ul ul { 
	width:100%;
	min-width:150px;
    z-index: 12;
    padding: 0;
    background:#3c3d41;
    margin-top:0;
    margin-left:0;
    margin-right:0;   
}
div#menu ul ul a { 
	padding:0;
    height: auto;
    float: none;
    display: block;
    background:none;
   	/*margin:2px 10px;*/
    z-index: -1;

}
div#menu ul ul a span {text-align:left; padding: 9px 0px 9px 9px; line-height: 20px;    color: #dddddd; font-size:14px;
    text-transform: none; background:#3c3d41; border:0; border-bottom:1px solid #323337;
}
div#menu ul ul a:hover {
    /*background: url(/manage/menu/manage/img/submenu-selected-bottom.gif) no-repeat 8px bottom;*/
    background:#333438;
   
}
div#menu ul ul a:hover span {
    /*background: url(/manage/menu/manage/img/submenu-selected-top.gif) no-repeat 0px 0px;*/
    border:0; background:#323337; border-bottom:1px solid #323337;
    
}

div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}
/* menu::level3 */
div#menu ul ul div {
    width: 208px;
    margin: -50px 0 0 190px !important;
    height: auto;
  
}
div#menu ul ul ul {
	_padding-right:1px;
}

/* lava lamp */
div#menu li.back {
}
div#menu li.back .left {
}
/* //menu::base========================================== */


/*content*/
#container{position:relative; width:100%;}
#container #content{position:relative; top:0px; width:100%; min-width:1000px; margin:0 auto;}
#container #content .con_tit{width:99%; height:56px; padding:0 10px;}
#container #content .con_tit h2{height:55px; display:table-cell; vertical-align:middle; font-size:20px; font-weight:700;}
#container #content .con{position:relative; min-width:960px; padding:0 10px;}

/*check box*/
label.b_first_c {margin-bottom:0;}
label.b_first_c input {display:none;}
label.b_first_c input + i {display:inline-block; width:20px; height:20px; background:url('/manage/img/first_check.png') no-repeat center top; vertical-align:middle; background-size:100%;}
label.b_first_c input:checked + i {background:url('/manage/img/first_check_ed.png') no-repeat center top; background-size:100%;}
label.b_first_c input:checked="checked" + i {background:url('/manage/img/first_check_ed.png') no-repeat center top; background-size:100%;}

label.b_nor_c {margin-bottom:0;}
label.b_nor_c input {display:none;}
label.b_nor_c input + i {display:inline-block; width:20px; height:20px; background:url('/manage/img/nor_check.png') no-repeat center top; vertical-align:middle; background-size:100%;}
label.b_nor_c.size02 input + i {width:18px; height:18px;}
label.b_nor_c.marl15 input + i {margin-left:15px;}
label.b_nor_c input:checked + i {background:url('/manage/img/nor_check_ed.png') no-repeat center top; background-size:100%;}
label.b_nor_c input:checked="checked" + i {background:url('/manage/img/nor_check_ed.png') no-repeat center top; background-size:100%;}

label.b_snor_c {margin:8px 0 0; vertical-align:middle;}
label.b_snor_c input {display:none;}
label.b_snor_c input + i {display:inline-block; width:20px; height:20px; margin-left:3px; background:url('/manage/img/snor_check.png') no-repeat center top; vertical-align:middle; background-size:100%;}
label.b_snor_c input:checked + i {background:url('/manage/img/snor_check_ed.png') no-repeat center top; background-size:100%;}
label.b_snor_c input:checked="checked" + i {background:url('/manage/img/snor_check_ed.png') no-repeat center top; background-size:100%;}


label.b_snor_r {vertical-align:middle; min-width:68px;}
label.b_snor_r input {display:none;}
label.b_snor_r input + i {display:inline-block; width:21px; height:21px; margin-right:4px; background:url('/manage/img/radiobtn.png') no-repeat center top; vertical-align:middle; background-size:100%;}
label.b_snor_r input:checked + i {background:url('/manage/img/radiobtn_ed.png') no-repeat center top; background-size:100%;}
label.b_snor_r input:checked="checked" + i {background:url('/manage/img/radiobtn_ed.png') no-repeat center top; background-size:100%;}
label.b_snor_r.marl15 {margin-left:15px;}


.util_toggle{display:none;}