/*20181115 추가 css*/
.row.cf{display:none;}
.sub_common{display:none;}
.util_toggle{display:none;}
@media all and (max-width:1000px){
    #wrap{overflow:inherit; min-width:100%;}
	#canvas{min-width:100%;}
    #header,#header .header_inner{min-width:100%; position:relative;}
	#container #content{min-width:100%;}
	#container #content .con_tit{box-sizing:border-box;}
	#container #content .con{min-width:100%; width:96vw; box-sizing:border-box;}
	#header .header_inner .util ul{display:none;}
    /*헤더 탑 부분*/
    #header .header_inner h1{text-align:center;float:none;}

	/* utill 모바일 */

	.sub_common{display:block !important;}
	.sub_common ul{width:100%; font-size:0; text-align:center; border-top:1px solid #fff;}
	.sub_common ul li{display:inline-block; width:25%; height:50px;}
	.sub_common ul li a{display:block; width:100%; height:100%; font-size:18px; font-weight:600; background:#323337; color:#fff; text-align:center; line-height:50px;}


    /*메뉴 부분*/
	div#menu{position:absolute; width:70%; min-width:inherit; top:70px; left:-99999px;}
    div#menu.on{left:0;}
    div#menu ul{width:100%; min-width:100%;}
    div#menu ul li{width:100% !important;}
    div#menu ul li a{background:#666;}
    div#menu li div{position:inherit; top:0; visibility:inherit;}
    div#menu li:hover>div{visibility:inherit;}

    /*햄버거 버튼*/
    .row.cf{display:inline-block;}

    /* CLEARFIX */
    .col {display:block; float:left; margin: 1% 0 1% 1.6%;}
    .col:first-of-type {margin-left: 0;}
    .cf:before,
    .cf:after {content: " ";display: table;}
    .cf:after {clear: both;}
/*    .cf {*zoom: 1;}*/

    /* ALL */
    .row{margin-left:0 !important; margin-right:0 !important; position:absolute; top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); -o-transform:translateY(-50%); -moz-transform:translateY(-50%); left:10px;}
    .row .three{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #ecf0f1;text-align: center;}
    .hamburger .line{width: 40px; height: 5px; background-color: #ecf0f1; display: block; margin: 8px auto; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
    .hamburger:hover{cursor: pointer;}
    #hamburger-9{position: relative; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
    #hamburger-9.is-active{-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
    #hamburger-9:before{content: "";position: absolute;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 50px;height: 50px;border: 5px solid transparent;top: calc(50% - 25px);left: calc(50% - 25px);border-radius: 100%;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
    #hamburger-9.is-active:before{border: 5px solid #ecf0f1;}
    #hamburger-9.is-active .line{width: 35px;}
    #hamburger-9.is-active .line:nth-child(1){-webkit-transform: translateY(13px);-ms-transform: translateY(13px);-o-transform: translateY(13px);transform: translateY(13px);}
    #hamburger-9.is-active .line:nth-child(2){opacity: 0;}
    #hamburger-9.is-active .line:nth-child(3){-webkit-transform: translateY(-13px) rotate(90deg);-ms-transform: translateY(-13px) rotate(90deg);-o-transform: translateY(-13px) rotate(90deg);transform: translateY(-13px) rotate(90deg);}

	
	/*Util 토글 버튼*/
	.util_toggle{display:block;width:40px;height: 40px;position:absolute;right:10px;top:15px;}
	.util_toggle a{display:block;width:100%;height: 100%;}
	.util_toggle i{font-size:20px;line-height: 2;font-weight:100;color:#fff;}
	/* util css*/
	#header .header_inner .util{overflow:hidden;background-color:#222;width:100%;position:absolute;top:0;left:0;transition:all 0.3s;z-index:-1;display:none;opacity:0;}
	#header .header_inner .util.on{display:block;opacity:1;top:70px;}
	#header .header_inner .util ul{display:block;margin:10px;}

	/* table scroll */
	#bbs .table_wrap{overflow-x:scroll;}
	#bbs .table_wrap table{min-width:1000px;}

	#sms{overflow-x:scroll;}
	#sms .sms_top, #sms .save{min-width:1000px;}

	/* 관리자모드 로그인 화면 */
	#login .title{padding:0 5%;box-sizing:border-box;}
	#login .title h1{font-size:48px;}
	#login .title p{width:100%;}


}

@media all and (max-width:640px){
	/* h1 */
	#header .header_inner h1{font-size:4.375vw}

	/* hamburger */
	.hamburger .line{width:30px;height: 2px;}
	#hamburger-9.is-active .line:nth-child(1){transform:translateY(7px);}
	#hamburger-9:before{width:40px;height: 40px;top:calc(50% - 20px);left:calc(50% - 25px);}
	#hamburger-9.is-active:before{display:none;}

	/* utill 모바일 */
	.sub_common ul li a{font-size:15px;}
	#header .header_inner .util ul li{width:50%;margin:0;padding:5px;box-sizing:border-box;}
	#header .header_inner .util ul li a{display:block;text-align: center;}

	/* 관리자모드 로그인 화면 */
	#login .title{height: 55vw;}
	#login .title h1{font-size:7.5vw;padding:30.46875vw 0 3.59375vw;}
	#login .title p{font-size:2.5vw;padding-top: 2.34375vw;}
	#login .login{width:90vw;margin:7.8125vw auto;}
	#login .infoBox{width:69.0625vw;margin-right: 0.78125vw;}
	#login .infoBox dl{padding:0;}
	#login .infoBox dt{width: 9.375vw;height: 4.6875vw;padding: 2.8125vw;}
	#login .infoBox dd{width:calc(100% - 9.375vw);}
	#login .infoBox dl:last-of-type{margin-top: 0.78125vw;}
	#login .loginBtn{width:19.84375vw;height: 18.90625vw;}
	#login .joinList{padding:3.125vw 0 0;}
	#login label.b_nor_c input + i{width: 3.125vw;height: 3.125vw;}

	
}

@media all and (max-width:473px){
	.sub_common ul li a{font-size:13px;}
}

@media all and (max-width:350px){
	.helper{width:100%;}

}