@charset "utf-8";

/* 크로스브라우징을 위한 CSS 초기화 */
 *{margin:0; padding:0;} 
body{font-size:12px; color:#a9a9a9; font-family:'Noto Sans KR', sans-serif;}
a{outline:0px;}
a:link{font-size:12px; color:#a9a9a9; text-decoration:none;}                                       
a:hover{font-size:12px; color:#a9a9a9; text-decoration:none;}
a:visited{font-size:12px; color:#a9a9a9;  text-decoration:none;}
caption, legend{font-size:0px; width:0px; height:0px; overflow:hidden; position:absolute; visibility:hidden;}
img{border:0px;}
fieldset,img{border:0; vertical-align:top;}
table{border-collapse:collapse; border-spacing:0; border:0;}
input,textarea,select{font-family:inherit; font-size:inherit; font-weight:inherit;}
input[type=password]{IME-MODE: disabled;}
ul,ol,dl{list-style:none;}
textarea{overflow:auto;} 
button,label{cursor:pointer;}
/*
h1{font-size:12px;}
h2{font-size:12px;}
h3{font-size:12px;}
h4{font-size:12px;}
h5{font-size:12px;}
h6{font-size:12px;}
*/
hr{display:none; clear:both;}

/* 관리자 에디터에서 ol, ul 붙혔을경우 읽기페이지에서 나오기 */
.readEdit ul{list-style:inside; padding-left:15px;}
.readEdit ol{list-style:decimal; padding-left:15px;}