@charset "utf-8";
@import url("//fonts.googleapis.com/earlyaccess/nanumgothic.css");

.programCon{max-width:1200px; margin:50px auto; font-family:'Nanum Gothic', sans-serif; letter-spacing:0; overflow:hidden;}
.programCon .urlFile {text-align:left;vertical-align:middle;}
.programCon .urlFile img {vertical-align:middle; margin-right:3px;}
.programCon .urlFile p {padding:15px 0 15px 20px; border-top:1px solid #e5e5e5;}
.programCon .urlFile p a {font-size:13px; color:#000;}
.programCon .faq_table .urlFile {margin-top:15px;}
.programCon .faq_table .urlFile p:last-of-type {border-bottom:1px solid #e5e5e5;}
.readEditSubs {padding:15px 0 15px 20px; font-size:13px; color:#000; border-top:1px solid #e5e5e5;}
.readEditSubs a {font-size:13px; color:#000;}
.mt60{margin-top:60px;}

/* 퍼블리셔 공지 */
/* ID명 사용금지 ! class 명으로 사용해 주세요 */
/*********************** 병원프로그램 css입니다 . 수정시 백업파일 필수(PHP와 JSP 둘다 수정해주세요)!! **************************/
/****************************** 겔러리 이미지는 권장사이즈 제안 ********************************/
/**************** 겔러리 너비 높이에 따라 수정 (이미지마다 사이즈 조절 필수) **********************/
/******************** 전후사진 겔러리는 겔러리 높이에 맞춰서 사용해주세요 ************************/
/* 모두 반응형으로 되어있습니다. PC버전 사용하실 경우 정해진 wrap값이하로 줄어들 경우 고정 시켜주세요 */
/* PC버전 사용시 viewport 해제시켜주세요 항상 검수 철저히 필수!  */
/* 병원프로그램 css 한번에 ★덮지마세요★ 다 달라요 */
/* 2018-07-02 회원가입 table 수정 수정자 - 김준영 */

/*================================================= 회원 =================================================*/


/**** 로그인 ****/
.login_wrap{max-width:1100px; text-align:center; padding:65px 0; border-top:2px solid #313236;}
/*로그인 타이틀(회원전용서비스)*/
.login_wrap .login_tit{font-size:20px;}
.login_wrap .login_tit span{font-size:56px; font-weight:800;}
/*로그인 서브타이틀(로그인후확인하실수있습니다)*/
.login_wrap .login_subtit{font-size:28px; color:#454545; font-weight:bold; margin:15px 0 25px; line-height:1.3;}
/*로그인 텍스트(아이디와비밀번호를입력해주세요///)*/
.login_wrap .login_txt{font-size:16px; color:#444; line-height:1.4;}
/*로그인폼박스*/
.loginCon {margin-top:40px; overflow:hidden; font-size:0; padding:30px 0; border-top:1px solid #e1e3e4; border-bottom:1px solid #e1e3e4;}
/* li 아이디비밀번호입력창 */
.loginCon li{display:inline-block; vertical-align:middle; box-sizing:border-box;}
.loginCon li .linp_wrap {float:left; width:calc(100% - 133px);}
.loginCon li dl{overflow:hidden; padding:15px 0; border:1px solid #dedede; box-sizing:border-box;}
.loginCon li dl:last-of-type{margin-top:5px;}
.loginCon li dl dt{float:left; width:60px; height:30px; padding:0 18px; border-right:1px solid #dedede; box-sizing:border-box;}
.loginCon li dl dt img{margin-top:2.5px;}
.loginCon li dl dd{float:left; width:calc(100% - 60px);}
.loginCon li dl dd input{width:calc(100% - 40px); height:30px; margin:0 20px; font-size:14px; border:0;}
.loginCon li .login_btn{float:right; display:block; width:127px; height:129px; line-height:121px; color:#fff; font-size:18px; font-weight:bold;}
.loginCon li:first-of-type{width:calc(50% + 50px); padding-right:25px; border-right:1px solid #dedede;}
/* li.last 아직회원이아니신가요? 회원가입/아이디비밀번호찾기 부분 */
.loginCon li.last{width:calc(50% - 50px); padding-left:50px;}
.loginCon li.last div{height:40px; line-height:40px; text-align:left;}
.loginCon li.last div span{font-size:16px; color:#222;}
.loginCon li.last div a{display:inline-block; float:right; width:180px; height:40px; font-size:15px; color:#fff; background:#5b5b5b; text-align:center;}
.loginCon li.last div:last-of-type{margin-top:20px;}


/**** 아이디/비밀번호 찾기 ****/
/*아이디찾기/비밀번호찾기 폼박스*/
.findCon_wrap{max-width:1200px; margin:0 auto; overflow:hidden;}
.findCon_wrap > div {float:left; width:50%; margin:40px 0 0; border-top:1px solid #e1e3e4; padding-top:40px;}
.findCon_wrap > div:first-of-type .in_hei {padding-right:5%;}
/* up_txt 입력창 위 텍스트 */
.findCon_wrap .up_txt {text-align:left;}
.findCon_wrap .up_txt p {font-size:16px; color:#222; font-weight:700; margin-bottom:5px;}
.findCon_wrap .up_txt span {display:inline-block; height:35px; font-size:14px; color:#666; letter-spacing:-0.025em;}
.findCon {padding:15px 0; box-sizing:border-box;}
.findCon_wrap .in_hei {height:295px;} 
/* li 아이디비밀번호입력창*/
.findCon li{/* display:none; */}
.findCon li.on{display:block;}
.findCon li dl{overflow:hidden; padding:15px 0; border:1px solid #dedede; box-sizing:border-box; margin-top:10px;}
.findCon li dl:first-of-type{margin-top:0;}
.findCon li dl dt{float:left; width:60px; height:30px; padding:0 18px; border-right:1px solid #dedede; box-sizing:border-box;}
.findCon li dl dt img{margin-top:2.5px;}
/* 클래스그대로 아이콘*/
.findCon li dl dt .password_icon{margin-top:3px;}
.findCon li dl dt .name_icon{margin-top:3.5px;}
.findCon li dl dt .email_icon{margin-top:7px;}
/* 인풋영역 */
.findCon li dl dd{float:left; width:calc(100% - 60px);}
.findCon li dl dd input{width:calc(100% - 40px); height:30px; margin:0 20px; font-size:14px; border:0;}
.under_btn {overflow:hidden; margin:20px 0 0; border-top:1px solid #e1e3e4;}
.under_btn .login_btn{display:block; width:50%; margin:0 auto; height:60px; line-height:60px; color:#fff; font-size:18px; font-weight:bold; margin-top:30px;}


/**** 회원탈퇴 ****/
.secedeCon{margin:50px auto 0; padding:40px 0; overflow:hidden; border-top:1px solid #e1e3e4; border-bottom:1px solid #e1e3e4;}
.secedeCon li{width:100%; max-width:550px; margin:0 auto;}
.secedeCon li dl{overflow:hidden; padding:15px 0; border:1px solid #dedede; box-sizing:border-box;}
.secedeCon li dl:last-of-type{margin-top:10px;}
.secedeCon li dl dt{float:left; width:60px; height:30px; padding:0 18px; border-right:1px solid #dedede; box-sizing:border-box;}
.secedeCon li dl dt img{margin-top:2.5px;}
.secedeCon li dl dd{float:left; width:calc(100% - 60px);}
.secedeCon li dl dd input{width:calc(100% - 40px); height:30px; margin:0 20px; font-size:14px; border:0;}
.sec_ucon .login_btn{display:block; max-width:330px; height:60px; line-height:60px; margin:0 auto; color:#fff; font-size:18px; font-weight:bold; margin-top:30px;}


/**** password(글열람시 비밀번호를 입력해주세요 부분) ****/
.passwordCon{max-width:550px; margin:70px auto 0; overflow:hidden;}
.passwordCon li{width:100%;}
.passwordCon li dl{overflow:hidden; padding:15px 0; border:1px solid #dedede; box-sizing:border-box;}
.passwordCon li dl:last-of-type{margin-top:10px;}
.passwordCon li dl dt{float:left; width:60px; height:30px; padding:0 18px; border-right:1px solid #dedede; box-sizing:border-box;}
.passwordCon li dl dt img{margin-top:2.5px;}
.passwordCon li dl dd{float:left; width:calc(100% - 60px);}
.passwordCon li dl dd input{width:calc(100% - 40px); height:30px; margin:0 20px; font-size:14px; border:0;}
.passwordCon li .password_btn{margin-top:20px; font-size:0;}
.passwordCon li .password_btn a{display:inline-block; width:calc(50% - 5px); height:60px; line-height:60px; color:#fff; font-size:22px; font-weight:bold; margin-right:10px;}
.passwordCon li .password_btn a:last-of-type{margin-right:0; background:#5b5b5b;}


/**** 회원가입 ****/
/* join 회원가입 상단 동의부분 */
.programCon .join{position: relative; margin:0; padding:0; border:0;}
.programCon .join .joinTop{width:100%; overflow: hidden; margin-top:20px;}
.programCon .join .joinTop:first-of-type{margin-top:0;}
/* ScoIILy 동의내용 */
.programCon .join .ScrollLy{height:180px; margin:0; padding:10px 20px; border:1px solid #e5e5e5; color:#444; overflow-x:hidden; overflow-y:auto; line-height:1.8; box-sizing:border-box;}
.programCon .join .ScrollLy *{font-size:14px;}
/* jcheck 동의합니다 체크 */
.programCon .join .joinTop .jcheck{width:100%; font-size:14px; padding:12px 0; color:#222; border:1px solid #e5e5e5; border-top:0; box-sizing:border-box; text-align:right; background:#f9f8f8;}
.programCon .join .joinTop .jcheck *{display:inline-block; vertical-align:middle;}
.programCon .join .joinTop .jcheck input{width:15px; height:15px;}
.programCon .join .joinTop .jcheck label{margin-right:20px;}

/* 아이디중복확인 클릭시 팝업 중복확인창 */
.idCheck_wrap{height:360px; margin:10px; padding:40px 20px; box-sizing:border-box; border:1px solid #d7d7d7; text-align:center;}
.idCheck_wrap h2{font-size:35px; color:#222; letter-spacing:-0.06em;}
.idCheck_wrap h2 span{font-weight:300;}
.idCheck_wrap p{margin:20px 0; font-size:16px; color:#666; letter-spacing:-0.06em; line-height:1.5;}
.idCheck_wrap .conBox{font-size:0;}
.idCheck_wrap .conBox dd{display:inline-block; margin:0 2.5px; font-size:16px; color:#333;}
.idCheck_wrap .conBox dd input[type=text]{padding:7px 10px; border:1px solid #d3d3d3;}
.idCheck_wrap .conBox dd input[type=submit]{padding:7px 10px; border:1px solid #797979; border-radius:5px; background:none; cursor:pointer;}
.idCheck_wrap .btnok{margin-top:10px; font-size:16px; color:#666;}
.idCheck_wrap .btnok strong{font-weight:normal;}
.idCheck_wrap .btnok span{color:#333; font-weight:bold;}
.idCheck_wrap .btnok .btnAll{margin-top:30px;}
.idCheck_wrap .btnok .btnAll a{display:inline-block; width:120px; padding:8px 0; font-size:16px; color:#fff; background:#666;}

/* 회원가입 입력창 */
.writeForm{margin-top:60px; text-align:left;}
.writeForm > table{width:100%; border-top:2px solid #888;}
.writeForm table .writeForm_col01{width:150px;}
.writeForm table .writeForm_col02{width:15%;}
.writeForm table .writeForm_col03{width:35%;}
/*.writeForm table tr{border-bottom:1px solid #e1e3e4; font-size:0;}*/
.writeForm > table > tbody > tr{border-bottom:1px solid #e1e3e4; }
.writeForm > table > tbody > tr > th{padding:10px; font-size:14px; color:#222; background:#f9f8f8}
.writeForm > table > tbody > tr > td{padding:15px 5px 15px 15px; color:#444;}
.writeForm table tr td input[type="text"]{height:37px; border:1px solid #dedede; font-size:14px; padding:0 20px; vertical-align:middle; box-sizing:border-box;}
.writeForm table tr td input[type="password"]{height:37px; border:1px solid #dedede; font-size:14px; padding:0 20px; vertical-align:middle; box-sizing:border-box;}
.writeForm table tr td input[type="file"]{width:60%; height:42px; border:1px solid #dedede; font-size:14px; padding:7px 20px; vertical-align:middle; box-sizing:border-box;}
.writeForm table tr td .inputTxt{width:248px;}
.writeForm table tr td .inputPass{width:248px;}
/*.writeForm table tr td .inputTxt{width:calc(30% - 40px);}*/
.writeForm table tr td .inputPass.size02{width:calc(40% - 40px); max-width:248px;}
.writeForm table tr td .inputNum{width:100px; text-align:center;}
.writeForm table tr td .inputNum:first-of-type{margin-right:10px;}
.writeForm table tr td .inputEmail{width:248px;}
.writeForm table tr td input[type="text"].inputEmail02 {vertical-align:top;}
.writeForm table tr td .inputTit{width:80%;}
.writeForm table tr td select {width:140px; height:37px; padding:0 0 0 10px; font-size:14px; color:#666; margin-right:10px; text-align:center; text-align-last: center; border-color:#dedede; vertical-align:top;}
.writeForm_top table tr td select{width:70%;}
.writeForm table tr td select.selecEmail{width:245px;}
.writeForm table tr td select option{text-align:center;}
.writeForm table tr td > span{margin:0 10px; font-size:14px; color:#444; vertical-align:middle;}
.writeForm table tr td span.label{font-size:14px;}
.writeForm table tr td.step span{color:#333; font-weight:500;}
.writeForm table tr td span a{font-size:18px;}
.writeForm table tr td textarea{width:100%; height:268px; padding:15px; margin:13px 0; resize:none; font-size:14px; box-sizing:border-box; border:1px solid #dedede;}
.writeForm_btn{text-align:center; margin-top:60px; font-size:0;}
.writeForm_btn a{display:inline-block; width:180px; height:50px; line-height:50px; color:#fff; font-size:15px;}
.writeForm_btn a:last-of-type{background:#87888a; margin-left:10px;}

#useFile a.btns{display:inline-block; height:29px; padding:0 10px; line-height:29px; color:#fff !important; font-size:15px; background:#87888a; text-align:center; font-weight:300; vertical-align:top; box-sizing:border-box;}

.writeForm table tr td .label_wrap{margin:0;}
/* id 중복찾기*/
.writeForm table tr td a.id_ch{display:inline-block; width:140px; height:37px; line-height:35px; font-size:14px; color:#222; margin-left:10px; text-align:center; vertical-align:middle; box-sizing:border-box; border:1px solid #222;}
/* zip_ch 우편번호 찾기*/
.writeForm table tr td a.zip_ch{display:inline-block; width:140px; height:37px; line-height:35px; font-size:14px; color:#222; margin-left:10px; text-align:center; vertical-align:middle; box-sizing:border-box; border:1px solid #222;}
/* 비밀번호 확인 */
.writeForm table tr td span.password_ch{font-size:14px; color:#666; margin:0 60px 0 40px;}
.writeForm table tr td.editor{padding:13px 0;}
.writeForm table tr td .addr{width:calc(50% - 40px);}

.writeForm > table > tbody > tr > td{overflow:hidden;}
.writeForm table tr td select.selectNum{width:100px;}
.writeForm table tr td label{font-size:14px; margin-right:30px; vertical-align:middle;}
.writeForm table tr td label:last-of-type{margin-right:0;}
.writeForm table tr td input[type="checkbox"]{width:15px; height:15px; margin:0 10px 0 20px; vertical-align:middle;}
.writeForm table tr td input[type="radio"]{width:15px; height:15px; margin-right:10px; vertical-align:middle;}
.writeForm table tr td i{font-style:normal;}
.writeForm table tr td .modal-content input[type="checkbox"] {margin:4px 0 0 -20px;}

.writeForm table tr .spam_td{font-size:14px;}
.writeForm table tr .spam_td img{margin:0 10px; vertical-align:middle;}
.writeForm span.col01 {color:#ea1c5b; display:inline-block; margin-right:3px;}
.writeForm th span.col01 {margin-left:-9px;}
.writeForm td p.he_txt {margin-bottom:5px;}


/*================================================= 게시판 =================================================*/

.show1000{display:none;}
.show1000i{display:none;}

/* table 게시판 스타일 */
.program_table table{width:100%; border-top:2px solid #313236; table-layout:fixed;}
.program_table table tr{border-bottom:1px solid #e1e3e4; font-size:0;}
.program_table table tr th{height:47px; padding:0 10px; font-size:14px; color:#001e26; font-weight:bold; line-height:1.4; background:#f9f8f8;}
.program_table table tr td{height:45px; font-size:14px; padding:5px 10px; color:#383838; text-align:center; line-height:1.3;word-break:break-all;}
.program_table table tr td.tit{text-align:left; color:#222;}
.program_table table tr td.tit .up_btnw{vertical-align:middle;}
.program_table table tr td.tit p.mmw100 {width:auto; vertical-align:middle;}
.program_table table tr td.bna{position:relative; padding:10px 0; font-size:0;}
.program_table table tr td.bna img{width:100%; max-width:130px; height:auto; max-height:130px;}
.program_table table tr td.bna > span {display:block; position:absolute; width:50px; padding:2px 0; bottom:10px; left:15px; font-size:11px; color:#fff; background:#666; text-align:center;}
.program_table table tr td.bna > span.colafer{background-color:#ea1c5b;}

.program_table table tr td img{vertical-align:middle;}

.program_table table tr td p{display:inline-block; width:100%; line-height:1.45;     word-break: break-all; box-sizing:border-box;}
.program_table table tr td a{font-size:14px; color:#383838;}
.program_table table tr td .consult_on{display:none;}
.titCenter_table table tr td.tit{text-align:center;}

.program_table table tr.on_e {background:#f3f8fe;}
.program_table table tr.on_e td {background:#f3f8fe; color:#0063e9;}

/*아이콘스타일*/
.new_icon {display:inline-block; width:37px; height:22px; box-sizing:border-box; line-height:21px; font-size:11px; text-align:center; font-weight:300; vertical-align: middle; background:#fff;}
.new_icon.gre {color:#99d802; border:1px solid #99d802;}
/* 번호대신 상태바 ex)공지 */
.noti_icon {display:inline-block; width:34px; height:22px; box-sizing:border-box; line-height:21px; font-size:11px; color:#ea1c5b; border:1px solid #ea1c5b; text-align:center; vertical-align: middle; background:#fff;}
.ans_icon {display:inline-block; width:30px; height:18px; margin-right:4px; box-sizing:border-box; line-height:18px; font-size:12px; color:#fff; background:#307dd4; vertical-align:baseline; text-align:center;}
/* 제목왼쪽에 뜨는 상태바 ex)지점/피부(치아미백) */
.branch01 {display:inline-block; padding:2px; margin-right:3px; line-height:1; font-size:13px; color:#222; box-sizing:border-box; border:1px solid #222; background:#fff;}
.branch02 {display:inline-block; padding:2px; margin-right:3px; line-height:1; font-size:13px; color:#307dd4; box-sizing:border-box; border:1px solid #307dd4; background:#fff;}


.program_table table tr td.tit .noti_icon {display:none;}
/* 답변 상태바 ex)답변(대기중)*/
.program_table table tr td .answer_icon{}
.program_table table tr td .answer_icon img{margin-right:3px; vertical-align:text-top;}
.program_table table tr td .answer_icon2{margin-left:35px;}
.program_table table tr td .answer_icon2 img{margin-right:10px; vertical-align:middle;}
/* 상태 대기*/
.program_table table tr td .wait{display:inline-block; padding: 5px 10px; color:#cbcbcb; border:1px solid #cbcbcb; background:#fff}
/* 상태 답변*/
.program_table table tr td .answer{display:inline-block; padding:5px 10px; color:#307dd4; border:1px solid #307dd4;}
/* 상태 공개*/
.program_table table tr td .open{display:inline-block; padding: 5px 10px; color:#0063e9; border:1px solid #0063e9;}
/* 상태 비공개*/
.program_table table tr td .closed{display:inline-block; padding: 5px 4px; color:#ea1c5b; border:1px solid #ea1c5b;}
.program_table table tr td .hit{display:none; margin-right:3px;}
.program_table table tr td .rep_txt{color:#f60029; font-weight:bold;}
/*
.program_table table tr td.nt_list img{width:100%; height:130px;}
*/
/*테이블 witdh 값 class*/
.program_table table .w70{width:70px;}
.program_table table .w80{width:80px;}
.program_table table .w90{width:90px;}
.program_table table .w100{width:100px;}
.program_table table .w110{width:110px;}
.program_table table .w130{width:130px;}
.program_table table .w150{width:150px;}
.program_table table .w160{width:160px;}
.program_table table .w200{width:200px;}
.program_table table .w300{width:300px;}

/* 글쓰기 버튼*/
.write_btn{overflow:hidden; font-size:0; text-align:center; margin-top:20px;}
.write_btn dt{float:left;}
.write_btn dt a{display:inline-block; width:80px; height:40px; line-height:40px; font-size:12px; color:#fff; background:#b7b7b7;}
.write_btn dt a:first-of-type{margin-right:5px;}
.write_btn dd{float:right;}
.write_btn dd a{display:inline-block; width:117px; height:40px; line-height:40px; font-size:15px; color:#fff; background:#323337 url("/manage/img/write_icon.png") no-repeat 16px 12px; padding-left:27px; box-sizing:border-box;}

/* 게시판 하단 검색바 (거의 공통이라 보면 됨 )*/
.program_search{text-align:center; font-size:0; margin-top:30px;}
.program_search select{height:32px; padding:0 0 0 5px; font-size:14px; color:#666; margin-right:10px; text-align:center; text-align-last: center; border-color:#dedede; vertical-align:middle;}
.program_search input[type="text"]{width:300px; height:32px; border:1px solid #dedede;  font-size:14px; padding:0 20px; vertical-align:middle; box-sizing:border-box;}
.program_search a {vertical-align:middle; display:inline-block; width:65px; height:32px; font-size:14px; color:#307dd4; box-sizing:border-box; text-align:center; line-height:30px; border:1px solid #307dd4; margin-left:5px;}



/**** 온라인예약 ****/
.writeForm table tr td .spamCode{float:left; width:210px; height:100px; margin:13px 10px 13px 0; background:#fafafa; border:1px solid #e5e5e5; box-sizing:border-box; text-align:center;}
.writeForm table tr td input[type="text"].inputSpam{width:328px; height:48px; margin:13px 0 15px;}
.writeForm table tr td .spamTxt{font-size:14px;}
.writeForm table tr td .spamTxt img{margin-right:10px; vertical-align:middle;}
.branchSelect > p{font-size:14px; color:#454545; margin-bottom:10px; font-weight:bold; margin-top:60px;}
.branchSelect > p:first-of-type{margin-top:0;}
.branchSelect table tr td select{width:440px;}

.writeForm_top > p{font-size:14px; color:#454545; margin-bottom:10px; font-weight:bold; margin-top:60px;}
.writeForm_top > p:first-of-type{margin-top:0;}

/* 달력 */
.schedule_wrap{overflow:hidden; padding-top:20px; border-top:2px solid #888;}
.schedule{overflow:hidden; float:left; width:600px; margin-right:20px; text-align:center;}
/* 상단 20xx년 x월 부분*/
.schedule table.calendar_top_table{position:relative; width:100%; height:100%; margin:0; border:0;}
.schedule table.calendar_top_table thead .table_year{border:0;}
.schedule table.calendar_top_table thead th{padding:20px 0;}
.schedule table.calendar_top_table thead th img{vertical-align:middle; cursor:pointer; width:7px;}
.schedule table.calendar_top_table thead .now{display:inline-block; font-size:18px; font-weight:700; color:#222; width:180px; vertical-align:middle; line-height:1;}
/* 중간 달력 내용*/
.schedule table.calendar_table{position:relative; width:100%; height:100%; border-top:0;}
.schedule table.calendar_table thead th{padding:0; height:45px; color:#222; font-size:13px; font-weight:bold; border-bottom:1px solid #e5e5e5;}
.schedule table.calendar_table thead th.sun{color:#df4545;}
.schedule table.calendar_table thead th.sat{color:#3d82bc;}
.schedule table.calendar_table tbody td{padding:0; height:45px; background:#fff; font-size:13px; border-bottom:1px solid #e5e5e5; color:#222;}
.schedule table.calendar_table tbody td.sat_txt{color:#1559aa;}
.schedule table.calendar_table tbody td.sun_txt{color:#ff4836;}
.schedule table.calendar_table tbody td.next_month{color:#d5d4d4;}
/*온라인 예약 달력 클릭 시 효과 들어가는 부분 시작*/
.schedule table.calendar_table tbody td.on p{display:inline-block; width:33px; height:33px; line-height:33px; margin:0; font-weight:bold; background:#ea1c5b; border-radius:50%;color:#fff;}
/*온라인 예약 달력 클릭 시 효과 들어가는 부분 끝*/
.schedule table.calendar_table tbody td#r_click span {display:inline-block; width:33px; height:33px; line-height:33px; margin:0; color:#fff; font-weight:bold; background:#ea1c5b; border-radius:50%;}
/*온라인 예약 달력 마우스 호버 시 효과 들어가는 부분 시작*/
.schedule table.calendar_table tbody td.ent {background:#f6f9fd;}
.schedule table.calendar_table tbody td.ent span {display:inline-block; width:33px; height:33px; line-height:33px; margin:0; color:#fff; font-weight:bold; background:#323337; border-radius:50%;}
.schedule table.calendar_table tbody td.onBg{background:#f6f9fd;}
 /*온라인 예약 달력 마우스 호버 시 효과 들어가는 부분 끝*/
.schedule .tit {font-size:14px; font-weight:700; color:#222; border:0; background:none; text-align:left; margin:20px 0 10px;}
/*.schedule > div{height:45px; border:1px solid #e5e5e5; border-top:0; color:#666; line-height:45px; text-align:left; overflow:hidden;}*/

/* 상담가능 날짜 체크 */
.schedule > div .cal_check{display:inline-block; width:25px; height:16px; background:#f6f9fd; box-sizing:border-box; border:1px solid #ddd; margin:0 10px 0 0; vertical-align:middle;}
/*.schedule > div div input[type="text"]{width:178px; height:28px; margin-left:10px; text-align:center;}*/

/* 의료진 선택후 시간예약 */
.schedule_time{overflow:hidden; width:calc(100% - 620px); float:left;}
.schedule_time > p.titype {font-size:14px; font-weight:700; color:#222; border:0; background:none; text-align:left; margin:20px 0 10px;}
.schedule_time div{width:32%; float:left; text-align:center; border:1px solid #e1e3e4; border-radius:15px; box-sizing:border-box; margin:0 2% 0 0;}
.schedule_time div:last-of-type {margin-right:0;}
.schedule_time div p{height:50px; line-height:50px; font-size:14px; color:#222; font-weight:bold; box-sizing:border-box;}
.schedule_time div ul{margin:0;}
.schedule_time div ul li{padding:15px 0; font-size:13px; color:#222; border-top:1px solid #f0f1f2;}
.schedule_time div ul.up_no li:first-of-type {border-top:0;}
.schedule_time div ul li:hover {background:#f3f8fe; color:#ea1c5b;}
.schedule_time div ul li:last-child:hover {border-radius:0 0 15px 15px;}

.schedule_time div ul li.choiceTime{background-color:#f3f8fe;}

.schedule_time div ul li.timeNo{color:#b7b7b7; text-decoration:line-through;}
.schedule_time div ul li:last-of-type{margin-bottom:0;}
.schedule_time div:last-of-type p{border-right:0;}

/* under_wrap ( 하단 달력 부분 (상담가능날짜 예약선택일))*/
.schedule .calender_wrap {height:auto; border:1px solid #e1e3e4; border-radius:15px;}
.schedule .calender_wrap .under_wrap {overflow:hidden; background:#fcfcfc; border-radius:0 0 15px 15px; padding:15px; font-weight:700;}
.calender_wrap .under_wrap p {float:left; font-size:13px; color:#444; vertical-align:middle; line-height:30px;}
.calender_wrap .under_wrap > .sr_wrap {float:right;}
.calender_wrap .under_wrap > .sr_wrap i {display:block; float:left; width:1px; height:17px; vertical-align:middle; background:#d7d7d7; margin:6px 10px 0px;}
.calender_wrap .under_wrap > .sr_wrap input {width:90px; height:30px; text-align:center; border:1px solid #e1e3e4; font-size:13px; color:#ea1c5b; box-sizing:border-box; padding:0 2px; vertical-align:baseline; margin:0 3px;}
.calender_wrap .under_wrap > .sr_wrap input.no02 {width:70px;}

/**** FAQ ****/
/* FAQ 상단 탭 (몇몇 공통 탭이기도 함) */
.faq_tab{overflow:hidden; margin:35px auto 40px; text-align:center;}
.faq_tab li{display:table; float:left; width:12.5%; height:60px; box-sizing:border-box; border:1px solid #c2c2c2; border-left:0; font-size:16px; color:#1e1e1f; font-family:'Nanum Gothic', sans-serif; cursor:pointer; overflow:hidden;}
.faq_tab li:first-of-type{border-left:1px solid #c2c2c2;}
.faq_tab li:hover{background:#307dd4; color:#fff;}
.faq_tab li.active{background:#307dd4; color:#fff;}
.faq_tab li a{font-size:16px; color:#1e1e1f; display:table-cell; line-height:1.2; vertical-align:middle;}
.faq_tab li:hover a{color:#fff;}
.faq_tab li.active a{color:#fff;}

/* FAQ - 분류별 테이블 */
.faq_table{width:100%; border-top:2px solid #888;}
.faq_table > tbody > tr{border-bottom:1px solid #e1e3e4;}
.faq_table > tbody > tr > th{text-align:left; height:60px; padding:0 40px; font-size:16px; color:#222; cursor:pointer;}
.faq_table > tbody > tr > td{text-align:left; display:none; padding:50px 40px; font-size:18px; background:#fcfcfc; line-height:1.5; color:#444;}
.faq_table > tbody > tr > td img {max-width:100%;}
.faq_table tr.on_e,.faq_table > tbody > tr:hover {background:#f3f8fe;}
.faq_table tr.on_e th,.faq_table > tbody > tr:hover th {background:#f3f8fe; color:#0063e9;}


/**** 갤러리게시판 ****/
.gal_wrap{padding-top:40px; border-top:2px solid #888; border-bottom:1px solid #c4c7ca;}
.gal_wrap ul{overflow:hidden;}
.gal_wrap ul li{float:left; width:22.5%; height:310px; box-sizing:border-box; border:1px solid #d6d6d6; margin:0 3.333% 3.334% 0;}
.gal_wrap ul li:nth-of-type(4n){margin-right:0;}
.gal_wrap ul li.on_e {background:#f3f8fe;}
.gal_wrap ul li a{display:block; width:100%; height:100%;}
.gal_wrap ul li a .part_img {text-align:center; background:#efefef;}
.gal_wrap ul li a img{width:100%; height:182px;}
.gal_wrap ul li a img.noimg_ty {width:auto; height:182px;}
.gal_wrap ul li a p{font-size:14px; color:#373737; margin:0; line-height:1.4;}
/*.gal_wrap ul li a span{font-size:13px; color:#888b90;}*/
.gal_wrap ul li .txt {padding:20px;}
.gal_wrap ul li a .eyeicon {width:15px; height:auto; vertical-align:middle; margin-right:5px;}
.gal_wrap ul li .up_type {margin-bottom:10px; font-size:13px; color:#666; vertical-align:middle;}
.gal_wrap ul li .title {font-size:14px; margin:0 0 10px 0; color:#222; font-weight:700;  width:100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.gal_wrap ul li .txt span {vertical-align:middle;}
.gal_wrap ul li .txt i {display:inline-block; width:1px; height:11px; background:#eaeaea; vertical-align:middle; margin:0 7px;}

/**** 전후사진 ****/
.bna_wrap{padding-top:40px; border-top:2px solid #888; border-bottom:1px solid #eae8e8;}
.bna_wrap ul{overflow:hidden;}
.bna_wrap ul li{float:left; width:32%; height:320px; box-sizing:border-box; border:1px solid #d6d6d6; margin:0 2% 2% 0;}

.nodata{border:1px solid #d6d6d6 !important; width:100% !important;text-align: center;padding: 100px 0 !important; height:auto !important; box-sizing:border-box; margin:0 auto !important}
.nodata p{font-size:18px;font-weight: bold; letter-spacing: -0.05em; color:#444;padding-top: 20px;}

@media all and (max-width:640px){
	.nodata{padding:45px 0 !important}
	.nodata p{font-size:14px;}
}

@media all and (min-width:1001px){
    .bna_wrap ul li:nth-of-type(3n){margin-right:0;}
    }
.bna_wrap ul li a{position:relative; display:block; overflow:hidden; width:100%;}
.bna_wrap ul li a img{width:100%; height:170px;}
.bna_wrap ul li a .before{position:relative; float:left; width:50%;}
.bna_wrap ul li a .before > span {display:block; position:absolute; width:50px; padding:2px 0; bottom:0; left:0; font-size:11px; color:#fff; background:#666; text-align:center;}
.bna_wrap ul li a .after{position:relative; float:right; width:50%;}
.bna_wrap ul li a .after > span {display:block; position:absolute; width:50px; padding:2px 0; bottom:0; left:0; font-size:11px; color:#fff; background:#ea1c5b; text-align:center;}
.bna_wrap ul li a > span{position:absolute; top:50%; left:50%;}
.bna_wrap ul li div.beafphotocc{padding:19px; font-size: 11px; color: #2e2e2e;}
.bna_wrap ul li.on_e {background:#f3f8fe;}
.bna_wrap ul li div.beafphotocc p.photoday {margin-bottom:10px;}
.bna_wrap ul li div.beafphotocc .photoday .btn_wrap .noti_icon {margin-right:12px;}
.bna_wrap ul li div.beafphotocc .photoday .fontn {font-size:13px; color:#666; vertical-align:middle;}

.bna_wrap ul li div.beafphotocc dt{font-size:14px; margin:0 0 10px 0; color:#222; font-weight:700;}
.bna_wrap ul li div.beafphotocc dd{width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; color:#444;}
.bna_wrap ul li div.beafphotocc p.photoday img.noticeIcon{width:30px; height:auto; margin-right:7px; display:inline-block;}
.bna_wrap ul li div.beafphotocc .under {margin-top:15px; font-size:12px; color:#666; vertical-align:middle;}
.bna_wrap ul li div.beafphotocc .under span {vertical-align:middle;}
.bna_wrap ul li div.beafphotocc .under span img {display:inline-block; width:auto; height:auto; margin-right:5px; vertical-align:initial;}
.bna_wrap ul li div.beafphotocc .under i {display:inline-block; width:1px; height:11px; background:#eaeaea; vertical-align:middle; margin:0 7px;}


/**** 페이저 ****/
.programPage {margin-top:20px; text-align:center; font-size:0;}
.programPage a{position:relative; display:inline-block; width:34px; height:34px; text-decoration: none; color:#444; box-sizing:border-box; border:1px solid #fff; line-height:32px; font-size:15px;}
.programPage a.page_prev{position:relative; display:inline-block; vertical-align:top; color:#ea1c5b; font-size:11px; border:1px solid #ddd;}
.programPage a.page_next{position:relative; display:inline-block; vertical-align:top; color:#ea1c5b; font-size:11px; border:1px solid #ddd;}
.programPage a:hover{background:#f3f8fe; border:1px solid #f3f8fe;}
.programPage a.active {color:#f60029; border:1px solid #ea1c5b;}
.programPage a.page_prev:hover, .programPage a.page_next:hover{background:none; border:1px solid #ddd;}

.mo_programPage{height:45px; line-height:45px; text-align:center; background:#f7f6f6; margin-top:30px; display:none;}
.mo_programPage a{display:block; width:100%; height:100%; font-size:13px; color:#222;}
.mo_programPage a span{font-size:14px; padding-left:18px;}


/**** read ****/
/* 리드페이지 제목/날짜 상단부분 */
.readTop{width:calc(100% - 40px); border-top:2px solid #888; border-bottom:1px solid #c4c7ca; padding:30px 20px;}
.readTop .imgTitle{font-size:18px; color:#454545; line-height:1.5; font-weight:bold;}
.readTop .imgTitle .branch01,.readTop .imgTitle .branch02 {font-weight:400;}
.readTop .imgTitle_sub{margin-top:10px; font-size:12px; color:#666; vertical-align:middle;}
.readTop .imgTitle_sub.tit{margin-bottom:5px; font-size:14px; color:#666;}
.readTop .imgTitle_sub i {display:inline-block; margin:0 4px;}
.readTop .imgTitle_sub .hit {margin:0 0 0 10px;}
.readTop .imgTitle_sub .hit img {vertical-align:middle;}
/* 리드페이지 중간 내용부분 */
.readEdit{width:calc(100% - 40px); padding:0 20px; margin:40px 0; overflow:hidden; position:relative; font-size:13px; color:#656668;}
.readEdit img{max-width:100%;}
.readEdit .readBnA{position:relative; max-width:800px; margin:0 auto 30px;}
.readEdit .readBnA:after{content:""; clear:both; display:block;}
.readEdit .readBnA > div{width:40%; text-align:center; position:relative;}
.readEdit .readBnA > div img{width:100%; max-width:300px; height:300px;}
.readEdit .readBnA .before{float:left;}
.readEdit .readBnA .after{float:right;}
.readEdit .readBnA .arrow{position:absolute; top:50%; left:50%; font-size:30px; margin-top:-15px;}
.readEdit .readBnA > div > span {display:block; position:absolute; width:50px; padding:2px 0; bottom:0; left:10px; font-size:11px; color:#fff; background:#666; text-align:center;}
.readEdit .readBnA > div > span.colafer{background-color:#ea1c5b;}

.readAnswer .answer_tit{text-align:center; width:100%; height:30px; line-height:30px; font-size:14px; color:#fff; background:#4a4a4a; border-top:1px solid #c7c7c7; border-bottom:1px solid #c7c7c7;}
.readAnswer .answer_txt{width:calc(100% - 40px); padding:25px 20px; line-height:1.4; font-size:14px; color:#676767;}

/* 이전글 다음글 부분 */
.readBottom table{width:100%; border-top:1px solid #c4c7ca; border-bottom:1px solid #c4c7ca;}
.readBottom_col01{width:150px;}
.readBottom table tr{border-bottom:1px solid #e5e5e5;}
.readBottom table tr:last-of-type{border-bottom:0;}
.readBottom table tr th{height:40px; color:#444; font-weight:normal; background:#fcfcfc;}
.readBottom table tr td{height:40px; padding:0 30px; color:#444;}
.readBottom table tr td a {color:#666;}
.readBottom table tr th img{margin-left:10px; vertical-align:middle;}
/* 수정, 삭제, 목록 버튼 */
.readBottom_btn{overflow:hidden; font-size:0; text-align:center; margin-top:40px;}
.readBottom_btn dt{float:left;}
.readBottom_btn dt a{display:inline-block; width:80px; height:40px; line-height:40px; font-size:12px; color:#fff; background:#b7b7b7; margin-right:5px;}
.readBottom_btn dt a:last-of-type{margin-right:0;}
.readBottom_btn dd{float:right;}
.readBottom_btn dd a{display:inline-block; width:130px; height:40px; line-height:40px; font-size:12px; color:#fff; background:#5b5b5b;}

.readCon img{max-width:100%;}


/**** 댓글 ****/
.read_reple{background:#fcfcfc; margin-bottom:10px; padding:10px 20px; border:1px solid #d4d4d4; box-sizing:border-box;}
/* 댓글내용 */
.read_reple .reple_dl{font-size:14px; margin-bottom:20px; position:relative; border-bottom:1px solid #d4d4d4; padding:13px 0px 10px 0px;}
.read_reple .reple_dl:last-of-type{padding-bottom:20px;}
.read_reple .reple_dl dt{color:#444; margin:0 0 20px 0; font-size:13px;}
.read_reple .reple_dl dt strong{color:#333; padding-right:20px;}
.read_reple .reple_dl dt i {vertical-align:middle; display:inline-block; width:1px; height:11px; background:#e1e3e4; margin:0 10px;}
.read_reple .reple_dl dd {color:#444; font-size:13px; line-height:1.6em;}
.read_reple .reple_dl .reEdit{display:inline-block; position:absolute; top:10px; right:20px;}
.read_reple .reple_dl .reEdit strong{color:#222;}
.read_reple .reple_dl .reEdit input[type="button"]{width:60px; height:30px; background:#5b5b5b; border:0; font-size:14px; color:#fff; cursor:pointer;}
.read_reple .bbsno{margin-bottom:10px;}

/* 댓글부분에서 이름 비밀번호 내용입력 폼*/
.read_rego {overflow:hidden;}
.read_rego dl dt{font-size:0; margin-bottom:10px;}
.read_rego dl dt div{display:inline-block; width:200px; margin-right:10px; vertical-align:middle;}
.read_rego dl dt div:last-of-type{margin-right:0;}
.read_rego dl dd{font-size:0;}
.read_rego input[type="text"]{width:100%; height:37px; border:1px solid #dedede; font-size:14px; padding:0 20px; vertical-align:middle; box-sizing:border-box;}
.read_rego input[type="password"]{width:100%; height:37px; border:1px solid #dedede; font-size:14px; padding:0 20px; vertical-align:middle; box-sizing:border-box;}
.read_rego textarea{width:calc(100% - 114px); float:left; height:100px; padding:5px; border:1px solid #c6cdd8; resize:none; box-sizing:border-box; font-size:13px;}
.read_rego input[type="submit"]{float:right; width:100px; height:100px; background:#5b5b5b; border:0; vertical-align:middle; font-size:16px; color:#fff; cursor:pointer;}

/* 수정및 삭제시 비밀번호 입력창 */
.password_box{position:absolute; width:240px; padding:3px; border:1px solid #e2e1f8; z-index:1; box-sizing:border-box; display:none; background:#f1f1f1;}
.password_box div{position:relative; border:2px solid #d4d4d4; background:#f6f6f6; box-sizing:border-box; padding:10px;}
.password_box div dl{font-size:0;}
.password_box div dl dt{display:inline-block; width:65px; vertical-align:middle; font-weight:bold; font-size:14px;}
.password_box div dl dd{display:inline-block; width:calc(100% - 65px); vertical-align:middle; font-size:0;}
.password_box div dl dd input[type="password"]{width:calc(100% - 40px); height:30px; border:1px solid #dedede; font-size:14px; padding:0 20px; vertical-align:middle; box-sizing:border-box;}
.password_box div dl dd input[type="button"]{width:40px; height:30px; background:#5b5b5b; border:0; font-size:14px; color:#fff; cursor:pointer; vertical-align:middle;}
.password_box div dl dd input[type="button"].password_box_x{width:30px; position:absolute; top:-35px; right:-5px;}



/**** 회원약관 ****/
#member { }
#member .mem_wrap  {max-width:1200px; margin:0 auto; padding:80px 20px; box-sizing:border-box;}
#member .mem_wrap > h4 {font-size:18px; color:#307dd4;}
#member #agree { padding:0 30px 30px;  border:1px solid #e1e3e4;}
#member #agree h5 { font-size:16px; color:#222;margin:0; padding:30px 0 20px 0;}
#member #agree h6 { font-size:15px; color:#222;padding:0; margin:0;  padding:30px 0 0 0; }
#member #agree p { font-size:14px; color:#444; padding:0; margin:15px 0 0 0; }
#member #agree ol { list-style:none; padding:0; margin:15px 0 2px 2px; }
#member #agree ol li { font-size:14px; color:#444; margin-bottom:2px; line-height:150%;}
#member #agree ol li > ul { margin:1px 0 2px 2px;   }
#member #agree ul { list-style:none; padding:0; margin:2px 0 2px 2px; }
#member #agree ul li { font-size:14px; color:#444; margin-bottom:2px; line-height:150%;}


/**** 개인정보 방침 ****/
#member #policy { padding:30px;  border:1px solid #e1e3e4;}
#member #policy h5{ font-size:16px; color:#222;margin:0; padding:30px 0 20px 0;}
#member #policy h6 { font-size:15px; color:#222;padding:0; margin:0;  padding:30px 0 0 0; }
#member #policy p { font-size:14px; color:#444; padding:0; margin:15px 0 0 0; }


/* faq 첨부파일 */
.urlFile p {border-top:1px solid #e5e5e5;}


/**** 전후사진 갤러리 ****/
.bna_slide {position:relative; width:100%; margin:0 auto; max-width:900px; font-size:0;}
.bna_slide ul {margin:0;}
.bna_slide ul li {overflow:hidden;}
.bna_slide ul li > div {float:left; width:50%; height:490px; overflow:hidden;}
.bna_slide ul li > div > img {width:100%; height:100%}

/*사진밑 비포 에프터 박스*/
.bna_slide .bef {display:block; position:absolute; width:78px; left:0; bottom:0; padding:7px 0; font-size:14px; color:#fff; background:#666; text-align:center;}
.bna_slide .aft{left:50%; background-color:#ea1c5b;}

/*전후사진 이전 글 , 다음 글 css 시작*/
.bna_slide .bx-controls-direction a {position:absolute; width:51px; height:127px; background-size:cover; text-indent:-9999px; top:50%; transform:translate(0,-50%);}
.bna_slide .bx-controls-direction a.bx-prev{left:-101px; background:url('/img/nbna_prev.png') no-repeat center top;}
.bna_slide .bx-controls-direction a.bx-next{right:-101px; background:url('/img/nbna_next.png') no-repeat center top;}
/*전후사진 이전 글 , 다음 글 css 끝*/

.bnas_wrap .under_txt {width:100%; margin:0 auto; padding:15px 0; max-width:900px; box-sizing:border-box; border:1px solid #eae8e8; text-align:center; border-top:0; color:#222; font-size:16px;}
.bnas_wrap .under_txt p {display:none;}
.bnas_wrap .icon_type {margin:40px 0 77px; text-align:center; font-size:0;} 
.bnas_wrap .icon_type > div {display:inline-block; width:112px; height:132px; vertical-align:top; box-sizing:border-box; padding:17px 15px 10px;}
.bnas_wrap .icon_type > div + div {margin-left:3px;}
.bnas_wrap .icon_type > div img {margin-bottom:12px;}
.bnas_wrap .icon_type > div p {padding-top:7px; font-size:16px;}

/* 정면 */
.bnas_wrap .icon_type > div.front {border:1px solid #222;}
.bnas_wrap .icon_type > div.front p {border-top:1px solid #222; color:#222;}
/* 45도 */
.bnas_wrap .icon_type > div.ff {border:1px solid #0063e9;}
.bnas_wrap .icon_type > div.ff p {border-top:1px solid #0063e9; color:#0063e9;}
/* 측면 */
.bnas_wrap .icon_type > div.side {border:1px solid #ea1c5b;}
.bnas_wrap .icon_type > div.side p {border-top:1px solid #ea1c5b; color:#ea1c5b;}

.bnas_wrap .icon_type > div:hover,
.bnas_wrap .icon_type > div.on {background:#f3f8fe;} 
/* 페이저 */
.bnas_pager {width:100%; margin:0 auto; max-width:900px; overflow:hidden;}

/*페이저 이미지 감싸는 박스 크기와 이미지 크기 css*/
.bnas_pager > div {float:left; width:48.8888%; margin:0 2.2222% 20px 0;}
.bnas_pager > div:nth-of-type(2n) {margin-right:0;}
.bnas_pager > div a {position:relative; display:block; width:100%; font-size:0;}
.bnas_pager > div a img {width:50%; height:200px}

/*페이저 이미지 클릭 시 테두리 생성 css*/
.bnas_pager > div a p {position:absolute; width:100%; height:100%; top:0; left:0; box-sizing:border-box;}
.bnas_pager > div a.active p {border:2px solid #307dd4;}


/**** 카드형게시판 ****/
.card_type ul {margin-bottom:0;}
.card_type ul li{width:285px; min-height:300px; padding:9px; margin:0 1.25% 20px 0; border:1px solid #d4d4d4; box-sizing:border-box;}
.card_type ul li:nth-of-type(4n) {margin-right:0;}
.card_type ul li .img img {max-width:100%;}
.card_type ul li .txt {margin-top:20px; padding:5px;}
.card_type ul li .txt .ti {margin-bottom:15px; font-size:16px; color:#222; font-weight:700;}
.card_type ul li .txt .um {font-size:13px; color:#444; line-height:1.6em;}
.card_btn {margin-top:50px; text-align:center;}
.card_btn a {display:inline-block; width:180px; height:50px; line-height:50px; font-size:15px; color:#222; background:#f7f6f6; vertical-align:middle;}
.card_btn a span {font-size:18px; padding-right:18px;}

@media all and (max-width:1200px){
	.programCon{padding:0 20px;}
	/**** 전후사진 갤러리 ****/
	.bna_slide .bx-controls-direction a {width:24px; height:41px;}
	.bna_slide .bx-controls-direction a.bx-prev{left:8px; background:url('/img/mnbna_prev.png') no-repeat center top;}
	.bna_slide .bx-controls-direction a.bx-next{right:8px; background:url('/img/mnbna_next.png') no-repeat center top;}

	/**** 카드형게시판 ****/
	.card_type ul li:nth-of-type(3n) {margin-right:0;}
	.card_type ul li:nth-of-type(4n) {margin:0 1.25% 20px 0;}

}

@media all and (max-width:1100px){
	/* 로그인 아이디비밀번호 입력창*/
	.loginCon li:first-of-type{width:calc(63% + 30px); padding-right:30px;}
	.loginCon li.last{width:calc(37% - 30px); padding-left:30px;}
	.loginCon li.last div{height:auto;}
	.loginCon li.last div span{display:block;}
	.loginCon li.last div a{display:block; float:none;}
	.loginCon li .linp_wrap {float:none; width:100%;}
	.loginCon li .login_btn {float:none; width:100%; height:50px; line-height:50px; margin-top:5px;}

	/*갤러리형 통합*/
	.gal_wrap ul li{width:32%; height:34.5454545455vw; margin:0 2% 5% 0;}
	.gal_wrap ul li:nth-of-type(3n){margin-right:0;}
	.gal_wrap ul li:nth-of-type(4n){margin-right:2%;}
	.gal_wrap ul li a img{height:22.7272727273vw;}
	.gal_wrap ul li a img.noimg_ty {max-width:100%; height:22.7272727273vw;}

	.bna_wrap ul li a img{height:150px;}
    .gal_wrap ul li .txt{padding:1.8181818182vw}
    .gal_wrap ul li .up_type{margin-bottom:0.9090909091vw}
    .gal_wrap ul li .title{margin: 0 0 0.9090909091vw 0}

	.bna_wrap ul li a img{height:150px;}
}

@media all and (max-width:1000px){
	.mt60{margin-top:30px;}

	/*아이콘스타일*/
	.branch01 {padding:2px 2.5px;}
	.branch02 {padding:2px 2.5px;}
	.new_icon {line-height:1; width:auto; height:auto; padding:3px;}
	.none1000{display:none !important;}
	.show1000{display:block;}
	.show1000i{display:inline-block;}
	
	/*기본 테이블 */
	.program_table table{display:block;}
	.program_table table tr{display:block; position:relative; overflow:hidden; padding:15px 0;}
	.program_table table thead{display:none;}
	.program_table table tbody{display:block;}
	.program_table table tr td{display:block; float:left; height:auto; min-height:18px; font-size:12px; padding:0; box-sizing:border-box; margin:10px 10px 0 0; color:#666;}
	.program_table table tr td.tit{width:100%; margin:0; margin-top:15px \0/IE9; font-size:14px;}
	.program_table table tr td.tit02 {width:100%; margin-top:10px; margin-top:15px \0/IE9; font-size:16px; color:#383838; text-align:left;}
	.program_table table tr td.tit p {width:calc(100% - 92px); white-space:nowrap; text-overflow:ellipsis; overflow:hidden; vertical-align:middle;}
	.program_table table tr td.tit p.mw100 {width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; vertical-align:middle;}
	.program_table table tr td.tit p.mmw100 {width:100%;}
	.program_table table tr td.tit p.all {width:100%; white-space:normal; text-overflow:clip; overflow:auto;}
	.program_table table tr td.bna{width:50%; margin:0; height:auto; text-align:left; padding:5px;}
	.program_table table tr td.bna > span {left:5px; bottom:5px;}
	.program_table table tr td.bna img {max-width:100%; max-height:100%;}
	.program_table table tr td.category{width:100%; margin:0; margin-top:15px \0/IE9; text-align:left;}
	.program_table table tr td.tit span.up_btnw {display:block; margin-bottom:5px; font-size:0;}
	.program_table table tr td.tit span.up_btnw > span {vertical-align:middle;}
	.program_table table tr td p{display:inline-block; width:100%;}
	.program_table table tr td .consult_on{display:inline-block; float:right; vertical-align:middle; font-size:0; padding-right:3px;}
	.program_table table tr td .consult_on span{ margin-left:5px; padding:4px 3px 2px; line-height:1; font-size:13px;}
	.program_table table tr td.nt_list{float:none; position:absolute; right:15px; width:100px; height:100px; margin:0;}
    /*
	.program_table table tr td.nt_list img{height:100%;}
    */
	.titCenter_table table tr td.tit{text-align:left;}

	.program_table table tr td.tit .noti_icon {display:inline-block; width:auto; height:auto; padding:2px 2.5px; font-size:13px; line-height:1; vertical-align:baseline;}
	.program_table table tr td.tit .up_btnw .noti_icon {margin-right:3px;}
	.program_table table tr td .newIcon{width:30px; margin-left:7px;}
	.program_table table tr td .hit{display:inline-block;}

	.program_table table .w70{width:auto;}
	.program_table table .w80{width:auto;}
	.program_table table .w90{width:auto;}
	.program_table table .w100{width:auto;}
	.program_table table .w110{width:auto;}
	.program_table table .w130{width:auto;}
	.program_table table .w150{width:auto;}
	.program_table table .w160{width:100%;}
	.program_table table .w100.w100w{width:100%;}

	.branchSelect > p{margin-top:30px;}
	.branchSelect table tr td select{width:100%;}

	.writeForm_top > p{margin-top:30px;}
	.writeForm table tr td .inputEmail02{width:248px; margin-bottom:10px;}

	/* 달력 */
	.schedule{float:none; width:100%; margin-right:0; margin-bottom:20px;}
	.schedule_time{width:100%; float:none;}

	/*게시판 하단 검색창 */
	.program_search{margin-top:20px;}
	.program_search select{width:30%;}
	.program_search select:last-of-type{margin-right:0;}
	.program_search > span{display:block; margin-top:10px;}
	.program_search input[type="text"]{width:calc(90% - 51px); padding:0 10px;}

	.bna_wrap ul li{width:47.5%; height:250px; margin-right:5%}
    .bna_wrap ul li:nth-of-type(2n){margin-right:0}
	.bna_wrap ul li a img{height:120px;}

	.program_table table.g_type tr {min-height:100px;}
	.program_table table tr.gtr_type {min-height:100px;}
	.program_table table.g_type tr td.tit {padding-right:115px; margin-top:25px; box-sizing:border-box;}
	.program_table table tr.gtr_type td.tit {padding-right:115px; margin-top:25px; box-sizing:border-box;}

	.bna_wrap ul li div.beafphotocc {padding:10px; width:auto;}


	.program_table table.ig_type tr {min-height:100px;}
	.program_table table.ig_type tr td.nt_list {right:auto; left:15px;}
	.program_table table.ig_type tr {padding-left:130px;}
	.program_table table.ig_type tr td.tit {padding-right:0; margin-top:16px; box-sizing:border-box;}


}

@media all and (max-width:770px){
	.programCon{padding:0 15px;}
	.programCon .urlFile p {padding:3% 0 3% 3%;}
	.readEditSubs {padding:3% 0 3% 3%;}
	/**** 로그인 ***/
	.login_wrap .login_tit{font-size:18px;}
	.login_wrap .login_tit span{font-size:40px; font-weight:800;}
	.login_wrap .login_subtit{font-size:18px;}
	.login_wrap .login_txt{font-size:14px;}
	.login_wrap{padding:10% 15px;}
	/* 아이디비밀번호 입력창 */
	.loginCon li:first-of-type{width:100%; padding-right:0; border-right:0;}
	.loginCon li.last{width:100%; padding-left:0; margin-top:20px;}
	.loginCon li.last div{text-align:center;}
	.loginCon li.last div span{display:inline-block; width:210px; margin-right:15px; vertical-align:middle; font-size:14px;}
	.loginCon li.last div a{display:inline-block; vertical-align:middle;}

	.findTab{margin-top:50px;}
	.secedeCon{margin:50px auto 0;}
	.passwordCon{margin:50px auto 0;}

	.programCon .join .ScrollLy{height:150px; width: auto;}

	/**** 회원가입 ****/
	.writeForm{margin-top:40px;}
	.writeForm table{display:block;}
	.writeForm table .writeForm_col01{width:100%;}
	.writeForm table tbody{display:block;}
	.writeForm table tr{display:block; overflow:hidden;}
	.writeForm table tr th{display:block;}
	.writeForm table tr td{float:left; width:100%; height:auto; padding:10px 0; /*font-size:0;*/}
	.writeForm table tr td.step{padding:20px 0;}
	.writeForm_top table tr td select {width:100%; margin:0;}
	.writeForm table tr td input[type="text"]{padding:0 10px;}
	.writeForm table tr td input[type="password"]{padding:0 10px;}
	.writeForm table tr td input[type="file"]{width:100%;}
	.writeForm table tr td .inputTxt{width:100%}
	.writeForm table tr td .inputNum{width:100%;}
	.writeForm table tr td #tel{width:100%;}
	.writeForm table tr td #cell{width:100%;}
	.writeForm table tr td .inputEmail{width:calc(50% - 22px); margin-right:10px;}
	.writeForm table tr td .email_txt{display:none;}
	.writeForm table tr td .inputTit{width:100%;}
	.writeForm table tr td .inputIdtype{width:calc(100% - 100px);}
	.writeForm table tr td select.selecEmail{width:calc(50% - 22px); margin-right:0;}
	.writeForm table tr td textarea{width:100%; height:268px; padding:15px; margin:13px 0; resize:none; font-size:14px;}

	.writeForm_btn{margin-top:40px;}
	.writeForm_btn a{width:49%; height:40px; line-height:40px; font-size:14px;}
	.writeForm_btn a:last-of-type{margin-left:2%;}
	
	.writeForm table tr td a.id_ch{width:90px; font-size:13px; }
	.writeForm table tr td a.zip_ch{width:90px; font-size:13px;}
	.writeForm table tr td .inputPass{width:100%;}
	.writeForm table tr td .inputPass.size02{width:100%; max-width:100%;}
	.writeForm table tr td .inputPass.size02.mmarT10 {margin-top:10px;}
	.writeForm table tr td .inputName{width:100%;}
	.writeForm table tr td span.password_ch{display:none; /*font-size:14px; color:#666; margin:20px 0;*/}
	.writeForm table tr td .zipcode{width:calc(100% - 100px);}
	.writeForm table tr td.addr_td{padding:13px 0;}
	.writeForm table tr td.editor{padding:13px 0;}
	.writeForm table tr td .addr{width:100%;}

	.writeForm table tr td{overflow:hidden;}
	.writeForm table tr td .label_wrap{display:block; margin-top:10px;}
	.writeForm table tr td select.selectNum{width:75px;}
	.writeForm table tr td label:last-of-type{margin-right:0;}
	.writeForm table tr td input[type="checkbox"]{margin:0 10px 0 0; vertical-align:middle;}
	.writeForm table tr td input[type="radio"]{width:15px; height:15px; margin-right:10px; vertical-align:middle;}
	.writeForm table tr td .spamCode{float:left; width:210px; height:100px; margin:13px 10px 13px 0; background:#fafafa; border:1px solid #e5e5e5; box-sizing:border-box; text-align:center;}
	.writeForm table tr td input[type="text"].inputSpam{width:328px; height:48px; margin:13px 0 15px;}
	.writeForm table tr td .spamTxt{font-size:14px;}
	.writeForm table tr td .spamTxt img{margin-right:10px;}
	/*.writeForm table tr td span{font-size:16px;}
	.writeForm table tr td span a{font-size:16px;}*/

	.writeForm table tr .spam_td{font-size:12px;}
	.writeForm table tr .spam_td span{display:inline-block; margin:0 0 10px;}
	.writeForm table tr .spam_td img{margin:0 10px 0 0;}
	.writeForm table tr .spam_td input{width:100%; margin-bottom:10px;}

	.writeForm table tr td .inputEmail02{width:calc(50% - 22px);}

	.searchTop span{float:none; color:#444; line-height:30px;}
	.searchTop .selectWrap{float:none; margin-top:20px;}
	.searchTop .selectWrap select{width:100px; padding-left:0; margin-right:5px; text-align:center; text-align-last: center;}
	.searchTop .selectWrap input[type="text"]{width:calc(100% - 170px); height:30px; padding:0 10px; border:1px solid #dadada; border-right:0; box-sizing:border-box; vertical-align:middle;}
	
	.readEdit.imgEdit img{width:80%; max-width:500px; margin-bottom:3.334%;}
	
	/* 리드페이지 상단*/
	.readTop .imgTitle{font-size:16px;}

	.readBottom_col01{width:80px;}
	.readBottom table tr td{padding:0 15px; color:#999;}

	.programPage{display:none;}
	.mo_programPage{display:block;}

	.write_btn{margin-top:30px;}
	.write_btn dt a{width:70px; height:35px; line-height:35px;}
	.write_btn dd a{width:110px; height:35px; line-height:35px; background:#323337 url("/manage/img/write_icon.png") no-repeat 16px 10px;}
	
	.readBottom_btn{margin-top:30px;}
	.readBottom_btn dt a{width:60px; height:35px; line-height:35px;}
	.readBottom_btn dd a{width:90px; height:35px; line-height:35px;}

	/**** 달력 ****/
	.schedule_time div p {height:40px; line-height:40px;}
	.schedule_time div ul li {padding:13px 0;}


	/**** faq 탭 ****/
	.faq_tab li{width:25%; height:40px; font-size:12px;}
	.faq_tab li:nth-of-type(5){border-left:1px solid #c2c2c2;}
	.faq_tab li:nth-of-type(n + 5){border-top:0;}
	.faq_tab li a{font-size:13px; padding-top:11px;}

	.faq_table > tbody > tr > th {height:auto; padding:10px 20px;}
	.faq_table > tbody > tr > td {padding:6% 20px;}
	
	/* 전후사진 갤러리*/
	.bna_wrap ul li{float:none; width:90%; height:auto; margin:5%; margin-bottom:0;}
	.bna_wrap ul li:nth-of-type(3n){margin-right:5%;}
	.bna_wrap ul li:last-of-type{margin-bottom:40px;}
	.bna_wrap ul li div.beafphotocc{width:auto; padding:3%;}
	.bna_wrap ul li a > span{position:absolute; top:50%; left:50%;}
	.bna_wrap ul li a img{height:auto;}
	.bna_wrap ul li div.beafphotocc .under {margin-top:10px;}
	
	/* 댓글부분에서 이름 비밀번호 내용입력 폼*/
	.read_reple{padding:15px;}
	.read_reple .reple_dl{font-size:12px; margin-bottom:17px;}
	.read_reple .reple_dl:last-of-type{padding-bottom:17px;}
	.read_reple .reple_dl dt{margin-bottom:12px;}
	.read_reple .reple_dl dt strong{padding-right:10px;}
	.read_reple .reple_dl .reEdit{right:0;}
	.read_reple .reple_dl .reEdit input[type="button"]{width:50px; height:25px; font-size:12px;}

	.read_rego dl dt{font-size:0; margin-bottom:10px;}
	.read_rego dl dt div{display:inline-block; width:calc(50% - 4px); margin-right:8px;}
	.read_rego dl dd{overflow:hidden;}
	.read_rego input[type="text"]{height:30px; font-size:12px; padding:0 10px;}
	.read_rego textarea{width:100%; height:80px; margin-right:0; font-size:12px; padding:5px;}
	.read_rego input[type="submit"]{width:50px; height:40px; font-size:14px; margin-top:5px; float:right;}

	.readEdit .readBnA{margin-bottom:20px;}
	.readEdit .readBnA > div img{height:auto; margin-bottom:0;}
	.readEdit .readBnA .arrow{font-size:20px; margin-top:-10px;}
	.readEdit .readBnA > div > span {left:0;}
	
	/* 수정및 삭제시 비밀번호 입력창 */
	.password_box{width:calc(95% - 30px); left:calc(2.5% + 15px) !important;}
	.password_box div{padding:7px;}
	.password_box div dl{font-size:0;}
	.password_box div dl dt{width:60px; font-size:12px;}
	.password_box div dl dd{width:calc(100% - 60px);}
	.password_box div dl dd input[type="password"]{width:calc(100% - 40px); height:30px; font-size:12px; padding:0 10px;}
	.password_box div dl dd input[type="button"]{width:40px; height:30px; font-size:12px;}
	.password_box div dl dd input[type="button"].password_box_x{width:30px; position:absolute; top:-35px; right:-5px;}

	.readTop {width:100%; padding:20px 15px; box-sizing:border-box;}
	.readEdit {margin:20px 0; padding:0 10px; width:100%; box-sizing:border-box;}

	#member .mem_wrap {padding:10% 3.125%;}
	#member #agree {padding:0 2% 2%;}
	#member #agree h5 {padding:5% 0 3% 0;}
	#member #agree h6 {padding:5% 0 0;}
	#member #policy {padding:2%;}
	#member #policy h5 {padding:5% 0 3% 0;}
	#member #policy h6 {padding:5% 0 0;}

	/*갤러리형 통합*/
	.gal_wrap ul li{width:47.5%; height:43.2597402597vw; margin:0 5% 5% 0;}
	.gal_wrap ul li:nth-of-type(3n){margin:0 5% 5% 0;}
	.gal_wrap ul li:nth-of-type(2n){margin-right:0;}
	.gal_wrap ul li a img{height:26.6363636364vw;}
	.gal_wrap ul li a img.noimg_ty {height:26.6363636364vw;}

	/*병원 th 필요부분 추가*/
	.writeForm.bd_th table tr th {display:block; float:left; height:auto; padding:20px 0 0 0; font-size:13px; background:none;}

	
	/**** 전후사진추가 ****/
	.bna_slide ul li > div {height:54.444vw;}
	.bna_slide .bef {width:auto; width:55px; padding:1% 0; font-size:11px;}
	.bna_slide .aft{left:50%; background-color:#ea1c5b;}

	.bna_slide .bx-controls-direction a {width:3.75%; height:6.40625vw; background-size:100% auto;}
	.bna_slide .bx-controls-direction a.bx-prev{left:1%; background-size:100% auto;}
	.bna_slide .bx-controls-direction a.bx-next{right:1%; background-size:100% auto;}

	.bnas_wrap .under_txt {padding:2.8% 0; font-size:14px;}
	.bnas_wrap .icon_type {margin:6.56% 0 12%;} 
	.bnas_wrap .icon_type > div {width:17.5%; height:auto; padding:2.787% 2.46% 1.64%;}
	.bnas_wrap .icon_type > div img {width:77.6%; margin-bottom:12.05%;}
	.bnas_wrap .icon_type > div p {padding-top:10%; font-size:14px;}

	.bnas_pager > div {float:none; width:100%; margin:0 0 3% 0;}


	/**** 카드형게시판 ****/
	.card_type ul li{width:49%; padding:1.5%; margin:0 1% 3% 0;}
	.card_type ul li:nth-of-type(3n) {margin:0 1% 3% 0;}
	.card_type ul li:nth-of-type(2n) {margin-right:0;}
	.card_type ul li .img img {width:100%;}
	.card_btn {margin-top:8%;}
	.card_btn a {width:100%; height:45px; line-height:45px; font-size:13px;}
	.card_btn a span {font-size:14px;}

}
/* 모바일 640 사이즈 */
@media all and (max-width:640px){
	.schedule .calender_wrap .under_wrap {padding:3%;}
	.calender_wrap .under_wrap > p {float:none; text-align:left;}
	.calender_wrap .under_wrap > .sr_wrap {float:none; margin-top:2%; text-align:right; font-size:0;}
	.calender_wrap .under_wrap > .sr_wrap p {float:none; display:inline-block; letter-spacing:-0.025em;}
	.calender_wrap .under_wrap > .sr_wrap i {float:none; display:inline-block; margin:0 10px;}
	.calender_wrap .under_wrap > .sr_wrap input {width:80px;}
	.calender_wrap .under_wrap > .sr_wrap input.no02 {width:50px;}

	.gal_wrap{padding-top:20px;}
	.gal_wrap ul li{float:none; width:100%; height:auto; margin:0; margin-bottom:5%;}
	.gal_wrap ul li:nth-of-type(4n){margin-right:0;}
	.gal_wrap ul li:nth-of-type(3n){margin-right:0}
	.gal_wrap ul li:nth-of-type(2n){margin-right:0;}
	.gal_wrap ul li:last-of-type{margin-bottom:20px;}
	.gal_wrap ul li a img{height:auto; max-height:100%;}
	.gal_wrap ul li a img.noimg_ty{width:100%; height:auto;}
	.gal_wrap ul li a p{margin:10px 0; line-height:1.5; font-size:16px; color:#383838; font-weight:700;}
	.gal_wrap ul li a span{font-size:12px;}
	.gal_wrap ul li .txt {padding:10px 10px 20px;}

	.bna_wrap{padding-top:20px;}
	.bna_wrap ul li:last-of-type{margin-bottom:20px;}

	.program_table table tr td.nt_list {width:70px; height:70px;}
	.program_table table.g_type tr {min-height:70px;}
	.program_table table tr.gtr_type {min-height:70px;}
	.program_table table.g_type tr td.tit {padding-right:85px; margin-top:0;}
	.program_table table tr.gtr_type td.tit {padding-right:85px; margin-top:0;}

	
	.program_table table tr td .answer_icon2 {margin-left:0 !important; padding-left:6%; box-sizing:border-box;}
	.program_table table tr td .answer_icon2 img {position:absolute; left:-5px; width:7%; margin-right:0;}

	.program_table table.ig_type tr {min-height:70px;}
	.program_table table.ig_type tr td.nt_list {right:auto; left:0;}
	.program_table table.ig_type tr {padding-left:80px;}
	.program_table table.ig_type tr td.tit {margin-top:0;}
	.program_table table tr.gtr_type {min-height:70px;}
	.program_table table.ig_type tr.gtr_type td.tit {padding-right:0;}

	/* 아이디/패스워드 찾기 */
	.findCon_wrap {border-top:1px solid #e1e3e4;}
	.findCon_wrap > div {float:none; width:100%; margin:0 0 0; border-top:0; padding-top:7%;}
	.findCon_wrap > div:first-of-type .in_hei {padding-right:0;}
	.findCon_wrap .up_txt {text-align:left;}
	.findCon_wrap .up_txt p {margin-bottom:3%;}
	.findCon_wrap .up_txt span {height:auto;}
	.findCon_wrap .in_hei {height:auto;}
	.under_btn {overflow:hidden; margin:0 0 5%; border-top:0; border-bottom:1px solid #e1e3e4;}
	.under_btn .login_btn{display:block; width:100%; margin:0 auto; height:auto; line-height:1; color:#fff; padding:5% 0; font-size:14px; font-weight:bold; margin-top:0; margin-bottom:5%;}
	.findCon li dl {padding:3% 0;}

	.sec_ucon .login_btn {width:100%; max-width:100%;}

	/* 카드형게시판 */
	.card_type ul li{width:100%; margin:0 0 3% 0; padding:3%;}
	.card_type ul li:nth-of-type(3n) {margin:0 0 3% 0;}
	.card_type ul li .txt {margin-top:10px; padding:3%;}
	.card_type ul li .txt .ti {margin-bottom:3%; font-size:14px;}
	.card_type ul li .txt .um {font-size:12px;}

}

@media all and (max-width:450px){
	/* 아이디중복확인 클릭시 팝업 중복확인창 */
	.idCheck_wrap h2{font-size:22px;}
	.idCheck_wrap p{margin:15px 0; font-size:14px;}
	.idCheck_wrap .conBox dd{font-size:14px;}
	.idCheck_wrap .conBox dd input[type=text]{padding:5px 8px;}
	.idCheck_wrap .conBox dd input[type=submit]{padding:5px 8px;}
	.idCheck_wrap .btnok{font-size:14px;}
	.idCheck_wrap .btnok .btnAll{margin-top:20px;}
	.idCheck_wrap .btnok .btnAll a{font-size:14px;}

	.readTop {padding:15px 10px;}
}

@media all and (max-width:400px){
	.login_wrap .login_tit {font-size:16px; letter-spacing:-0.05em;}
	.login_wrap .login_tit span {font-size:30px;}
}

@media all and (max-width:400px){
	.program_table table.g_type tr td.hi_td {clear:both;}
	.program_table table tr.gtr_type td.hi_td {clear:both;}
}

@media all and (max-width:389px){
	.calender_wrap .under_wrap > .sr_wrap input {margin:0;}
	.calender_wrap .under_wrap > .sr_wrap i {margin:0 5px;}
}
@media all and (max-width:366px){
	.calender_wrap .under_wrap > .sr_wrap i {display:none;}
	.calender_wrap .under_wrap > .sr_wrap input.no02 {margin-top:2%; width:80px;}

}
@media all and (max-width:360px){
	.schedule_time div ul li {font-size:12px;}
}

/*컬러지정*/
.login_wrap .login_tit {color: #ea1c5b;}
.loginCon li .login_btn {background-color:#ea1c5b;}
.findCon li .login_btn {background-color:#ea1c5b;}
.sec_ucon .login_btn {background-color:#ea1c5b;}
.passwordCon li .password_btn a {background-color:#ea1c5b;}
.writeForm_btn a {background-color:#ea1c5b;}
.writeForm_btn a.mcol_type {background-color:#ea1c5b;}
.under_btn .login_btn {background-color:#ea1c5b;}
.writeForm_btn a.color_type {background-color:#ea1c5b;}


/*2017/12/18 additional area for login.jsp*/
.member_box02{width:100%; max-width:1000px; margin:0 auto; padding:100px 0;}
.member_box02_In{overflow:hidden;}
.member_box02_In > a{font-size:16px; padding-left:20px; height:70px; line-height:70px; letter-spacing:-0.05em; color:#fff !important; width:49.5%; margin-right:1%; margin-bottom:1%;  box-sizing:border-box; float:left; display:block;}
.member_box02_In > a.a_bg4 > a {color:#fff !important; font-size:16px !important;}
.member_box02_In > a:nth-of-type(2n){margin-right:0;}
.member_box02_In > a.a_bg1{background:#a9a9a9 url("/img/google_bg.jpg") 100% 100% no-repeat; }
.member_box02_In > a.a_bg2{background:#ffae00 url("/img/kakao_bg.jpg") 100% 100% no-repeat; }
.member_box02_In > a.a_bg3{background:#445f95 url("/img/facebook_bg.jpg") 100% 100% no-repeat;}
.member_box02_In > a.a_bg4{background:#4cac3b url("/img/naver_bg.jpg") 100% 100% no-repeat; }

@media all and (max-width:800px){
	.member_box02_In > a{padding-left:0px;}
}
@media all and (max-width:700px){
	.member_box02{width:100%; max-width:400px; margin:0 auto; padding:100px 0;}
	.member_box02_In > a{width:100%; float:none;}
}
@media all and (max-width:400px){
	.member_box02_In > a{font-size:14px; }	
}


/*20180424 404 and 500 error area*/


#er_wrap {width:100%; height:100%; font-family: Noto Sans KR;}
.er_404 {width:100%; word-break: keep-all;}
.er_cont {width:100%; height:100%; background: url("/img/com_bg.jpg") no-repeat right bottom; text-align: center; border-top:2px solid #e3175c; padding-top:120px; box-sizing: border-box; background-size: 978px 468px;}
.er_cont img.er_mark {margin-left:30px; max-width:100%;}
.er_cont p.tit_er {font-size:45px; font-weight: bold; letter-spacing: -0.075em; color:#222; line-height: 65px; margin:40px 0 30px;}
.er_cont p.desc_er {font-size:16px; font-weight: 400; letter-spacing: -0.075em; color:#222; line-height: 26px;}
.er_cont a {display: block; width:250px; border-radius: 50px; background: #e3175c; color:#fff; margin:0 auto; line-height: 50px; padding-left:2%; text-align: left; box-sizing: border-box; font-size:14px; font-weight: 400; letter-spacing: -0.075em; margin-top:50px;}
.er_cont .com_ar {margin-top:10px; margin-left:50px; width:32px;}

@media all and (max-width:980px){
	.er_cont {padding-top:120px;  background-size: 600px 300px;}
}

@media all and (max-width:640px){
	.er_404 {width:93.75%; margin:0 auto;}
	.er_cont {padding-top:18.75vw; background-size: 93.75vw 46.875vw;}
	.er_cont img.er_mark {margin-left:4.6875vw; width:46.40625vw; }
	.er_cont p.tit_er {font-size:7.03125vw;line-height: 10.15625vw; margin:6.25vw 0 4.6875vw;}
	.er_cont p.desc_er {font-size:2.5vw; line-height: 4.0625vw;}
	.er_cont a {width:39.0625vw; border-radius: 7.8125vw; line-height: 7.8125vw; font-size:2.1875vw; margin-top:7.8125vw;}	
	.er_cont .com_ar {margin-top:1.5625vw; margin-left:7.8125vw; width:5vw;}
}


/*************** 목록이미지 스타일 5가지 ******************/
/* 목록이미지 , 공통게시판 */
/* 1번 가로고정 + 세로고정 + 이미지 비율 유지 */
/* 2번 가로고정 + 이미지 비율 유지 */
/* 3번 세로고정 + 이미지 비율 유지 */
/* 4번 가로고정 + 세로고정 + 이미지 비율 유지안함 */
/* 5번 가로고정 + 세로고정 + 이미지 비율 유지 */
/******************************************************/
/* program_table 옆에 five_table(n)class명 추가 */
.no_imgbox{width: 100%; height: 100%}
/*===== 목록이미지 1. 가로고정 + 세로고정 + 이미지 비율유지 (개발에서 처리) =====*/

.five_table1 colgroup col.wauto{width:150px;}
.five_table1 .img_box{width:130px; height: 130px; overflow:hidden} 
@media all and (max-width:1000px){ 
	.five_table1 .img_box{width:100px; height:100px}
}
@media all and (max-width:640px){ 
	.five_table1 .img_box{width:70px; height:70px}
}

/*===== 목록이미지 2. 가로고정 + 이미지 비율유지 =====*/
.five_table2 colgroup col.wauto{width:150px;}
.five_table2 table tr td.nt_list img{width:100%; height: auto}
@media all and (max-width:1000px){  
    
    .five_table2 colgroup col.wauto{width:auto;}
    .five_table2 table.ig_type tr td.nt_list{position: absolute; top:50%; transform: translateY(-50%); height: auto}
    .five_table2 table.ig_type tr td{float: left;}
    .five_table2 table tr{position: inherit}
    .five_table2 table.ig_type tr{padding-left:15px;}
    .five_table2 table tr td{padding-left:15px;}
    .five_table2 table tr td.nt_list{position: inherit; height: auto; padding-left:0;}
    .five_table2 table tr td.tit{width:calc(100% - 100px);}
    .five_table2 table.ig_type tr{min-height: auto}
    .five_table2 .marmar{padding-left:0}
}
/*===== 목록이미지 3. 세로고정 + 이미지 비율유지 PC일때만! =====*/
/* 반응형 초기화 */
.five_table3{min-width:1200px}
.five_table3 table thead{display: table-header-group}
.five_table3 table.ig_type tr td.tit{margin-top:0}
.five_table3 table tr td{float: none}
.five_table3 table tr td.nt_list img{width:auto; height: 130px}
/* colgroup col 1번 값 제작시 이미지사이즈에 맞게 witdh값 줘도 됨*/
.five_table3 table .wauto{width:auto}
.wtable2{width:200px}
@media all and (max-width:1000px){    
    .five_table3 table .none1000{display: table-cell !important}
    .five_table3 table{display: table}
    .five_table3 table.ig_type tr{padding-left:0}
    .five_table3 table tr{display:table-row}
    .five_table3 table tbody{display: table-row-group}
    .five_table3 table tr td{display: table-cell}
    .five_table3 table tr td.nt_list{position: inherit}

}

/*===== 목록이미지 4. 가로고정 + 이미지 비율유지 =====*/
/* 모든 클레스 제거하면 됨 */

.five_table4 colgroup col.wauto{width:150px;}
.five_table4 .img_box{width:130px; height: 130px}
.five_table4 table tr td.nt_list img{width:100%; height: 130px}
@media all and (max-width:1000px){ 
	.five_table4 .img_box{width:100px; height:100px}
    .five_table4 table tr td.nt_list img{height: 100%}
}
@media all and (max-width:640px){ 
	.five_table4 .img_box{width:70px; height:70px}
}

/*===== 목록이미지 5. 가로고정 + 이미지 비율유지 =====*/

.five_table5 .img_box{display:block; overflow:hidden; width:130px; height:130px}
.five_table5 table tr td.nt_list img{width:100%; height: auto}
.five_table5 colgroup col.wauto{width:150px;}
@media all and (max-width:1000px){ 
	.five_table5 .img_box{width:100px; height:100px}
	.five_table5 table tr td.nt_list img{width:100%; height:auto}
}
@media all and (max-width:640px){ 
	.five_table5 .img_box{width:70px; height:70px}
}



.custom_area {width:calc(100%); float:initial; height:100px; padding:5px; border:1px solid #c6cdd8; resize:none; box-sizing:border-box; font-size:13px;}
.custom_text {width:200px; height:37px; border:1px solid #dedede; font-size:14px; padding:0 20px; vertical-align:middle; box-sizing:border-box;}

/* 휴면계정 로그인 2018 .10 .01 */

.text_box{border-top:1px solid #e1e3e4; border-bottom:1px solid #e1e3e4; padding:30px 0; margin-top:40px; overflow:hidden;}
.text_box .tit{font-size:28px; color:#454545; font-weight:bold; margin:15px 0 25px; line-height:1.3;}
.text_box p {font-size:16px; color:#444; line-height:1.4;}
.login_wrap .human_btn{display:block; margin:0 auto; background-color:#ea1c5b; width:200px; height:50px; line-height:50px; margin-top:30px; font-size:18px; color:#fff}
.login_wrap .human_btn2{display:inline-block; background-color:#ea1c5b; width:200px; height:50px; line-height:50px; margin-top:10px; font-size:18px; color:#fff}
.human_wrap{border-bottom:2px solid #313236; margin:0 auto;}
.text_box > div{width:430px; margin:20px auto;}
.text_box  .input_box{width:100%; font-size:16px; color:#444; text-align:left;}
.text_box .after{margin:10px auto;}
.text_box .after:after{clear:both; content:""; display:block; height:0; visibility:hidden}
.text_box .after input{width:300px; height:40px; float:left; border:1px solid #dedede; padding-left:15px; box-sizing:border-box;}
.text_box .after a{float:left; display:block; width:120px;; height:40px; line-height:40px; background:#ea1c5b; margin-left:10px; color:#fff; font-size:16px;}

.text_box .re_move:after{clear:both; content:""; display:block; height:0; visibility:hidden}
.text_box .re_move p{font-size:16px; color:#444; float:left; width:120px; margin-right:10px; height:40px; line-height:40px; text-align:left;}
.text_box .re_move input{width:300px; float:left; border:1px solid #dedede; height:40px; box-sizing:border-box; padding-left:15px;}


@media all and (max-width:770px){
	.text_box .tit{font-size:18px;}
	.text_box p{font-size:14px;}
	.text_box .after a{font-size:14px;}
}
@media all and (max-width:640px){
	.none640{display:none}
	.login_wrap .human_btn{font-size:16px; width:100%; line-height:1; height:auto; padding:4% 0;}
	.login_wrap .human_btn2{font-size:16px; width:100%; line-height:1; height:auto; padding:4% 0;}
	.text_box > div{width:100%}
	.text_box .input_box{font-size:14px;}
	.text_box .after input{width:100%; float:none;}
	.text_box .after a{margin-left:0; margin-top:10px; height:35px; line-height:35px;}
	.text_box .re_move p{float:none; font-size:14px;}
	.text_box .re_move input{width:100%; float:none}
}

/* 탑배너 */
.top_pop{width:1200px; height:auto; position:relative;margin:0 auto;top:30px;padding-bottom:30px;}
.top_pop .top_banner{width:100%; position:relative;}
.top_pop img{width:100%;}
.top_pop .top_close{position:absolute; top:-28px;right:0;}
.top_pop .top_close input{vertical-align:middle; margin-top:-3px;}
.top_pop .top_close a{font-size:15px; color:#222;}
.top_pop label{color:#222;}
.top_pop .bx-controls-direction a {position: absolute;width: 30px;height: 30px;position: absolute;top: 50%;transform: translateY(-50%); -ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);text-indent: -9999px;}
.top_pop .bx-controls-direction a.bx-prev{background: url("/img/prev-btn.png") center top no-repeat;background-size: cover; left: 20px;}
.top_pop .bx-controls-direction a.bx-next {background: url("/img/next-btn.png") center top no-repeat;background-size: cover;right: 20px;}


/*기업 - 제품소개 이미지목록형 추가*/
.com_imgg_wrap .program_search {text-align:right; font-size:0; margin-bottom:20px;}
.comi_list {border-top:2px solid #888;}
.comi_list ul li {position:relative; padding:20px 0; border-bottom:1px solid #e1e3e4; overflow:hidden;}
.comi_list ul li > div {float:left;}
.comi_list ul li .img_type {margin-left:33px; width:28%;}
.comi_list ul li .img_type p {width:100%; border:1px solid #dedede; box-sizing:border-box;}
.comi_list ul li .img_type img {width:100%; height: 100%}

.comi_list ul li .txt_type {width:calc(72% - 33px); padding:10px 0 14px 50px; box-sizing:border-box;}
.comi_list ul li .txt_type > h5 {margin:12px 0 20px; font-size:17px; font-weight:700; color:#222;}
.comi_list ul li .txt_type .txt_w {font-size:14px; color:#444; line-height:1.6em;}
.comi_list ul li .txt_type .date {position:absolute; right:0; bottom:20px; font-size:13px; color:#666;}



/* 주식(공시정보) */
.invest_con {width:1200px; margin:0 auto;}
.invest_con table.m_tbl{display:none;}
.invest_con table{margin-bottom:100px; width:100%; box-sizing:border-box; border-top:2px solid #333; }
.invest_con table tr{border-bottom:1px solid #ccc;}
.invest_con table thead th{padding:23px 0 23px 30px; font-size:15px; line-height:28px; font-weight:500; color:#333; text-align:left; box-sizing:border-box; overflow:hidden;}
.invest_con table thead th span{float:right; color:#ccc;}
.invest_con table tbody td{padding:20px 0 20px 30px; font-size:17px; line-height:28px; font-weight:500; color:#808080; text-align:left; box-sizing:border-box; overflow:hidden; font-weight:200;}
.invest_con table tbody td a{font-size:17px; line-height:28px; font-weight:500; color:#808080; text-align:left; box-sizing:border-box; overflow:hidden; font-weight:200;}
.invest_con table tbody tr:hover{background:#f7f7f7;}
.invest_con table tbody tr:hover td{color:#333;}

@media all and (max-width:1000px){
	.invest_con {width:93.75%;}
	.finance_con  .finance_box01 > div{width:93.75%;}
}

@media all and (max-width:640px){
/* 투자정보(공시정보) */
	.invest_con table.m_tbl{display:table;}
	.invest_con table.m_tbl tr td{text-align:center; border-right:1px solid #ccc; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
	.invest_con table.m_tbl tr td:last-of-type{border-right:0;}
	.invest_con table.pc_tbl{display:none;}
	.invest_con table{margin-bottom:10vw;}
	.invest_con table thead th{padding:23px 0 23px 5px; font-size:13px; line-height:1;}
	.invest_con table tbody td{padding:20px 0 20px 5px; font-size:14px; line-height:1; }
	.invest_con table tbody td a{font-size:14px; line-height:1; }
}

/* 주식(재무정보) */
.finance_tab{ margin-bottom:25px; text-align:center; font-size:0;}
.finance_tab a{width:188px; height:53px; line-height:49px; font-size:17px; color:#333; display:inline-block; box-sizing:border-box; border:2px solid #ccc; text-align:left; padding-left:15px;}
.finance_tab a input{width:26px; height:26px;}
.finance_tab a label input {display:none;}
.finance_tab a label input + i {display:inline-block; width:26px; height:26px; margin-right:10px; background:url('/img/finance_che_img.jpg') no-repeat center top; vertical-align:middle; background-size:100%; font-weight:200;}
.finance_tab a.on label input + i {background:url('/img/finance_che_img_on.jpg') no-repeat center top; background-size:100%;}
.finance_tab a:first-of-type{margin-right:10px;}
.finance_tab a.on{background:#090c38; color:#fff; border:2px solid #090c38;}

.finance_cont{margin-bottom:100px;}
.fin_bg{background:#f9f9f9;}
.finance_con  .finance_box01{ padding:60px 0; }
.finance_con  .finance_box01 > div{width:1200px; margin:0 auto;}
.finance_con  .finance_box01 > div .tit p{font-size:22px; line-height:32px; margin-bottom:20px; letter-spacing:-0.025em; color:#222; font-weight:700; overflow:hidden;}
.finance_con  .finance_box01 > div .tit p span{float:right; font-size:15px; font-weight:300;}
.finance_con  .finance_box01 > div .finance_tbl > table.m_tbl{display:none;}
.finance_con  .finance_box01 > div .finance_tbl > table.pc_tbl{width:100%; border-top:2px solid #333;}
.finance_con  .finance_box01 > div .finance_tbl > table.pc_tbl tr th{font-size:15px; padding:20px 0 20px 25px; color:#333; font-weight:500; border-bottom:1px solid #ccc; border-right:1px solid #ccc; text-align:left;}
.finance_con  .finance_box01 > div .finance_tbl > table.pc_tbl tr th:last-of-type{border-right:0;}
.finance_con  .finance_box01 > div .finance_tbl > table.pc_tbl tr td{font-size:17px; padding:20px 0 20px 25px; color:#808080; font-weight:200; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.finance_con  .finance_box01 > div .finance_tbl > table.pc_tbl tr td:last-of-type{border-right:0;}


/* 주식(주가정보) */
.stock01 {width:1200px; margin:0 auto 40px;}
.stock01 .stock_flash{margin-bottom:40px;}
.stock01 .stock_flash img{width:100%;}

.stock01 .stock01_table table.m_tbl{display:none;}
.stock01 .stock01_table table{width:100%; box-sizing:border-box; border-top:2px solid #333;}
.stock01 .stock01_table table tr td{font-size:17px; padding:20px 0 20px 30px; color:#808080; font-weight:200;  border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.stock01 .stock01_table table tr td img{vertical-align:middle; line-height:28px;  width:11px; margin-right:5px;}
.stock01 .stock01_table table tr td:last-of-type{border-right:0;}
/* .stock01 .stock01_table table tr td.left{background:#f7f7f7;} */
.stock01 .stock01_table table tr td.bold{ color:#333; font-weight:500; background:#f7f7f7;}

.stock02{width:1200px; margin:0 auto 100px;}
.stock02 .stock02_tab{text-align:center;font-size:0;}
.stock02 .stock02_tab a{width:188px; height:60px; display:inline-block; box-sizing:border-box; border:1px solid #ccc; margin-right:5px; text-align:center;}
.stock02 .stock02_tab a span{font-size:17px; color:#7f7f7f; line-height:54px; display:block; border-top:4px solid #b9b9b9;}
.stock02 .stock02_tab a.on span{color:#192082; border-top:4px solid #192082;}
.stock02 .stock02_tab a:last-of-type{margin-right:5;}
.stock02  .stock02_cont{margin-top:40px;}
.stock02  .stock02_cont > div table{width:100%; box-sizing:border-box; border-top:2px solid #333;}
.stock02  .stock02_cont > div table tr th{font-size:15px; padding:20px 0 20px 30px ; color:#333; box-sizing:border-box; border-right:1px solid #ccc; border-bottom:1px solid #ccc; font-weight:500; text-align:left;}
.stock02  .stock02_cont > div table tr th:last-of-type{border-right:0;}
.stock02  .stock02_cont > div table tr td{font-size:17px; padding:20px 0 20px 30px ; color:#808080; box-sizing:border-box; border-right:1px solid #ccc; border-bottom:1px solid #ccc; font-weight:200;}
.stock02  .stock02_cont > div table tr td:last-of-type{border-right:0;}
.stock02  .stock02_cont > div table tr td.red{color:#f00;}
.stock02  .stock02_cont > div table tr td.blue{color:#0060ff;}

.stock02  .stock02_cont > div table.taC{text-align:center;}
.stock02  .stock02_cont > div table.taC tr td{padding-left:0;}
.stock02  .stock02_cont > div table tr th.taC{text-align:center; padding-left:0;}


/* 20190218 주가정보 로딩효과 css */
	.loading_wrap{position:relative;}
	.loading{position:absolute;top:50%;left:50%;top:300px;width:150px;height:150px;background:transparent;border:3px solid #3c3c3c;border-radius:50%;text-align:center;line-height:150px;font-size:20px;color:#fff000;letter-spacing:4px;text-transform:uppercase;text-shadow:0 0 10px #fff000;box-shadow:0 0 20px rgba(0,0,0,0.5); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); transform:translate(-50%,-50%); z-index:10;}
	.loading:before{content:"";position:absolute;top:-3px;left:-3px;width:100%;height:100%;border:3px solid transparent;border-top:3px solid #fff000;border-right:3px solid #fff000;border-radius:50%;animation:animateCircle 2s linear infinite;}
	.loading span{display:block;position:absolute;top:calc(50% - 2px);left:50%;width:50%;height:4px;background:transparent;transform-origin:left;animation: animate 2s linear infinite;}
	.loading span:before{content:"";position:absolute;width:10px;height:10px;border-radius:50%;background:#fff000;top:-5px;right:-5px;box-shadow:0 0 20px #fff000;}

@keyframes animateCircle
{
	0%
	{
		transform:rotate(0deg);
	}
	100%
	{
		transform:rotate(360deg);
	}
}

@keyframes animate
{
	0%
	{
		transform:rotate(45deg);
	}
	100%
	{
		transform:rotate(405deg);
	}
}
/* input_footer */
.input_footer{background:#1c1d25; width:100%; height: 240px;}
.input_footer .w1400{width:100%; max-width:1400px; margin: 0 auto; overflow: hidden;}
.input_footer .w1400:after{clear: both; content: ""; display: block; height: 0; visibility: hidden}
.input_footer .w1400 .name_box{margin-top:65px; float: left; margin-right:40px}
.input_footer .w1400 .name_box .name:after{clear: both; content: ""; display: block; height: 0; visibility: hidden}
.input_footer .w1400 .name_box .name{width:380px;}
.input_footer .w1400 .name_box .name:nth-of-type(1){margin-bottom:22px;}
.input_footer .w1400 .name_box .name .tit{color:rgba(255,255,255,0.5); font-size:16px; font-weight: bold; float: left; line-height: 44px; width:70px}
.input_footer .w1400 .name_box .name .input_text{width:310px; height:44px; border: 0; background:#33343b; float: left; padding-left:20px; color:#fff; font-size:16px; box-sizing:border-box;}

.input_footer .w1400 .cont_box{margin-top:65px; float: left;}
.input_footer .w1400 .cont_box .cont:after{clear: both; content: ""; display: block; height: 0; visibility: hidden}
.input_footer .w1400 .cont_box .cont{width:750px;}
.input_footer .w1400 .cont_box .cont .tit{color:rgba(255,255,255,0.5); font-size:16px; font-weight: bold; float: left; line-height: 44px; width:80px; text-align: left;}
.input_footer .w1400 .cont_box .cont .input_text{width:670px; height: 110px; border: 0; background:#33343b; float: left; padding:10px; color:#fff; font-size:16px; box-sizing:border-box;}

.input_footer .w1400 .click_box{float: left; margin-left:29px; margin-top:65px;}
.input_footer .w1400 .click_box a{width:200px; height: 70px; display: block; background:#050505; color:rgba(255,255,255,0.5); line-height: 70px; font-size:18px; font-weight:bold; text-align: center}
.input_footer .w1400 .click_box label .input_check{width:16px; height: 16px; background:#6c738d; margin-right:5px; margin-top:3px; vertical-align:top;}
.input_footer .w1400 .click_box label p{display:inline-block; vertical-align:top; font-size:14px; font-size:14px; color:rgba(255,255,255,0.2); font-weight:bold; }
.input_footer .w1400 .click_box label{ line-height: 21px; margin-top:10px;}