@charset "utf-8";

.main .benefits-list{padding-left:122px}

@media (max-width:991px){
	.main .benefits-list{padding-left:0;}
}

.faq_con{background:#F3F3F3;}
.faq_con .faq_table tr.on_e th, .faq_table > tbody > tr:hover th{background:#F3F3F3; color:#575756;}
.faq_con .faq_table > tbody > tr > th{position:relative; color:#575756; font-weight:bold;  font-size:18px; padding:10px 50px 10px 20px; }
.faq_con .faq_table > tbody > tr > th a{position:absolute; display:block; right:10px; top:50%; margin-top:-10px; width:20px; height:20px; background-image:url(../images/icons/plus.svg); background-repeat:no-repeat; background-position:center center;}
.faq_con .faq_table > tbody > tr.on > th a{background-image:url(../images/icons/menouse.svg); background-repeat:no-repeat; background-position:center center;}
.faq_con .faq_table > tbody > tr > td{background:#f3f3f3;}
.faq_con .faq_table > tbody > tr > td *{font-size:18px !important; line-height:1.5 !important; text-indent:0 !important; margin-top:0 !important; margin-left:0 !important; margin-bottom:0 !important; }

/* 판매점 찾기 */
.infowindow-content{border:0; max-width:310px; width:100%;}
.infowindow-content .top{padding:12px; box-sizing:border-box;}
.infowindow-content .top img{width:140px; margin:0 auto; display:block;}
.infowindow-content dl{margin-bottom:20px; margin:0 30px;}
.infowindow-content dl:after{clear:both; content:""; display:block; height:0; visibility:hidden}
.infowindow-content dl dt{font-weight:300; width:60px; height:27px; background:#c8102e; font-size:18px; color:#fff; letter-spacing:-0.075em; text-align:center; line-height:27px; float:left;}
.infowindow-content dl dd{width:calc(100% - 60px); float:left; padding-left:10px; box-sizing:border-box; font-size:16px; color:#303030; letter-spacing:-0.075em; margin-bottom:20px; }
.infowindow-content dl dd a {color:#303030; }
.infowindow-content dl.bg01 dt{background:#582c83}
.infowindow-content dl.bg02 dt{background:#f5b927}
.infowindow-content ul:after{clear:both; content:""; display:block; height:0; visibility:hidden}
.infowindow-content ul{margin:0; margin-top:20px; padding:0;}
.infowindow-content ul li{width:50%; float:left; list-style:none;}
.infowindow-content ul li a{display:block; background:#c8102e; height:62px; line-height:62px; text-align:center; font-size:16px; color:#fff; letter-spacing:-0.075em; font-weight:500;}
.infowindow-content ul li i{display:inline-block; vertical-align:middle; margin-right:5px; }
.infowindow-content ul li.bg01 a{background:#582c83}
.infowindow-content p.img_box {padding-top:20px; text-align:center; }
.infowindow-content p.img_box img {margin:0 10px; }



/* 20200117 추가 */
.mitemite_con02 .benefits{padding-left:0;}
.mitemite_con02 .benefits .benefits-list{/*padding-left:0;*/}
.mitemite_con02 .benefits .benefits-list .item .txt_box{width:79%; display:inline-block; vertical-align:top; word-break:keep-all; padding-right:6%; }
.mitemite_con02 .benefits .benefits-list .item figure{width:20%; display:inline-block; vertical-align:top;}

@media (max-width: 800px) {
	.mitemite_con02 .benefits .benefits-list .item .txt_box{width:100%;}
	.mitemite_con02 .benefits .benefits-list .item figure{width:100%;}
	.mitemite_con02 .benefits .benefits-list .item figure img{max-width:100% !important; margin:50px auto 0; }
}
.vets_resources_con04 .alternet-list .text-block > a span:nth-of-type(2){font-size:20px;}
.vets_resources_con04 .alternet-list .text-block > a span:nth-of-type(3){font-size:20px;}
.vets_resources_con04{}



.footer-top .img-fluid{display:block; margin:0 auto;}




/* 제품 - 강아지브라벡토 추가 20200428 */
.custom_section .text-block.alternet-text-block{padding:40px 50px; width:calc(100% + 50px)}

@media (max-width:1600px){
	.custom_section .text-block.alternet-text-block{width:100%;}
}
@media (max-width:991px){
	.custom_section{padding-bottom:60px;}
}