@charset "utf-8";

.mt0{margin-top: 0;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt45{margin-top: 45px;}
.mt50{margin-top: 50px;}
.mt55{margin-top: 55px;}
.mt60{margin-top: 60px;}
.mt65{margin-top: 65px;}
.mt70{margin-top: 70px;}
.mt75{margin-top: 75px;}
.mt80{margin-top: 80px;}
.mt85{margin-top: 85px;}
.mt90{margin-top: 90px;}
.mt95{margin-top: 95px;}
.mt100{margin-top: 100px;}
.mt105{margin-top: 105px;}
.mt110{margin-top: 110px;}
.mt115{margin-top: 115px;}
.mt120{margin-top: 120px;}
.mt125{margin-top: 125px;}
.mt130{margin-top: 130px;}
.mt135{margin-top: 135px;}
.mt140{margin-top: 140px;}
.mt145{margin-top: 145px;}
.mt150{margin-top: 150px;}
.mt155{margin-top: 155px;}
.mt160{margin-top: 160px;}
.mt165{margin-top: 165px;}
.mt170{margin-top: 170px;}
.mt175{margin-top: 175px;}
.mt180{margin-top: 180px;}
.mt185{margin-top: 185px;}
.mt190{margin-top: 190px;}
.mt195{margin-top: 195px;}
.mt200{margin-top: 200px;}

.mb0{margin-bottom: 0;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb45{margin-bottom: 45px;}
.mb50{margin-bottom: 50px;}
.mb55{margin-bottom: 55px;}
.mb60{margin-bottom: 60px;}
.mb65{margin-bottom: 65px;}
.mb70{margin-bottom: 70px;}
.mb75{margin-bottom: 75px;}
.mb80{margin-bottom: 80px;}
.mb85{margin-bottom: 85px;}
.mb90{margin-bottom: 90px;}
.mb95{margin-bottom: 95px;}
.mb100{margin-bottom: 100px;}
.mb105{margin-bottom: 105px;}
.mb110{margin-bottom: 110px;}
.mb115{margin-bottom: 115px;}
.mb120{margin-bottom: 120px;}
.mb125{margin-bottom: 125px;}
.mb130{margin-bottom: 130px;}
.mb135{margin-bottom: 135px;}
.mb140{margin-bottom: 140px;}
.mb145{margin-bottom: 145px;}
.mb150{margin-bottom: 150px;}
.mb155{margin-bottom: 155px;}
.mb160{margin-bottom: 160px;}
.mb165{margin-bottom: 165px;}
.mb170{margin-bottom: 170px;}
.mb175{margin-bottom: 175px;}
.mb180{margin-bottom: 180px;}
.mb185{margin-bottom: 185px;}
.mb190{margin-bottom: 190px;}
.mb195{margin-bottom: 195px;}
.mb200{margin-bottom: 200px;}

.pt0{padding-top: 0;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}
.pt45{padding-top: 45px;}
.pt50{padding-top: 50px;}
.pt55{padding-top: 55px;}
.pt60{padding-top: 60px;}
.pt65{padding-top: 65px;}
.pt70{padding-top: 70px;}
.pt75{padding-top: 75px;}
.pt80{padding-top: 80px;}
.pt85{padding-top: 85px;}
.pt90{padding-top: 90px;}
.pt95{padding-top: 95px;}
.pt100{padding-top: 100px;}
.pt105{padding-top: 105px;}
.pt110{padding-top: 110px;}
.pt115{padding-top: 115px;}
.pt120{padding-top: 120px;}
.pt125{padding-top: 125px;}
.pt130{padding-top: 130px;}
.pt135{padding-top: 135px;}
.pt140{padding-top: 140px;}
.pt145{padding-top: 145px;}
.pt150{padding-top: 150px;}
.pt155{padding-top: 155px;}
.pt160{padding-top: 160px;}
.pt165{padding-top: 165px;}
.pt170{padding-top: 170px;}
.pt175{padding-top: 175px;}
.pt180{padding-top: 180px;}
.pt185{padding-top: 185px;}
.pt190{padding-top: 190px;}
.pt195{padding-top: 195px;}
.pt200{padding-top: 200px;}

.pb0{padding-bottom: 0;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb45{padding-bottom: 45px;}
.pb50{padding-bottom: 50px;}
.pb55{padding-bottom: 55px;}
.pb60{padding-bottom: 60px;}
.pb65{padding-bottom: 65px;}
.pb70{padding-bottom: 70px;}
.pb75{padding-bottom: 75px;}
.pb80{padding-bottom: 80px;}
.pb85{padding-bottom: 85px;}
.pb90{padding-bottom: 90px;}
.pb95{padding-bottom: 95px;}
.pb100{padding-bottom: 100px;}
.pb105{padding-bottom: 105px;}
.pb110{padding-bottom: 110px;}
.pb115{padding-bottom: 115px;}
.pb120{padding-bottom: 120px;}
.pb125{padding-bottom: 125px;}
.pb130{padding-bottom: 130px;}
.pb135{padding-bottom: 135px;}
.pb140{padding-bottom: 140px;}
.pb145{padding-bottom: 145px;}
.pb150{padding-bottom: 150px;}
.pb155{padding-bottom: 155px;}
.pb160{padding-bottom: 160px;}
.pb165{padding-bottom: 165px;}
.pb170{padding-bottom: 170px;}
.pb175{padding-bottom: 175px;}
.pb180{padding-bottom: 180px;}
.pb185{padding-bottom: 185px;}
.pb190{padding-bottom: 190px;}
.pb195{padding-bottom: 195px;}
.pb200{padding-bottom: 200px;}