@charset "utf-8";

@media all and (max-width:640px){
	.mt0{margin-top: 0;}
	.mt5{margin-top: 0.78125vw;}
	.mt10{margin-top: 1.5625vw;}
	.mt15{margin-top: 2.34375vw;}
	.mt20{margin-top: 3.125vw;}
	.mt25{margin-top: 3.90625vw;}
	.mt30{margin-top: 4.6875vw;}
	.mt35{margin-top: 5.46875vw;}
	.mt40{margin-top: 6.25vw;}
	.mt45{margin-top: 7.03125vw;}
	.mt50{margin-top: 7.8125vw;}
	.mt55{margin-top: 8.59375vw;}
	.mt60{margin-top: 9.375vw;}
	.mt65{margin-top: 10.15625vw;}
	.mt70{margin-top: 10.9375vw;}
	.mt75{margin-top: 11.71875vw;}
	.mt80{margin-top: 12.5vw;}
	.mt85{margin-top: 13.28125vw;}
	.mt90{margin-top: 14.0625vw;}
	.mt95{margin-top: 14.84375vw;}
	.mt100{margin-top: 15.625vw;}
	.mt105{margin-top: 16.40625vw;}
	.mt110{margin-top: 17.1875vw;}
	.mt115{margin-top: 17.96875vw;}
	.mt120{margin-top: 18.75vw;}
	.mt125{margin-top: 19.53125vw;}
	.mt130{margin-top: 20.3125vw;}
	.mt135{margin-top: 21.09375vw;}
	.mt140{margin-top: 21.875vw;}
	.mt145{margin-top: 22.65625vw;}
	.mt150{margin-top: 23.4375vw;}
	.mt155{margin-top: 24.21875vw;}
	.mt160{margin-top: 25vw;}
	.mt165{margin-top: 25.78125vw;}
	.mt170{margin-top: 26.5625vw;}
	.mt175{margin-top: 27.34375vw;}
	.mt180{margin-top: 28.125vw;}
	.mt185{margin-top: 28.90625vw;}
	.mt190{margin-top: 29.6875vw;}
	.mt195{margin-top: 30.46875vw;}
	.mt200{margin-top: 31.25vw;}

	.mb0{margin-bottom: 0;}
	.mb5{margin-bottom: 0.78125vw;}
	.mb10{margin-bottom: 1.5625vw;}
	.mb15{margin-bottom: 2.34375vw;}
	.mb20{margin-bottom: 3.125vw;}
	.mb25{margin-bottom: 3.90625vw;}
	.mb30{margin-bottom: 4.6875vw;}
	.mb35{margin-bottom: 5.46875vw;}
	.mb40{margin-bottom: 6.25vw;}
	.mb45{margin-bottom: 7.03125vw;}
	.mb50{margin-bottom: 7.8125vw;}
	.mb55{margin-bottom: 8.59375vw;}
	.mb60{margin-bottom: 9.375vw;}
	.mb65{margin-bottom: 10.15625vw;}
	.mb70{margin-bottom: 10.9375vw;}
	.mb75{margin-bottom: 11.71875vw;}
	.mb80{margin-bottom: 12.5vw;}
	.mb85{margin-bottom: 13.28125vw;}
	.mb90{margin-bottom: 14.0625vw;}
	.mb95{margin-bottom: 14.84375vw;}
	.mb100{margin-bottom: 15.625vw;}
	.mb105{margin-bottom: 16.40625vw;}
	.mb110{margin-bottom: 17.1875vw;}
	.mb115{margin-bottom: 17.96875vw;}
	.mb120{margin-bottom: 18.75vw;}
	.mb125{margin-bottom: 19.53125vw;}
	.mb130{margin-bottom: 20.3125vw;}
	.mb135{margin-bottom: 21.09375vw;}
	.mb140{margin-bottom: 21.875vw;}
	.mb145{margin-bottom: 22.65625vw;}
	.mb150{margin-bottom: 23.4375vw;}
	.mb155{margin-bottom: 24.21875vw;}
	.mb160{margin-bottom: 25vw;}
	.mb165{margin-bottom: 25.78125vw;}
	.mb170{margin-bottom: 26.5625vw;}
	.mb175{margin-bottom: 27.34375vw;}
	.mb180{margin-bottom: 28.125vw;}
	.mb185{margin-bottom: 28.90625vw;}
	.mb190{margin-bottom: 29.6875vw;}
	.mb195{margin-bottom: 30.46875vw;}
	.mb200{margin-bottom: 31.25vw;}

	.pt0{padding-top: 0;}
	.pt5{padding-top: 0.78125vw;}
	.pt10{padding-top: 1.5625vw;}
	.pt15{padding-top: 2.34375vw;}
	.pt20{padding-top: 3.125vw;}
	.pt25{padding-top: 3.90625vw;}
	.pt30{padding-top: 4.6875vw;}
	.pt35{padding-top: 5.46875vw;}
	.pt40{padding-top: 6.25vw;}
	.pt45{padding-top: 7.03125vw;}
	.pt50{padding-top: 7.8125vw;}
	.pt55{padding-top: 8.59375vw;}
	.pt60{padding-top: 9.375vw;}
	.pt65{padding-top: 10.15625vw;}
	.pt70{padding-top: 10.9375vw;}
	.pt75{padding-top: 11.71875vw;}
	.pt80{padding-top: 12.5vw;}
	.pt85{padding-top: 13.28125vw;}
	.pt90{padding-top: 14.0625vw;}
	.pt95{padding-top: 14.84375vw;}
	.pt100{padding-top: 15.625vw;}
	.pt105{padding-top: 16.40625vw;}
	.pt110{padding-top: 17.1875vw;}
	.pt115{padding-top: 17.96875vw;}
	.pt120{padding-top: 18.75vw;}
	.pt125{padding-top: 19.53125vw;}
	.pt130{padding-top: 20.3125vw;}
	.pt135{padding-top: 21.09375vw;}
	.pt140{padding-top: 21.875vw;}
	.pt145{padding-top: 22.65625vw;}
	.pt150{padding-top: 23.4375vw;}
	.pt155{padding-top: 24.21875vw;}
	.pt160{padding-top: 25vw;}
	.pt165{padding-top: 25.78125vw;}
	.pt170{padding-top: 26.5625vw;}
	.pt175{padding-top: 27.34375vw;}
	.pt180{padding-top: 28.125vw;}
	.pt185{padding-top: 28.90625vw;}
	.pt190{padding-top: 29.6875vw;}
	.pt195{padding-top: 30.46875vw;}
	.pt200{padding-top: 31.25vw;}

	.pb0{padding-bottom: 0;}
	.pb5{padding-bottom: 0.78125vw;}
	.pb10{padding-bottom: 1.5625vw;}
	.pb15{padding-bottom: 2.34375vw;}
	.pb20{padding-bottom: 3.125vw;}
	.pb25{padding-bottom: 3.90625vw;}
	.pb30{padding-bottom: 4.6875vw;}
	.pb35{padding-bottom: 5.46875vw;}
	.pb40{padding-bottom: 6.25vw;}
	.pb45{padding-bottom: 7.03125vw;}
	.pb50{padding-bottom: 7.8125vw;}
	.pb55{padding-bottom: 8.59375vw;}
	.pb60{padding-bottom: 9.375vw;}
	.pb65{padding-bottom: 10.15625vw;}
	.pb70{padding-bottom: 10.9375vw;}
	.pb75{padding-bottom: 11.71875vw;}
	.pb80{padding-bottom: 12.5vw;}
	.pb85{padding-bottom: 13.28125vw;}
	.pb90{padding-bottom: 14.0625vw;}
	.pb95{padding-bottom: 14.84375vw;}
	.pb100{padding-bottom: 15.625vw;}
	.pb105{padding-bottom: 16.40625vw;}
	.pb110{padding-bottom: 17.1875vw;}
	.pb115{padding-bottom: 17.96875vw;}
	.pb120{padding-bottom: 18.75vw;}
	.pb125{padding-bottom: 19.53125vw;}
	.pb130{padding-bottom: 20.3125vw;}
	.pb135{padding-bottom: 21.09375vw;}
	.pb140{padding-bottom: 21.875vw;}
	.pb145{padding-bottom: 22.65625vw;}
	.pb150{padding-bottom: 23.4375vw;}
	.pb155{padding-bottom: 24.21875vw;}
	.pb160{padding-bottom: 25vw;}
	.pb165{padding-bottom: 25.78125vw;}
	.pb170{padding-bottom: 26.5625vw;}
	.pb175{padding-bottom: 27.34375vw;}
	.pb180{padding-bottom: 28.125vw;}
	.pb185{padding-bottom: 28.90625vw;}
	.pb190{padding-bottom: 29.6875vw;}
	.pb195{padding-bottom: 30.46875vw;}
	.pb200{padding-bottom: 31.25vw;}

}