@charset "utf-8";
/* CSS Document */
/* 팝업 css */
*{margin:0; padding:0;}
img{border:none 0;}
h2{display:inline; font-size:14px; color:#002b46; margin:7px 0 0 10px; width:60%; float:left;}
#popup{position:relative; width:300px; height:100%; float:left; border:1px solid #333;}/*전체사이즈*/


/*.ptop{width:100%; overflow:hidden;}
.ptop .ptL{background:url(/popup/img/ptop_l.gif) no-repeat left; width:2%; height:32px; float:left;}
.ptop .ptC{background:url(/popup/img/ptop_c.gif) repeat-x left; width:96%; height:32px; float:left;}
.ptop .ptR{background:url(/popup/img/ptop_r.gif) no-repeat right; width:2%; height:32px; float:left;}


.pcon{position:relative; width:100%; _height:300px; min-height:300px; clear:left; margin:0; padding-right:0px; background:url(/popup/img/pcon_r.gif) repeat-y right;}

.pcon .pcc{position:relative; width:285px; _height:300px; min-height:300px; background:url(/popup/img/pcon_l.gif) repeat-y left; overflow:hidden; height:100%; padding:0 0px 0 7px; margin:0;}


.pbtm{width:100%; clear:left; height:8px; overflow:hidden; margin:0; padding:0;}
.pbtm .pbL{background:url(/popup/img/pbtm_l.gif) no-repeat left; width:2%; height:8px; float:left; margin:0; padding:0;}
.pbtm .pbC{background:url(/popup/img/pbtm_c.gif) repeat-x; width:96%; height:8px; float:left; margin:0; padding:0;}
.pbtm .pbR{background:url(/popup/img/pbtm_r.gif) no-repeat right; width:2%; height:8px; float:left; margin:0; padding:0;}*/