@media (min-width: 1600px) {
    .home-header {
        max-height: 490px;
    }
}

@media (min-width: 1750px) {
    .home-header {
        max-height: 550px;
    }
}

@media (min-width: 1950px) {
    .home-header {
        max-height: 600px;
    }
}

@media (min-width: 2200px) {
    .home-header {
        max-height: 680px;
    }
}

@media (max-width: 1440px) {

    .mainnav .nav-link {
        padding: 0px 8px 0 14px;
    }

    .container-1 {
        max-width: 1170px;
    }

    .where-to-get {
        width: 100%;
    }

    .text-block {
        padding: 0 90px;
    }
}




@media (max-width: 1199px) {

    .container-1 {
        max-width: 1000px;
    }

    .find-stockist {
        margin-left: 10px;
        font-size: 15px;
        padding: 0 80px 0 20px;
        ;
    }

        .find-stockist::after {
            margin-left: 20px;
        }

    .mainnav .nav-link {
        padding: 0px 6px 0 14px;
        font-size: 15px;
    }

    .home-product-tabs li a {
        font-size: 18px;
        line-height: 70px;
    }

    .home-product-tabs li img {
        height: 35px;
    }

    h1, h2 {
        font-size: 20px;
        line-height: 60px;
    }

    h3, h4 {
        font-size: 20px;
        line-height: 28px;
    }

    .benefits {
        padding: 60px 30px 60px 30px;
    }

    .text-block {
        padding: 0 50px;
    }

    .dog-img {
        max-width: 80%;
    }

    .product-details-top {
        padding-left: 150px;
    }

    .glid-list {
        padding: 34px 20px;
    }

        .glid-list figure img {
/*            width: 360px;*/
        }
}



@media (max-width: 991px) {
    body {
        padding-top: 124px;
    }

    .contact-cta .contact-wrap ul li {
        float: none;
        display: block;
        width: 100%;
    }

    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: block !important;
    }

    .top-header-img {
        width: 185px;
        height: 37px;
    }

    .header-mobile {
        padding-top: 45px;
        padding-left: 23px;
        position: relative;
        padding-bottom: 10px;
    }

    .darkHeader .header-mobile {
        padding-top: 10px;
    }

    .darkHeader .open-menu {
        top: 10px;
    }

    .header-mobile img.mobile-logo {
        width: 200px;
    }

    .darkHeader .header-mobile img.mobile-logo {
        width: 120px;
    }

    .open-menu {
        position: absolute;
        right: 23px;
        top: 58px;
    }

    .mobile-first {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .moile-last {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }

    .benefits {
        padding: 20px;
    }

    .benefits-list {
        padding-left: 0px;
        padding-top: 110px;
    }

    .benefits-noimg .benefits-list {
        padding:20px 15px; 
				box-sizing:border-box;
        margin-bottom: 10px;
    }

    .benefits-list img {
        top: 0px;
    }

    .benefits-list-first {
        padding-top: 30px;
    }

    .benefits-list h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .extrta-mb {
        margin-bottom: 40px;
    }

    .benefits-list-last {
        padding-top: 0px;
        padding-bottom: 25px;
    }

    .mobile-pedding {
        padding: 20px;
    }

    .text-block {
        padding: 44px 20px;
    }

        .text-block h2 {
            margin-bottom: 15px;
        }

    .socali-links li {
        margin-right: 10px;
    }

    .left-logo {
        margin-left: -20px;
    }

    .product-details-top {
        padding: 40px 20px 40px 20px;
    }

    .mob-pedding {
        padding: 20px !important;
    }

    .video-block {
        width: 100%;
    }

    .top-minouse {
        margin-top: 0px;
    }

    .dogs .owl-item.current span, .dogs .owl-item span {
        border-radius: 0px;
        height: 70px;
        line-height: 70px;
        margin: 0px;
        font-size: 20px;
        text-align: center;
    }

        .dogs .owl-item span i {
            width: 36px;
            height: 70px;
            background-size: 36px;
            margin-right: 18px;
        }

    .dogs .owl-stage {
        height: 70px;
        overflow: hidden;
    }

    .dogs.owl-theme .owl-nav {
        position: absolute;
        top: 0px;
        margin: 0px;
        left: 0;
        width: 100%;
    }

        .dogs.owl-theme .owl-nav .owl-prev, .dogs.owl-theme .owl-nav .owl-next {
            width: 70px;
            height: 70px;
            margin: 0px;
            background: none;
        }

        .dogs.owl-theme .owl-nav .owl-prev {
            float: left;
        }

        .dogs.owl-theme .owl-nav .owl-next {
            float: right
        }

    .btn-ar {
        width: 70px;
        height: 70px;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
    }

    .btn-left1 {
        background-image: url(../images/ar.svg);
    }

    .btn-right1 {
        background-image: url(../images/al.svg);
    }

    .nav-link.active, .show .nav-link {
        color: #fff;
        background: none;
    }

    .faq-list a {
        padding-right: 40px;
    }

    .faq-list {
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .home-header {
        max-height: inherit;
    }

    .header-text {
        top: 30px;
        left: 20px;
        height: auto;
    }

    .home-header h3 {
        max-width: 75%;
        margin: 0px;
    }

    .header-text-inner {
        padding: 40px 20px;
    }

    .inner-header figure {
        height: auto;
    }

    .row.row-2 {
        margin: 0px;
    }

        .row.row-2 .col-md-12 {
            padding-bottom: 20px;
        }

    .col-3-section {
        padding-top: 60px;
        padding-bottom: 0px;
    }

    .text-block.alternet-text-block {
        width: 100%;
    }

    .alternet-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .alternet-text-block-bottom {
        margin: 0px;
    }

    .alternet-list-last {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .facts-ticks:before {
        display: none;
    }

    .facts-list {
        padding: 40px 20px;
    }

        .facts-list.extrta-pad {
            padding-left: 20px;
        }

    .facts-light {
        background-color: #582C83;
    }

    .container-2 .col-lg-6 {
        padding-top: 30px;
    }

    .contactus {
        padding: 60px 20px;
    }

    .contact-wrap {
        margin: auto;
    }

        .contact-wrap h1 {
            font-size: 50px;
        }

        .contact-wrap h6 {
            font-size: 16px;
        }

    .map-search, .contact-cta {
        padding-left: 30px;
        padding-right: 30px;
    }

    .product-section {
        padding-bottom: 0px;
    }

    .product-details-top.pb-180 {
        padding-bottom: 30px;
    }
	

	
	.mitemite_con02 .benefits .benefits-list .item .txt_box{width:100%; display:block;}
	.mitemite_con02 .benefits .benefits-list .item figure{width:100%; display:block;}
}


@media (max-width: 767px) {

    .contact-wrap ul li a span {
        font-size: 14px;
    }

    .text-block.alternet-text-block {
        padding: 40px 20px;
    }

    .row.row-2 .col-md-12 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-links li {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        cursor: pointer;
        margin-right: 20px;
    }

    .footer-links-2 li a {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        cursor: pointer;
        margin-right: 20px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }

    .footer-links-2 li {
            display: block;
        width: 100%;
        margin-bottom: 15px;
        cursor: pointer;
        margin-right: 20px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
     
    }
    .footer-links-2 ul {
        padding-left: 40px;}

        .footer-links li a {
            display: none;
            padding-left: 40px;
        }

        .footer-links li h6 a {
            display: block;
            padding-left: 0px;
        }


        .footer-links li:hover a, .footer-links li h6 a {
            display: block;
        }

        .footer-links li h6 {
            background-image: url(../images/icons/darrow.svg);
            background-position: 10px center;
            background-repeat: no-repeat;
            padding-left: 40px;
        }

    .footer-bottom {
        padding: 130px 20px 30px 20px;
    }

    .socali-links {
			text-align:center; 
        margin-bottom: 40px;
    }

    .product-details-top h4 {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .product-details-top {
        margin-bottom: 10px;
    }

	.steps-car .owl-dot {
    line-height: 35px;
    color: #C8102E;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    position: relative;

    .steps-car .owl-dots {
        left: 0;
        right: 0;
    }

    .header-text-inner h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .col-3-section.less-pading {
        padding: 40px 0 60px 0;
    }

    .container-2 .col-lg-6 {
        padding: 20px 20px 0 20px;
    }

    .contact-wrap ul li a {
        padding-left: 80px;
    }

    .contact-wrap ul {
        margin-bottom: 60px;
    }
}





@media (max-width: 575px) {

    #proTab .nav-link {
        font-size: 13px;
        padding: 0 10px;
    }

    .findoutmore i {
        display: none;
    }
	.glid-list figure img {
		max-width: 100%;
	}
	
	.socali-links li:nth-of-type(3) {margin-right:0}
	.socali-links li:nth-of-type(4){margin-top:20px;}
	.socali-links li:nth-of-type(5){margin-top:20px;}
}

@media (max-width: 365px) {

    .home-header h3 {
        max-width: 100%;
        font-size: 18px;
        line-height: 24px;
        padding-right: 20px;
    }

    #proTab .nav-link {
        font-size: 11px;
        padding: 0 7px;
    }

    .contact-wrap ul li a b {
        font-size: 22px;
    }

    .contact-wrap ul li a span {
        font-size: 12px;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .modal-open .ekko-lightbox {
        display: block !important;
        margin-top: 100px;
    }
}

@media (max-width: 1350px) {

    .home-product-tabs li img {
        -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.8); /* FF3.5+ */
        -ms-transform: scale(0.8); /* IE9 */
        -o-transform: scale(0.8); /* Opera 10.5+ */
        transform: scale(0.8);
        margin-right: 5px;
    }

    .home-product-tabs li a {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .home-product-tabs li a {
        font-size: 16px;
    }
}

@media (max-width: 1100px) {
    .home-product-tabs li a {
        font-size: 14px;
    }
}
