/*-- Header
================================================== */

.mainnav {
    padding-top: 110px;
}

.top-header-img {
    position: absolute;
    right: 0px;
    top: 0px;
}

.mainnav .nav-link {
    line-height: 67px;
    font-size: 18px;
    color: #575756;
    font-weight: bold;
    padding: 0px 17px;
}

    .mainnav .nav-link:hover {
        color: #575756;
    }

.find-stockist {
    line-height: 67px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background-color: #C8102E;
    display: block;
    padding: 0 84px 0 24px;
    position: relative;
    margin-left: 25px;
}

    .find-stockist:after {
        content: '';
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background-color: #D34058;
        vertical-align: middle;
        background-image: url(../images/icons/arrow-left.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
        position: absolute;
        right: 24px;
        top: 14px;
        opacity: 1;
    }

    .find-stockist:hover {
        color: #fff;
        display: block;
    }

        .find-stockist:hover:after {
            opacity: 0;
        }

    .find-stockist:before {
        content: '';
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background-color: #D34058;
        vertical-align: middle;
        background-image: url(../images/icons/paw.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
        position: absolute;
        right: 24px;
        top: 14px;
        opacity: 0;
    }

    .find-stockist:hover:before {
        opacity: 1;
    }


.playbutton:after {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 36px;
    background-color: #D34058;
    vertical-align: middle;
    background-image: url(../images/ar.svg);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
    opacity: 1;
}

.playbutton:before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 36px;
    background-color: #D34058;
    vertical-align: middle;
    background-image: url(../images/icons/paw.svg);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
    opacity: 0;
}

.playbutton:hover:before {
    opacity: 1;
}

.playbutton:hover:after {
    opacity: 0;
}

.brand-logo img {
    margin-top: 45px;
    width: 250px;
}

#product-menu a,
#product-menu2 a{
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    min-height: 300px;
}
#product-menu a > div,
#product-menu2 a > div{
	display:block;
	width:100%
}

    #product-menu a div.imgcontainer,
		#product-menu2 a div.imgcontainer{
        margin-left: 24px;
        min-width: 100px;
        position: relative;
        height: 100%;
        float: left;
    }

        #product-menu a div.imgcontainer img,
				#product-menu2 a div.imgcontainer img {
            bottom: 0px;
            position: absolute;
            display: block;
            width: 80%;
            height: auto;
        }

    #product-menu a h6,
		#product-menu2 a h6 {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        width: calc(100% - 150px);
        float: left;
    }

        #product-menu a h6 span {
            font-size: 16px;
            font-weight: normal;
            color: #fff;
            line-height: 26px;
            margin-top: 30px;
            display: block;
        }

    #product-menu a.orangetab:hover {
        background-color: #2676C3;
    }

    #product-menu a.purpaltab:hover {
        background-color: #FE6A26;
    }

    #product-menu a.bluetab:hover {
        background-color: #dc4b24;
    }



#mobilemenu {
    background-color: #582C83;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.mobile-header {
    padding: 12px 17px;
    position: relative;
}

.closmenu {
    position: absolute;
    right: 17px;
    top: 10px;
}

.menufooter {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 75px;
    background-color: #F3F3F3;
}

    .menufooter a {
        position: relative;
        display: block;
        line-height: 75px;
        padding-left: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #C8102E
    }

        .menufooter a:after {
            content: '';
            position: absolute;
            right: 20px;
            top: 20px;
            width: 36px;
            height: 36px;
            border-radius: 36px;
            background-color: #C8102E;
            background-image: url(../images/icons/arrow-left.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 18px;
        }

.menumobile {
    padding-left: 17px;
    height: calc(100vh - 140px);
    overflow: auto;
}

    .menumobile .dropdown-menu {
        position: relative !important;
        transform: translate3d(0px, 0px, 0px) !important;
        background: none;
        border: none;
        padding-bottom: 0px;
    }

    .menumobile .nav-link {
        font-size: 24px;
        color: #fff;
        padding: 0px;
    }

    .menumobile .dropdown-item {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        background: none;
        padding-left: 0px;
        padding-right: 0px;
    }

    .menumobile .nav-item {
        margin-bottom: 25px;
        padding-left: 30px;
    }

        .menumobile .nav-item.show {
            background-image: url(../images/icons/paw.svg);
            background-repeat: no-repeat;
        }

    .menumobile .nav {
        padding-top: 100px;
    }

#mobilemenu {
    display: none;
}

    #mobilemenu.mobilemenu-active {
        display: block;
    }



/*-- Footer
================================================== */
footer {
    position: relative;
}

.footer-bottom {
    background-color: #FFF;
    font-size: 14px;
    line-height: 22px;
    padding: 40px 0;
	position:relative;
}

    .footer-bottom p {
        max-width: 627px;
    }

        .footer-bottom p a {
            color: #6A6A69;
            text-decoration: underline;
        }

            .footer-bottom p a:hover {
                color: #333;
                text-decoration: none;
            }

.left-logo {
	position:absolute;
	top:-103px;
    left: 0px;
}

.footer-top {
    background-color: #3D2950;
    padding: 60px 0 120px;
}

.socali-links li {
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}

    .socali-links li a {
        border-radius: 50%;
        display: block;
    }

        .socali-links li a:hover {
            border-radius: 50%;
            display: block;
            background-color: #00988E;
        }


.socali-links {
    margin-top: 35px;
    padding-left: 0px;
}

.footer-links {
    list-style: none;
    padding: 0px;
}

    .footer-links li {
        display: inline-block;
        width: 70%;
        vertical-align: top;
    }

        .footer-links li h6 {
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
            margin-bottom: 12px;
        }

        .footer-links li a {
            font-size: 14px;
            color: #fff;
            display: block;
        }

        .footer-links-2 li a {
        display: block;
        width: 70%;
        margin-bottom: 12px;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }


    .footer-links-2 li {
            display: block;
        width: 100%;
        margin-bottom: 12px;
        cursor: pointer;
     
    }



/*-- Home
================================================== */

.home-header {
    position: relative;
    max-height: 450px;
    overflow: hidden;
}

.header-text {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

.home-header h3 {
    max-width: 460px;
    margin-top: 267px;
    margin-left: -40px;
}

.home-header img {
    min-width: 100%;
}

.home-product-tabs li {
    width: 50%;
    text-align: center;
}

    .home-product-tabs li img {
        margin-right: 15px;
    }

    .home-product-tabs li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        display: block;
        line-height: 96px;
        position: relative;
    }
.chew_logo{max-width:240px;}
.chew_logo img{width:100%}
.dog-img {
    margin-top: -93px;
}

.orangetab {
    background-color: #005EB8;
}
.orangetab2 {
    background-color: #4db949;
}

.purpaltab {
    background-color: #FE5000;
}

.bluetab {
    background-color: #f85124;
}

.bluetab2 {
    background-color: #ffb129;
}

.greentab {
    background-color: #C4D600;
}

.redtab {
    background-color: #c8102e;
}
.redtab2 {
    background-color: #de1a86;
}

#producttab .orangetab .active:after {
    border-top: 20px solid #005EB8;
}

#producttab .purpaltab .active:after {
    border-top: 20px solid #FE5000;
}

#producttab .bluetab .active:after {
    border-top: 20px solid #f85124;
}

#producttab .greentab .active:after {
    border-top: 20px solid #C4D600;
}

#producttab .active:after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -15px;
}

#producttabContent .tab-pane {
    padding: 190px 0 0 0;
}

    #producttabContent .tab-pane h1 {
        margin-bottom: 61px;
    }

.home-product-li {
    list-style: none;
    padding: 0px;
}

    .home-product-li li {
        padding-left: 34px;
        background-image: url(../images/icons/paw_icon.svg);
        background-repeat: no-repeat;
        background-position: left 5px;
        margin-bottom: 20px;
        padding-bottom: 13px;
        border-bottom: solid 1px #DDDDDD;
    }

.small-text {
    font-size: 14px;
}

.icon-li {
    padding: 0px;
    list-style: none;
    margin-bottom: 30px;
}

    .icon-li li {
        padding: 0px 0 0px 75px;
        margin-bottom: 11px;
        background-repeat: no-repeat;
        background-position: left top
    }

.flees {
    background-image: url(../images/icons/fleas.svg);
}

.paral {
    background-image: url(../images/icons/paralysis.svg);
}

.brown {
    background-image: url(../images/icons/browndog.svg);
}

.heartw {
    background-image: url(../images/icons/heartw.svg);
}

.gastro {
    background-image: url(../images/icons/gastro.svg);
}

.earmi {
    background-image: url(../images/icons/earmi.svg);
}

.icon-li li a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #C8102E;
    border-bottom: solid 1px #ddd;
    padding-bottom: 11px;
}

    .icon-li li a strong {
        font-size: 18px;
        display: block;
        color: #575756;
    }

.findoutmore {
    font-weight: bold;
    color: #C8102E;
    line-height: 48px;
    position: relative;
    margin-top: 50px;
    display: inline-block;
    padding-right: 68px;
}

    .findoutmore:hover {
        color: #C8102E;
    }

    .findoutmore:after {
        content: '';
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 36px;
        background-color: #C8102E;
        vertical-align: middle;
        background-image: url(../images/icons/arrow-left.svg);
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 1;
        position: absolute;
        right: 0;
        top: 0;
    }

    .findoutmore.bravecto_vets:after {
        right: -200px;
    }
    .findoutmore.bravecto_vets2:after {
        right: -70px;
    }
    .findoutmore.bravecto_vets3:after {
        right: -10px;
    }

    .findoutmore:before {
        content: '';
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 36px;
        background-color: #C8102E;
        vertical-align: middle;
        background-image: url(../images/icons/paw.svg);
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .findoutmore.bravecto_vets:before {
        right: -200px;
    }
    .findoutmore.bravecto_vets2:before {
        right: -70px;
    }

    .findoutmore.bravecto_vets3:before {
        right: -10px;
    }

    .findoutmore:hover:before {
        opacity: 1;
    }

    .findoutmore:hover:after {
        opacity: 0;
    }

.alt-color {
    background-color: #F3F3F3;
}

.benefits {
    padding: 100px 42px 100px 98px;
    ;
}

.benefits-list {
    position: relative;
    padding-left: 72px;
    margin-bottom: 40px;
}

    .benefits-list img {
        position: absolute;
        left: 0px;
    }

    .benefits-list h3 {
        margin-bottom: 18px;
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
    }

.extrta-mb {
    margin-bottom: 50px;
}

.redbg-link {
    display: inline-block;
    line-height: 35px;
    padding: 0 14px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #C8102E;
}

    .redbg-link:hover {
        color: #fff;
        background-color: #FE5000;
    }

.where-to-get {
    padding: 45px 24px 51px 24px;
    background-color: #582C83;
    color: #fff;
    width: calc(100% + 70px)
}

    .where-to-get h2 {
        font-weight: bold;
        margin-bottom: 45px;
    }

    .where-to-get p {
        margin-bottom: 45px;
    }

    .where-to-get input, .find-stockist-form input {
        width: 100%;
        border-radius: 2px;
        border: none;
        line-height: 60px;
        padding-left: 17px;
        font-size: 20px;
        font-weight: bold;
        color: #575756;
        height: 60px;
        padding-right: 61px;
    }

.arror-btn {
    border: none;
}

.where-to-get form, .find-stockist-form {
    position: relative;
}

.arror-btn {
    position: absolute;
    display: block;
    padding: 0px;
    background: none;
    width: 38px;
    height: 38px;
    top: 12px;
    right: 17px;
    cursor: pointer;
}

    .arror-btn:after {
        content: '';
        display: inline-block;
        width: 38px;
        height: 38px;
        border-radius: 36px;
        background-color: #C8102E;
        vertical-align: middle;
        background-image: url(../images/icons/arrow-left.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0px;
    }

    .arror-btn:before {
        content: '';
        display: inline-block;
        width: 38px;
        height: 38px;
        border-radius: 36px;
        background-color: #C8102E;
        vertical-align: middle;
        background-image: url(../images/icons/paw.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0px;
    }

    .arror-btn:hover:after {
        opacity: 0;
    }

    .arror-btn:hover:before {
        opacity: 1;
    }


.purpal-background {
    background-color: #3D2950;
    position: relative;
}

.top-strip:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 98px;
    background-color: #F3F3F3;
}

.top-strip .container-1 {
    position: relative;
    background-color: #fff;
}

.text-block {
    padding: 0 124px;
}

    .text-block h2 {
        margin-bottom: 35px;
    }


#sync2 {
}

.prodduct-accordion .card {
    border: 0;
}

.dogs .owl-stage {
    margin: auto;
}

.dogs .owl-item span {
    display: block;
    padding: 0 27px 0 22px;
    height: 40px;
    line-height: 40px;
    border: solid 1px #A5A5A4;
    border-radius: 24px;
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 28px;
    cursor: pointer;
}

    .dogs .owl-item span i {
        background-image: url(../images/icons/dog-b.svg);
        background-repeat: no-repeat;
        background-position: left center;
        display: inline-block;
        width: 27px;
        height: 40px;
        vertical-align: middle;
        margin-right: 7px;
    }

.dogs.cats .owl-item span i {
    background-image: url(../images/icons/cat-b.svg);
}

.dogs .owl-item.current span i {
    background-image: url(../images/icons/dog-w.svg);
}

.dogs.cats .owl-item.current span i {
    background-image: url(../images/icons/cat-w.svg);
}

.dogs .owl-item span:hover {
    border: solid 1px #575756;
}
/*.dogs.cats .owl-item span:hover{ border:solid 1px #981D97; }*/

.dogs .owl-item.current span {
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 24px;
}


.dogs .owl-item.current .purpal-cat-active span {
    border: solid 1px #981D97;
    background-color: #981D97;
}

.dogs .owl-item.current .green-cat-active span {
    border: solid 1px #C2D500;
    background-color: #C2D500;
}

.dogs .owl-item.current .blue-cat-active span {
    border: solid 1px #005CB9;
    background-color: #005CB9;
}


.dogs .owl-item.current .purpal-active span {
    border: solid 1px #E50695;
    background-color: #E50695;
}

.dogs .owl-item.current .green-active span {
    border: solid 1px #78BE20;
    background-color: #78BE20;
}

.dogs .owl-item.current .blue-active span {
    border: solid 1px #00A3E0;
    background-color: #00A3E0;
}

.dogs .owl-item.current .yellow-active span {
    border: solid 1px #FFB81C;
    background-color: #FFB81C;
}

.dogs .owl-item.current .orange-active span {
    border: solid 1px #FE5000;
    background-color: #FE5000;
}


.steps-car figure {
    max-width: 500px;
    margin-bottom: 0px;
}




/*.dogs.cats .owl-item.current span{ border:solid 1px #981D97;  background-color:#981D97; }*/

.video-block {
    position: relative;
    width: calc(100% + 70px)
}

.product-details-top {
    padding-top: 93px;
    padding-left: 170px;
    margin-bottom: 75px;
}

    .product-details-top h1 {
        margin-bottom: 50px;
    }

    .product-details-top h4 {
        margin-bottom: 24px;
    }

    .product-details-top ul {
        padding-left: 20px;
        margin-bottom: 0px;
    }

        .product-details-top ul li {
            padding-left: 10px;
        }

.pb-180 {
    padding-bottom: 180px;
}

#proTab {
    border: none;
    padding: 0px;
}

    #proTab li {
        padding: 0px;
    }

    #proTab .nav-link {
        padding: 0 15px;
        line-height: 35px;
        font-size: 14px;
        font-weight: bold;
        color: #C8102E;
        border: none;
        border-radius: 0;
        position: relative;
    }

        #proTab .nav-link.active {
            background-color: #C8102E;
            color: #fff;
        }

            #proTab .nav-link.active:after {
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                content: '';
                position: absolute;
                left: 50%;
                margin-left: -4px;
                bottom: -8px;
                border-top: 8px solid #C8102E;
            }

#proTabContent .tab-pane {
    padding-top: 36px;
    padding-right: 42px;
}

.video-block .playbutton {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 0;
    bottom: 0;
    background-color: #C8102E;
    text-align: center;
    vertical-align: middle;
    line-height: 96px;
}

    .video-block .playbutton:after {
    }


.top-minouse {
    margin-top: 0px;
	margin-left: 120px;
}
.top-plus {
    margin-top: 80px;
}

.video-slider .owl-nav {
    margin: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.btn-arrow {
    width: 48px;
    height: 48px;
    display: block;
    background-color: #C8102E;
    background-position: center center;
    background-repeat: no-repeat;
}

    .btn-arrow:hover {
        background-color: #D34058;
    }

.btn-right {
    background-image: url(../images/icons/arrow-right.svg);
}

.btn-left {
    background-image: url(../images/icons/arrow-left.svg);
}

.owl-theme.video-slider .owl-nav [class*="owl-"] {
    margin: 0px;
    background: none;
    border-radius: 0;
}

.benefits-list figure img {
    position: static;
}

.benefits-list figure {
}


.steps-car .owl-dot {
    line-height: 35px;
    color: #C8102E;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    position: relative
}

    .steps-car .owl-dot:hover {
        background-color: #eee;
        color: #C8102E;
    }

    .steps-car .owl-dot.active {
        background-color: #C8102E;
        color: #fff;
    }

        .steps-car .owl-dot.active:after {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            content: '';
            position: absolute;
            left: 50%;
            margin-left: -4px;
            bottom: -8px;
            border-top: 8px solid #C8102E;
        }

.steps-car .owl-dots {
    position: absolute;
    top: 0px;
}

.steps-car {
    padding-top: 80px;
}



.faq-list {
    border-bottom: solid 1px #CCCCCC;
    margin-bottom: 29px;
    padding-bottom: 29px;
}

    .faq-list a {
        display: block;
        padding-right: 98px;
        font-weight: bold;
        color: #575756;
        position: relative;
    }

        .faq-list a:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -10px;
            width: 20px;
            height: 20px;
            background-image: url(../images/icons/menouse.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }

        .faq-list a.collapsed:after {
            background-image: url(../images/icons/plus.svg);
        }

.faq-list {
    margin-top: 40px;
}

    .faq-list .answer {
        padding-top: 30px;
        max-width: 500px;
    }



.title-animation {
    display: inline-block;
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
    transition: -webkit-transform .9s cubic-bezier(.4,0,0,1);
    transition: transform .9s cubic-bezier(.4,0,0,1);
    transition: transform .9s cubic-bezier(.4,0,0,1),-webkit-transform .9s cubic-bezier(.4,0,0,1);
}

.anim {
    overflow: hidden;
}

.anims .title-animation {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.titleanimation-bottom {
    display: inline-block;
    -webkit-transform: translateY(110%);
    -ms-transform: translateY(110%);
    transform: translateY(110%);
    transition: -webkit-transform .9s cubic-bezier(.4,0,0,1);
    transition: transform .9s cubic-bezier(.4,0,0,1);
    transition: transform .9s cubic-bezier(.4,0,0,1),-webkit-transform .9s cubic-bezier(.4,0,0,1);
    overflow: hidden;
}

.anims .titleanimation-bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.title-animation1 {
    display: inline-block;
    -webkit-transform: translateY(110%);
    -ms-transform: translateY(110%);
    transform: translateY(110%);
    transition: -webkit-transform .9s cubic-bezier(.4,0,0,1);
    transition: transform .9s cubic-bezier(.4,0,0,1);
    transition: transform .9s cubic-bezier(.4,0,0,1),-webkit-transform .9s cubic-bezier(.4,0,0,1);
    overflow: hidden;
}

.show .title-animation1 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.hideer {
    display: block;
    overflow: hidden;
}

.fads {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}

.show .fads {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.fadi {
    opacity: 0;
}

.show .fadi {
    opacity: 1;
}


.s1 {
    transition-delay: 0.2s
}

.s2 {
    transition-delay: 0.4s
}

.s3 {
    transition-delay: 0.6s
}

.s4 {
    transition-delay: 0.8s
}

.s5 {
    transition-delay: 1s
}

.s6 {
    transition-delay: 1.2s
}

.s7 {
    transition-delay: 1.4s
}

.s8 {
    transition-delay: 1.6s
}

.s9 {
    transition-delay: 1.8s
}

.s10 {
    transition-delay: 2.2s
}
.s11 {
    transition-delay: 2.4s
}
.s12 {
    transition-delay: 2.6s
}
.s13 {
    transition-delay: 2.8s
}
.s14 {
    transition-delay: 3s
}
.s15 {
    transition-delay: 3.2s
}


.mainnav .show .nav-link, .mainnav .nav-link:hover, .mainnav .nav-item:hover a.nav-link, .mainnav .activeted a.nav-link {
    background-image: url(../images/icons/paw_icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
    color: #C8102E;
}

.mainnav a.nav-link.activelink {
    color: #C8102E !important;
}

.dropdown-menu {
    margin: 0px;
}

.mainnav .nav-link.collapsed {
    background-image: none;
}


.nav-link.collapsed, .nav-link {
    background-image: none;
    color: #575756;
    background-position: left center;
}


.product-link-mobile {
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: block;
    position: relative;
}

    .product-link-mobile:hover {
        color: #fff;
    }

.product-1 .product-link-mobile {
    background-color: #f85124;
}

.product-2 .product-link-mobile {
    background-color: #FE5000;
}

.product-3 .product-link-mobile {
    background-color: #005EB8;
}

.product-4 .product-link-mobile {
    background-color: #C4D600;
}

.product-link-mobile img {
    margin-right: 10px;
}

.product-3 .product-link-mobile img {
    margin-right: 14px;
}

.product-link-mobile:after {
    content: '-';
    position: absolute;
    font-weight: bold;
    color: #fff;
    right: 20px;
}

.product-link-mobile.collapsed:after {
    content: '+';
    position: absolute;
    font-weight: bold;
    color: #fff;
    right: 20px;
}

.collapes-wraper {
    padding: 30px 20px;
}

.mobile-photo {
    text-align: center;
    margin-bottom: 30px;
}

.slider-item {
    font-size: 20px;
}

    .slider-item .icon-li li {
        float: left;
        width: 33%;
        background-size: 30px;
        padding: 40px 13px 0 13px;
        background-position: 13px top;
        margin-bottom: 0px;
    }

    .slider-item .icon-li {
        clear: both;
    }

        .slider-item .icon-li li a {
            border-bottom: none;
            line-height: 22px;
        }

            .slider-item .icon-li li a strong {
                font-size: 16px;
            }

    .slider-item .paral {
        border-left: solid 1px #eee;
        border-right: solid 1px #eee;
    }

.product-sdlier-mobile .owl-dots {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.slider-item {
    padding-top: 40px;
    padding-bottom: 30px;
    min-height: 200px;
}

#product-collaps .findoutmore {
    margin-top: 15px;
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
}

    #product-collaps .findoutmore:after {
        margin: 0px;
        width: 45px;
        height: 45px;
    }

    #product-collaps .findoutmore span {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 105px;
        height: 45px;
    }
	#product-collaps .findoutmore.bravecto_vets span{
		width: 225px;
	}
	#product-collaps .findoutmore.bravecto_vets3 span{
		left:-70px;
	}
.oval {
    width: 480px;
    height: 480px;
    border-radius: 240px;
    -webkit-border-radius: 240px;
    -moz-border-radius: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
    position: relative;
    background-color: #fff;
}

.show .oval-blue {
    background-color: #f85124;
}

.show .oval-orange {
    background-color: #005EB8;
}

.show .oval-purpal {
    background-color: #FE5000;
}

.show .oval-green {
    background-color: #C4D600;
}


.oval img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.oval-purpal img {
    margin-left: 5px;
    bottom: -73px;
}

.oval-orange img {
    bottom: -140px;
}

.oval-green img {
    margin-left: -38px;
    bottom: -68px;
}


.mobile-active .nav-link {
    color: #8160A2;
}

.topfix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

body {
    padding-top: 175px;
}

.top-header-img {
    width: 380px;
    height: 75px;
}

.darkHeader .brand-logo img {
    width: 140px;
    margin-top: 10px;
}

.darkHeader .top-header-img {
    width: 1px;
    height: 0px;
}

.darkHeader .mainnav {
    padding-top: 0px;
}

#producttab {
    z-index: 9;
    position: absolute;
    width: 100%;
}

d-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

h3.bigheading {
    font-size: 32px;
    line-height: 40px;
    font-weight: normal;
}

.col-4 {
    width: 33.333333%;
}


.col-3-section {
    padding-top: 100px;
    padding-bottom: 80px;
}

.glid-list {
    background-color: #F8F8F8;
    height: 100%;
    position: relative;
    padding: 34px 40px;
}

    .glid-list figure {
        text-align: center;
        margin-top: -100px;
        margin-bottom: 40px;
    }

    .glid-list h5 {
        margin-bottom: 16px;
    }

.inner-header {
    background-color: #F3F3F3;
    padding-bottom: 45px;
}

    .inner-header figure {
        margin-bottom: 0px;
        height: 450px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .inner-header figure img {
            -ms-flex-item-align: end;
            align-self: end;
            justfy-content: center;
            -webkit-justfy-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }

.header-text-inner {
    padding-top: 200px;
    max-width: 600px;
}

    .header-text-inner h1 {
        font-size: 50px;
        color: #582c83;
        margin-bottom: 30px;
		letter-spacing:-0.025em;
    }

	.header-text-inner h1.color_green{color:#4db949;}
	.header-text-inner h1.color_red{color:#de1a86;}
	.header-text-inner h1.color_yellow{color:#ffb129;}

    .header-text-inner p {
        font-size: 20px;
        max-width: 550px;
    }

.findoutmore i {
    font-style: normal;
}

.row.row-2 {
    margin-right: -22px;
    margin-left: -22px;
}

.row-2 .col-lg-4 {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 74px;
}

.text-block.alternet-text-block {
    background-color: #F3F3F3;
    padding: 80px;
    width: calc(100% + 116px);
    position: relative;
    z-index: 2;
}

.alternet-text-block-bottom {
    margin-left: -116px;
}

.alternet-list-last {
    padding-top: 100px;
}

.facts-ticks {
    position: relative;
}

    .facts-ticks:before {
        position: absolute;
        width: 50%;
        background-color: #582C83;
        left: 0;
        top: 0px;
        height: 100%;
        content: ''
    }

.facts-list {
    padding-top: 100px;
    padding-bottom: 60px;
}

    .facts-list h6 {
        font-size: 16px;
        font-weight: bold;
    }

    .facts-list ul {
        padding: 0px;
    }

        .facts-list ul li {
            list-style: none;
            margin-bottom: 26px;
            padding-left: 30px;
            background-image: url(../images/icons/bulletpaw-b.svg);
            background-repeat: no-repeat;
            background-position: left top;
            max-width: 578px;
        }

.facts-light * {
    color: #fff;
}

.facts-list.facts-light ul li {
    background-image: url(../images/icons/paw.svg);
}

.facts-list h4 {
    margin-bottom: 30px;
}

.facts-list.extrta-pad {
    padding-left: 74px;
}

.identify {
    padding: 50px 0 100px;
}

.identify-list img {
    margin-bottom: 30px;
}

.identify-list {
    padding-top: 80px;
}

    .identify-list h6 {
        font-weight: bold;
        margin-bottom: 50px;
    }

    .identify-list h5 {
        margin-bottom: 40px;
    }

.identify-list {
    text-align: center;
    max-width: 470px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

    .identify-list p {
        min-height: 150px;
    }

    .identify-list .red-lable {
        margin-bottom: 30px;
    }

.identify-list-right-border {
    border-right: 1px solid #CCC;
    position: absolute;
    right: 0px;
    top: 80px;
    width: 1px;
    height: calc(100% - 80px);
}

.red-lable {
    display: inline-block;
    padding: 0 15px;
    line-height: 35px;
    background-color: #C8102E;
    color: #fff;
    font-weight: 14px;
    font-weight: bold;
}

.benefits.mb-more {
    min-height: 550px;
}

.benefits-list ul {
    padding: 0px;
}

    .benefits-list ul li {
        border-bottom: solid 1px #ccc;
        list-style: none;
        padding-bottom: 20px;
        padding-top: 30px;
    }

        .benefits-list ul li h6 {
            font-weight: bold;
            margin-bottom: 15px;
        }

.fleestext {
    max-width: 890px;
    padding: 20px 20px 0px 20px;
    text-align: center;
    margin: auto;
}

.col-3-section.less-pading {
    padding-bottom: 100px;
}

.container-2 {
    max-width: 1112px;
    margin: auto;
}

    .container-2 .col-lg-6 {
        padding: 0 38px;
    }

.vet-Resources {
    padding: 60px 0 0 0;
}

    .vet-Resources h3 {
        padding: 0 34px 0 34px;
        margin-bottom: 24px;
    }

    .vet-Resources p {
        padding: 0 34px 0 34px;
        margin-bottom: 24px;
    }

    .vet-Resources .findoutmore {
        display: block;
        padding-left: 34px;
        line-height: 96px;
        border-top: solid 1px #ccc;
        font-size: 20px;
    }

        .vet-Resources .findoutmore:hover {
            background-color: #C8102E;
            color: #fff;
        }

        .vet-Resources .findoutmore:after, .vet-Resources .findoutmore:before {
            top: 22px;
            right: 23px;
        }

        .vet-Resources .findoutmore:before {
            background-color: #D34058;
        }

p.top-line {
    border-top: solid 1px #7A579B;
    max-width: 578px;
    padding-top: 30px;
}

.contactus {
    background-color: #F7F7F7;
    padding: 60px 0 60px;
}

.contact-wrap {
    max-width: 480px;
}
.contact-wrap.type02 {max-width:100%; margin-bottom:40px;}

    .contact-wrap h1 {
        font-size: 48px;
        color: #582C83;
        margin-bottom: 20px;
    }
		.contact-wrap h1 span.weight_l {
			font-weight:200; 
		}

    .contact-wrap h6 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .contact-wrap ul {
        padding: 0px;
        list-style: none;
        margin-bottom: 100px;
    }

        .contact-wrap ul li {
            background-color: #fff;
        }

            .contact-wrap ul li a {
                background-color: #fff;
                display: block;
                position: relative;
                padding-left: 108px;
                height: 100px;
                padding-top: 25px;
                color: #575756;
				text-align:left;
            }

                .contact-wrap ul li a:after {
                    content: '';
                    position: absolute;
                    left: 20px;
                    top: 24px;
                    border-radius: 25px;
                    width: 48px;
                    height: 48px;
                    background-color: #C8102E;
                    background-image: url(../images/icons/call.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    opacity: 1;
                }

            .contact-wrap ul li.maillink a:after {
                content: '';
                position: absolute;
                left: 20px;
                top: 24px;
                border-radius: 25px;
                width: 48px;
                height: 48px;
                background-color: #C8102E;
                background-image: url(../images/icons/mail.svg);
                background-repeat: no-repeat;
                background-position: center center;
                opacity: 1;
            }

            .contact-wrap ul li a:before {
                content: '';
                position: absolute;
                left: 20px;
                top: 24px;
                border-radius: 25px;
                width: 48px;
                height: 48px;
                background-color: #D34058;
                background-image: url(../images/icons/paw.svg);
                background-repeat: no-repeat;
                background-position: center center;
                opacity: 0;
            }

            .contact-wrap ul li a:hover:before {
                opacity: 1;
            }

            .contact-wrap ul li a:hover:after {
                opacity: 0;
            }

            .contact-wrap ul li a small {
                font-size: 14px;
                font-weight: bold;
                display: block;
                color: #C8102E;
            }

            .contact-wrap ul li a b {
                font-size: 32px;
                font-weight: bold;
                display: block;
            }

            .contact-wrap ul li a span {
                font-size: 20px;
                font-weight: bold;
                display: block;
            }

            .contact-wrap ul li a:hover {
                background-color: #C8102E;
                color: #fff;
            }

                .contact-wrap ul li a:hover small {
                    color: #fff;
                }

.contact-note {
    font-size: 16px;
}

.vetlink:hover .dropdown-menu {
    display: block;
}

.find-stockist-form {
    max-width: 431px;
}

.getbravecto-header {
    padding-top: 50px;
    padding-bottom: 50px;
}

#map {
    width: 100%;
    height: 540px;
}

.map-search {
    padding-top: 100px;
}

    .map-search h1 {
        text-align: center;
        font-size: 40px;
    }

        .map-search h1 span.search-keyword {
            display: block;
        }

    .map-search h5 {
        text-align: center;
    }

.stokist-address, .stokist-address * {
    text-align: left !important;
}

.hero-text {
    font-size: 20px;
    padding-top: 73px;
    padding-bottom: 55px;
}

.stokist-address p {
    min-height: 100px;
}

.contact-cta {
    padding-top: 82px;
    padding-bottom: 82px;
}

    .contact-cta h1 {
        text-align: center;
        margin-bottom: 34px;
    }

    .contact-cta .contact-wrap {
        max-width: 960px;
        margin: auto;
    }
	.contact-cta .contact-wrap ul{font-size:0; text-align:center;}

        .contact-cta .contact-wrap ul li {
            display: inline-block; vertical-align:top;
            width: 50%;
        }

        .contact-cta .contact-wrap ul {
            margin-bottom: 0px;
        }

.error-page {
    text-align: center;
    padding: 80px 20px;
}

.error-page {
    font-size: 22px;
}

.errorimg {
    padding-top: 60px;
    padding-bottom: 60px;
}

.resources {
    padding: 30px 20px;
    text-align: center;
}

    .resources h1 {
        color: #582C83;
        font-size: 50px;
        margin: 0px;
        line-height: 50px;
    }

.resources-list .container, .resources-papers .container {
    max-width: 1220px;
}

.resources-list {
    padding-top: 90px;
    padding-bottom: 70px;
    background-color: #582C83;
}

    .resources-list .col-lg-3 {
        margin-bottom: 30px;
    }

.re-list-box {
    background-color: #F3F3F3;
    padding: 30px;
    height: 100%;
    position: relative;
    display: block;
}

    .re-list-box:hover {
        background-color: #fff;
        -webkit-box-shadow: 0px 26px 38px -18px rgba(0,0,0,0.64);
        -moz-box-shadow: 0px 26px 38px -18px rgba(0,0,0,0.64);
        box-shadow: 0px 26px 38px -18px rgba(0,0,0,0.64);
    }

    .re-list-box h3 {
        font-size: 20px;
        line-height: 32px;
        color: #575756;
        font-weight: bold;
        margin-bottom: 0px;
        min-height: 120px;
    }

    .re-list-box:hover h3 {
        color: #C8102E;
    }

    .re-list-box span {
        font-size: 14px;
        color: #C8102E;
        font-weight: bold;
    }

        .re-list-box span img {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
        }

    .re-list-box:hover span img {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

.resources-list h2 {
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    max-width: 562px;
    margin: 0 auto 45px auto;
}


.resources-red {
    background-color: #C8102E;
}

.resources-black {
    background-color: #5c5a5b;
}

.resources-papers {
    padding: 80px 0px;
}

.paper-title h1 {
    font-size: 40px;
    color: #575756;
    margin-bottom: 20px;
    line-height: 40px;
    text-align: center;
}

.paper-title {
    text-align: center;
    max-width: 892px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

    .paper-title p {
        padding-top: 30px;
        margin-bottom: 0px;
    }

.resources-papers .container .col-12 {
    margin-bottom: 30px;
}

    .resources-papers .container .col-12 a {
        display: block;
        padding: 25px;
        color: #575756;
        background-color: #fff;
        height: 100%;
    }

        .resources-papers .container .col-12 a:hover {
            color: #C8102E;
            background-color: #fff;
            -webkit-box-shadow: 0px 26px 38px -18px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 26px 38px -18px rgba(0,0,0,0.2);
            box-shadow: 0px 26px 38px -18px rgba(0,0,0,0.2);
        }

span.correct {
    display: inline-block;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/correct.svg);
}

.inlinelink {
    display: inline !important;
    padding: 0px !important;
    font-weight: normal !important;
    text-decoration: underline !important;
}

    .inlinelink:hover {
        text-decoration: none !important;
    }

    .inlinelink:after {
        display: none;
    }

.product-details-top.pb-180 .findoutmore {
    margin-top: 20px;
}

.product-details-top.pb-180 {
    margin-bottom: 0px;
    height: 100%;
    padding-bottom: 0px;
}

.product-section {
    padding-bottom: 180px;
}

.plus {
    font-weight: inherit;
    font-style: inherit;
}

.faq-how-to-use-desc {
    max-width: 500px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

    .faq-how-to-use-desc div {
        float: left;
        width: 33.3%;
        color: #582C83;
        letter-spacing: 0px;
        font-size: 14px;
        line-height: 16px;
        padding: 5px;
    }

.protect-table-row td {
    text-align: center;
}


.ing_img{max-width:100%; display:block; margin:0 auto; text-align:center;}
.ing_img img{max-width:100%; display:block; margin:0 auto;}
.color_g {color:#575756; }
a.color_g:hover {color:#575756; }

p.red_arrow {position:relative; padding-left:25px; box-sizing:border-box; }
p.red_arrow:before {content:''; position:absolute; left:0; top:10px; width:8px; height:9px; background:url('/images/red_arrow.png') no-repeat center center; }
p.pdl25 {padding-left:25px; box-sizing:border-box; }
p.pdl25 a {margin-right:20px; }
p.mt40 {margin-top:40px; }

@media (max-width: 1600px){
	.img_width{width:100%;}
	.chew_con .top-minouse{margin-left:0;} 
	.img-fluid{width:auto !important;}
	.text-block.alternet-text-block{width:100%}
}
@media (max-width: 400px) {
 p.pdl25 {padding-left:0}
 p.pdl25 a {margin-right:0; }
}
/* 메인비주얼 */
.owl-carousel .owl-item img:nth-of-type(2){display:none;}
@media (max-width: 991px) {
	
	.main_visual .owl-carousel .owl-item img:nth-of-type(1){display:none;}
	.main_visual .owl-carousel .owl-item img:nth-of-type(2){display:block;}
}



/* 비디오 추가 */
.video_con{padding:100px 0;}
.video_con .video_box{width:820px; max-width:100%; height:470px; margin:0 auto;}
.video_con .video_box iframe{width:100%; height:100%;}

/* 수의학적 정보 */
.resources_con01{background:#F3F3F3; padding-top:0;}
.resources_con01 p.text{position:relative; padding-left:20px;}
.resources_con01 p.text:before{display:none; content:'';  position:absolute; width:8px; height:9px; background:url('/images/contact-us/contact_us_icon01.png') no-repeat center center / contain; top:8px; left:0;}
@media all and (max-width:1200px){
	.resources_con01 p.text br{display:none;}
}

/* 스마트 리마인더 */
.contactus_con01{}
.contactus_con01 p.text{position:relative; padding-left:20px;}
.contactus_con01 p.text:before{content:''; display:none; position:absolute; width:8px; height:9px; background:url('/images/contact-us/contact_us_icon01.png') no-repeat center center / contain; top:8px; left:0;}
@media all and (max-width:1200px){
	.contactus_con01 p.text br{display:none;}
}

.contactus_con02{padding:100px 0; background:#fff;}
.contactus_con02 ul{margin:0; list-style:none; font-size:0; letter-spacing:-4px; text-align:center; width:100%; padding:0;}
.contactus_con02 ul li{display:inline-block; vertical-align:top; margin:10px 0;margin-right:40px; width:calc(33.333333% - 27px);}
.contactus_con02 ul li:last-of-type{margin-right:0;}
.contactus_con02 ul li .img_box{margin-bottom:20px;}
.contactus_con02 ul li .img_box img{max-width:100%;}
.contactus_con02 ul li p{font-size:20px; color:#666; letter-spacing:-0.08em; font-weight:300; line-height:30px;}
@media all and (max-width:1000px){
	.contactus_con02 ul li{width:calc(50% - 20px);}
	.contactus_con02 ul li:nth-of-type(2n){margin-right:0;}
}
@media all and (max-width:767px){
	.contactus_con02 ul li{width:100%; margin-right:0;}
}

.contactus_con03{padding:100px 0; background:#f7f7f7; text-align:center;}
.contactus_con03 h4{font-size:48px; color:#582c83; letter-spacing:-0.08em; font-weight:300; line-height:58px; margin:0;}
.contactus_con03 h4 b{font-weight:bold;}
.contactus_con03 p{font-size:20px; color:#666; letter-spacing:-0.08em; font-weight:200; line-height:30px;}
.contactus_con03 p b{color:#222; font-weight:bold;}
.contactus_con03 ul{margin:0; list-style:none; margin-top:60px; font-size:0; letter-spacing:-4px; padding:0; width:100%;}
.contactus_con03 ul li{display:inline-block; vertical-align:top; margin-right:40px;}
.contactus_con03 ul li:last-of-type{margin-right:0;}
.contactus_con03 ul li a{display:block;}
.contactus_con03 ul li img{max-width:100%;}
@media all and (max-width:1000px){
	.contactus_con03 ul li{max-width:calc(50% - 20px);}
}
@media all and (max-width:767px){
	.contactus_con03 ul li{width:calc(50% - 5px); margin-right:10px;}
}



/* footer_top_txt_box */
.footer_top_txt_box {padding:150px 0 45px; background-color:#3d2950; }
.footer_top_txt_box p {border-top:1px solid #988ea2; border-bottom:1px solid #988ea2; padding:40px 20px 40px; box-sizing:border-box; font-size:14px; font-weight:200; color:#ffffff; letter-spacing:-0.05em; line-height:24px; text-align:center; }





