@import url("../fonts/stylesheet.css"); 
:root {
	--red: #C8102E;
    --blue: #00A3E0;
	--purpal: #582C83;
	--ornage: #FE5000;
	--white :#fff;
	--black: #000;



}

h1{ font-size:34px; font-weight:bold; }
h2{ font-size:34px; font-weight:bold;}
 h3{ font-size:32px;  }
 h4{ font-size:32px; } 
 h5{ font-size:20px; font-weight:bold;}


.pull-left{ float:left;}
.pull-right{ float:right;}


.fww{position: relative;}
.fwl{ margin-left: calc(-50vw + 50% + 10px); position: relative;}
.fwr{ margin-right: calc(-50vw + 50% + 10px); position: relative; }
.fwa{  width: 100vw; margin-left: calc(-50vw + 50% - 8px); position: relative;}


:focus {outline:none;}
a:hover {text-decoration: none;}
a, a:after, a:before , button:after, button:before , button, .btn, .transition, .btn-arrow, .fads, .top-header-img, .brand-logo img, .mainnav, .oval, .fadi, .header-mobile, .header-mobile img, .contact-wrap ul li a small, .re-list-box * {transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -ms-transition: all 0.4s ease 0s;}

/* font-family: 'Helvetica';  */
body {font-family:'Noto Sans KR', sans-serif; font-weight:normal; font-size: 18px;line-height: 163%;color: #575756; overflow-x:hidden;}

p:last-child {margin-bottom: 0;}

.container-1 { max-width:1200px; margin:auto;}
.mobile-only { display:none !important;}

